<div class="btn-close-region"><a class="btn-close">&#215;</a></div>
<div class="campaign-container">
  <div class="game-background game-background-landscape" style="background-image: url(<%= data.endScreenLandscape %>)"></div>
  <div class="game-background game-background-portrait" style="background-image: url(<%= data.endScreenPortrait %>)"></div>
  <div class="end-screen-info-background">
    <div class="end-screen-stripe"></div>
    <div class="end-screen-info">
      <div class="game-info">
        <div class="game-icon" style="background-image: url(<%= data.gameIcon %>)"></div>
        <div class="name-container"><%= data.gameName %></div>
      </div>
      <div class="store-container">
        <a class="store-button"></a>
        <div class="game-store-info">
          <span class="game-rating"><span class="game-rating-mask" style="width: <%= data.rating %>%">&#9733;&#9733;&#9733;&#9733;&#9733;</span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
          <br class="game-rating-br">
          <span class="game-rating-count">
            (<span class="game-rating-count-number"><%= data.ratingCount %></span><span class="game-rating-postfix"> Ratings</span>)
          </span>
        </div>
      </div>
      <div class="download-container">
        <a class="btn-download">
          <span class="download-text">Download For Free</span>
        </a>
      </div>
      <div class="store-badge-container">
        <a class="btn-store-badge"></a>
      </div>
      <div class="unityads-logo"></div>
    </div>
  </div>
</div>
