<div class="btn-close-region<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
  <span class="icon-close"></span>
</div>
<div class="campaign-container<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
  <div class="game-background-container">
    <div class="game-background game-background-landscape" style="background-image: url('<%= data.endScreenLandscape && data.endScreenLandscape.replace("file://", "") %>')"></div>
    <div class="game-background game-background-portrait" style="background-image: url('<%= data.endScreenPortrait && data.endScreenPortrait.replace("file://", "") %>')"></div>
    <div class="gdpr-pop-up">
      <div class="icon-gdpr"></div>
      <div class="gdpr-text">
        <%= data.t("privacy-legitimate-interest-pop-up-1") %>
        <span class="gdpr-link"><%= data.t("privacy-legitimate-interest-pop-up-2") %></span>
        <%= data.t("privacy-legitimate-interest-pop-up-3") %>
      </div>
    </div>
  </div>
  <div class="end-screen-info-background">
    <div class="end-screen-info">
      <div class="column-container">
        <div class="game-icon" style="background-image: url('<%= data.gameIcon && data.gameIcon.replace("file://", "") %>')"></div>
        <div class="name-container">
          <%= data.gameName %>
        </div>
        <div class="store-container">
          <% if(!!data.rating) { %>
            <span class="game-rating">
              <span class="game-rating-stars-top" style="width: <%= data.rating %>%">
                <span class="icon-star first-icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </span>
              <span class="game-rating-stars-bottom">
                <span class="icon-star first-icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </span>
            </span>
          <% } %>

          <% if (!!data.ratingCount && data.ratingCount !== "0") { %>
            <span class="game-rating-count">
              (<span class="game-rating-count-number"><%= data.ratingCount %></span>)
            </span>
          <% } %>
        </div>
        <div class="download-container">
          <span class="download-text"><%= data.t("Download For Free") %></span>
        </div>
        <div class="download-message-container">
          <span class="download-message-text"></span>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="privacy-button"><span class="icon-gdpr"></span></div>
      <div class="icon-unity-ads-logo"></div>
      <div class="china-advertisement">广告</div>
    </div>
  </div>
</div>
