<div class="btn-close-region<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>"><a class="btn-close"><span class="icon-close"></span></a></div>
<div class="campaign-container<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
  <div class="game-background game-background-landscape" style="background-image: url(<%= data.endScreenLandscape %>)"></div>
  <div class="game-background game-background-portrait" style="background-image: url(<%= data.endScreenPortrait %>)"></div>
  <div class="info-container">
    <div class="end-screen-info-background">
      <div class="end-screen-stripe"></div>
      <div class="end-screen-info">
        <div class="game-info">
          <div class="game-icon" style="background-image: url(<%= data.gameIcon %>)"></div>
          <div class="name-container"><%= data.gameName %></div>
        </div>
        <div class="store-container">
        <span class="game-rating">
          <span class="game-rating-mask" style="width: <%= data.rating %>%">
          <% for (var i = 0; i < 5; i++) { %><span class="icon-star"></span><% } %>
          </span>
          <% for (var i = 0; i < 5; i++) { %><span class="icon-star"></span><% } %>
        </span>
          <span class="game-rating-count">
          (<span class="game-rating-count-number"><%= data.ratingCount %></span>)
        </span>
        </div>
        <div class="download-container">
          <a class="btn-download">
            <span class="download-text"><%= data.t("Download For Free") %></span>
          </a>
        </div>
      </div>
      <div class="privacy-button"><span class="icon-info"></span></div>
      <div class="unityads-logo"></div>
    </div>
  </div>
</div>
