<div class="close-region">
    <div class="close">
        <span class="icon-close"></span>
        <div class="circle-base"></div>
        <div class="progress-wrapper">
            <div class="circle-left"></div>
            <div class="circle-right"></div>
        </div>
    </div>
</div>
<div class="gdpr-pop-up">
    <div class="icon-gdpr"></div>
    <div class="gdpr-text">Unity is personalizing your ads experience in this application. <span class="gdpr-link">Tap here</span> to learn more about Unity and your privacy choices.</div>
</div>
<div class="loading-screen">
    <div class="container">
        <div class="user-text"><%= data.t("Try the playable demo") %></div>
        <div class="game-icon" style="background-image:  url('<%= data.gameIcon %>')"></div>
        <div class="store-container">

            <% if(!!data.rating) { %>
            <span class="game-rating">
                <span class="game-rating-mask" style="width: <%= data.rating %>%">
                    <% for (var i = 0; i < 5; i++) { %><span class="icon-star"></span><% } %>
                </span>
                <% for (var i = 0; i < 5; i++) { %><span class="icon-star"></span><% } %>
            </span>
            <% } %>

            <% if (!!data.ratingCount && data.ratingCount !== "0") { %>
            <span class="game-rating-count">
                (<span class="game-rating-count-number"><%= data.ratingCount %></span>)
            </span>
            <% } %>

        </div>
        <div class="name-container"><%= data.gameName %></div>
        <div class="progress-bar">
            <span class="filling"></span>
        </div>
    </div>
    <div class="unityads-logo"></div>
</div>
<div class="loading-screen-ar">
    <div class="container">
        <div class="user-text">
            <%= data.t("Loading AR experience") %>
        </div>
        <div class="progress-bar">
            <span class="filling"></span>
        </div>
    </div>
    <div class="unityads-logo"></div>
</div>
<div class="camera-permission-panel">
    <div class="container">
        <div class="arads-logo"></div>
        <div class="permission-text">
            <p><%= data.t("This is an Augmented Reality Advertisement and is best viewed with your camera.") %></p>
            <p class="request-text"><%= data.t("Please grant camera access when your device asks for it.") %></p>
        </div>
        <div class="permission-choice-buttons">
            <div class="permission-decline-button">
                <%= data.t("No Thanks") %>
            </div>
            <div class="permission-accept-button">
                <%= data.t("Begin") %>
            </div>
        </div>
    </div>
    <div class="gdpr-link">
        <span class="icon-gdpr"></span>
    </div>
    <div class="show-learn-more-button">
        <span class="icon-info"></span>
    </div>
</div>
<div class="permissions-learn-more">
    <div class="pop-up">
        <div class="pop-up-content">
            <div class="title centered-title"><%= data.t("AR Advertisement Notice") %></div>
            <p><%= data.t("This ad contains augmented reality (\“AR\”) components that will provide you with branded AR Advertisements (\“AR Advertisement\”).") %></p>
            <p><%= data.t("While using the AR Advertisement please be aware of your surroundings and be considerate of others.  You understand and agree that your use of the AR Advertisement is at your own risk.") %></p>
            <p><%= data.t("The AR Advertisement requires use of your device’s camera, which could result in cached images saved to your device.  As always, keep your device’s software up to date to ensure you have the most recent security measures installed.") %></p>
            <p><%= data.t("You are solely responsible for photos/videos you use in connection with the AR Advertisement. If you choose to share your photos/videos with the AR Advertisement to other platforms or users, they may have access to your name, technology that permits tagging you through facial recognition, and other identifying information depending on the platform to which you share.") %></p>
            <p><%= data.t("The AR Advertisement uses data in accordance with our Privacy Policy.  You can opt out at anytime by clicking the privacy icon below.") %></p>
        </div>
        <div class="fade-out-gradient-separator"></div>
        <div class="pop-up-footer">
            <div class="learn-more-meta left-side-link">
                <div class="gdpr-link meta-link">
                    <span class="icon-gdpr"></span>
                </div>
                <a class="meta-link launch-privacy" href="https://unity3d.com/legal/privacy-policy">Privacy Policy</a>
            </div>
            <div class="hide-learn-more-button close-button">Ok</div>
        </div>
    </div>
</div>
<div class="privacy-button"><span class="icon-gdpr"></span></div>
<iframe id="mraid-iframe" scrolling="no" sandbox="allow-scripts"></iframe>
