<div class="btn-close-region<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
    <span class="icon-close"></span>
</div>
<div class="campaign-container<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
    <div class="game-background-blurred game-background-landscape-blurred" style="background-image: url('<%= data.endScreenLandscape && data.endScreenLandscape.replace("file://", "") %>')"></div>
    <div class="game-background-blurred game-background-portrait-blurred" style="background-image: url('<%= data.endScreenPortrait && data.endScreenPortrait.replace("file://", "") %>')"></div>
    <div class="content-container">
        <div class="game-image-container">
            <div class="game-background game-background-landscape" style="background-image: url('<%= data.endScreenLandscape && data.endScreenLandscape.replace("file://", "") %>')"></div>
            <div class="game-background game-background-portrait" style="background-image: url('<%= data.endScreenPortrait && data.endScreenPortrait.replace("file://", "") %>')"></div>
        </div>
        <div class="end-screen-info-background">
            <!--TODO: Is it in use?-->
            <!--<div class="end-screen-stripe"></div>-->
            <div class="end-screen-info">
                <div class="row-container">
                    <div class="game-icon" style="background-image: url(<%= data.gameIcon && data.gameIcon.replace("file://", "") %>)"></div>
                    <div class="column-container">
                        <div class="name-container"><%= data.gameName %></div>
                        <div class="store-container">
                            <% if(!!data.rating) { %>
                                <span class="game-rating">
                                    <span class="game-rating-mask" style="width: <%= data.rating %>%">
                                        <% for (var i = 0; i < 5; i++) { %>
                                            <span class="icon-star"></span>
                                        <% } %>
                                    </span>
                                    <% for (var i = 0; i < 5; i++) { %>
                                        <span class="icon-star"></span>
                                    <% } %>
                                  </span>
                            <% } %>
                            <% if (!!data.ratingCount && data.ratingCount !== "0") { %>
                                <span class="game-rating-count">
                                    (<span class="game-rating-count-number"><%= data.ratingCount %></span>)
                                </span>
                            <% } %>
                        </div>
                    </div>
                </div>
            <div class="download-container">
                <span class="download-text"><%= data.t("Download For Free") %></span>
            </div>
            </div>
            <div class="bottom-container">
                <div class="unityads-logo"></div>
                <div class="privacy-button"><span class="icon-info"></span></div>
            </div>
        </div>
    </div>
</div>