<div class="pop-up">
    <div class="pop-up-content">
        <span class="icon-gdpr"></span>
        <span class="title centered-title">A message from Unity about your privacy</span>

        <p>
            Ads allow developers to offer great apps for free. We try to show the apps and products that will be
            most interesting to you based on the apps you use, the device you use, and the country you are in.
        </p>

        <p>
            <span class="highlight">Most of the information we use for this personalization is based on your device’s advertising ID (
            <span class="gdpr-text-ios">Apple’s Advertising Identifier</span>
            <span class="gdpr-text-android">Google Ad Identifier</span>) and your IP address.</span>
            <span id="coppaTag1"></span>
        </p>

        <p>
            Our <a href="https://unity3d.com/legal/privacy-policy">Privacy Policy</a> explains how we manage your
            data and how we work with partners who serve ads.
            <span id="coppaTag2">
            </span>
        </p>

        <p>
            From your interaction with this app, here is an example of the information we use to predict which other apps might interest
            you: 
        </p>

        <p>
            <span id='phone-type'></span>
        </p>

        <p>
            <span id='country'></span>
        </p>

        <p>
            <span id='game-plays-this-week'></span>
        </p>

        <p>
            <span id='ads-seen-in-game'></span>
        </p>

        <p>
            <span id='games-installed-from-ads'></span>
        </p>

        <p>
            <span id='sorry-message'></span>
        </p>


        <p><span class="header">Selection</span></p>
        <p>
            You can choose to continue to have a personalized experience, or to have a generic one.
            This will apply to both advertising that comes from Unity directly as well as from advertising partners.
        </p>

        <div class="radio-group-container">
            <div class="radio-item-container">
                <input id="gdpr-agree-radio" name="gdpr-radio-group" type="radio">
                <label for="gdpr-agree-radio">Yes, I agree to a personalized experience.</label>
            </div>
            <div class="radio-item-container">
                <input id="gdpr-refuse-radio" name="gdpr-radio-group" type="radio">
                <label for="gdpr-refuse-radio">
                    No, I do not want personalized experience.
                </label>
            </div>
        </div>

        <p>
            <span class="header">Changing your privacy choice</span>
            You can access these options at any time by tapping the Unity Data Privacy icon when an ad appears.
        </p>

        <p>
            <span class="header">Data Management</span>

            You can delete any data Unity has about your device by clicking <span class="data-deletion-link page-link">here</span>.
            <span id="coppaTag3"></span>

            <span id="data-deletion-container">Are you sure?  <span id="data-deletion-confirm"
                                                                    class="page-link">Yes</span> / <span
                    class="data-deletion-reject page-link">No</span></span>
            <span id="data-deletion-request-container">We will process your request and your data will be deleted in 30 days. We will also
                    opt you out of personalized ads.                    
</span>
        </p>

    </div>
    <div class="pop-up-content back-side">
        <% for (var k in data.buildInformation) { %>
        <span class="build-information-key"><%= k %>:</span> <span class="build-information-value"> <%= (data.buildInformation[k] === null || typeof data.buildInformation[k] === "undefined") ? "N/A" : data.buildInformation[k] %></span>;
        <% } %>
    </div>
    <div class="fade-out-gradient-separator"></div>
    <div class="pop-up-footer">
        <div class="left-side-link"></div>
        <div class="close-button">Confirm</div>
    </div>
</div>
