<div class="close-region">
    <div class="close">
        <span class="icon-close"></span>
        <div class="circle-base"></div>
        <div class="progress-wrapper">
            <div class="circle-left"></div>
            <div class="circle-right"></div>
        </div>
    </div>
</div>
<div class="buffering-spinner">
    <div class="spinner-animation"></div>
    <div class="spinner-text"><%= data.t("Buffering") %></div>
</div>
<div class="mute-button <%= data.muted ? 'muted' : '' %>">
    <div class="mute-icon"><span class="icon-volume"></span></div>
    <div class="unmute-icon"><span class="icon-volume-mute"></span></div>
</div>
<div class="call-button"><%= data.t("Learn More") %></div>
<div class="debug-message-text"></div>
