<div class="skip-button button button-top button-left">
    <div class="tab">
        <span class="icon icon-skip"></span>
    </div>
</div>
<div class="timer-button button button-top button-right">
    <div class="tab">
        <div class="timer"></div>
    </div>
</div>
<div class="buffering-spinner">
    <div class="spinner-animation"></div>
    <div class="spinner-text">
        <%= data.t("Buffering") %>
    </div>
</div>
<div class="mute-button button button-bottom button-left <%= data.muted ? 'muted' : '' %>">
    <div class="tab">
        <span class="icon icon-volume"></span>
        <span class="icon icon-volume-mute"></span>
    </div>
</div>
<div class="call-button button button-bottom button-right">
    <div class="tab">
        <%= data.t("Learn More") %>
    </div>
</div>
<div class="debug-message-text"></div>