<div class="content">
    <div class="top-container">
        <div class="left-corner">
            <div class="skip-button button button-left">
                <div class="tab">
                    <div class="icon-container">
                        <span class="icon icon-skip"></span>
                    </div>
                    <div class="icon-container">
                        <span class="icon icon-close"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-corner">
            <div class="timer-button button button-right">
                <div class="tab">
                    <div class="timer-container">
                        <div class="timer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buffering-spinner">
        <div class="spinner-animation"></div>
        <div class="spinner-text">
            <%= data.t("Buffering") %>
        </div>
    </div>
    <div class="bottom-container">
        <div class="left-corner">
            <div class="mute-button button button-left <%= data.muted ? 'muted' : '' %>">
                <div class="tab">
                    <div class="icon-container">
                        <span class="icon icon-volume"></span>
                    </div>
                    <div class="icon-container">
                        <span class="icon icon-volume-mute"></span>
                    </div>
                </div>
            </div>
            <div class="gdpr-button button">
                <div class="tab tab-rounded gdpr-tab">
                    <div class="icon-container">
                        <span class="icon icon-gdpr"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="gdpr-pop-up">
                <div class="icon-gdpr"></div>
                <div class="gdpr-text">
                    Unity is personalizing your ads experience in this application.
                    <span class="gdpr-link">Tap here</span> to learn more about Unity and your privacy choices.
                </div>
            </div>
        </div>
        <div class="right-corner">
            <div class="call-button button button-bottom button-right">
                <div class="tab">
                    <% if (!!data.gameIcon && data.gameIcon !== "") { %>
                        <div class="download-wrapper">
                            <div class="game-icon" style="background-image: url('<%= data.gameIcon && data.gameIcon.replace("file://", "") %>')"></div>
                            <div class="download-container">
                                <span class="download-text"><%= data.t("Install Now") %></span>
                            </div>
                        </div>
                    <% } else { %>
                        <span class="text"><%= data.t("Learn More") %> <span class="go-text">GO</span></span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="debug-message-text"></div>
    <div class ="tencent-advertisement"></div>
</div>
