<div class="skip-hit-area">
    <div class="skip">
        <div class="skip-icon"><span class="icon-skip"></span></div>
        <div class="circle-base"></div>
        <div class="progress-wrapper">
            <div class="circle-left"></div>
            <div class="circle-right"></div>
        </div>
    </div>
</div>
<div class="progress">
    <div class="circle-base"></div>
    <div class="progress-wrapper">
        <div class="circle-left"></div>
        <div class="circle-right"></div>
    </div>
</div>
<div class="buffering-spinner">
    <div class="spinner-animation"></div>
    <div class="spinner-text"><%= data.t("Buffering") %></div>
</div>
<div class="mute-button <%= data.muted ? 'muted' : '' %>">
    <div class="mute-icon"><span class="icon-volume"></span></div>
    <div class="unmute-icon"><span class="icon-volume-mute"></span></div>
</div>
<div class="call-button"><%= data.t("Learn More") %></div>
<div class="debug-message-text"></div>
<div class="gdpr-pop-up">
        <div class="gdpr-text">Unity is personalizing your ads experience in this application. <span class="gdpr-link">Tap here</span> to learn more about Unity and your privacy choices.</div>
</div>
<div class="privacy-button"><span class="icon-info"></span></div>
    