<div class="view-container">
    <div class="header">
        <div class="close-button ripple-circle">
            <span class="icon-close"></span>
        </div>
    </div>
    <div class="scroll-area-container">
        <div class="title-container">
            <div class="privacy-logo">
                <span class="icon-gdpr"></span>
            </div>
            <div class="title">
                <span><%= data.t("privacy-dialog-title") %></span>
            </div>
            <div class="icon-unity-ads-logo"></div>
            <div class="tool-button-container">
                <div class="report-ad-button ripple-square">
                    <span><%= data.t("privacy-settings-report-ad") %></span>
                </div>
                <div class="build-info-button ripple-square">
                    <span><%= data.t("privacy-settings-build-info") %></span>
                </div>
            </div>
        </div>
        <div class="tool-container">
            <div class="report-ad-container">
                <div class="heading"><span>Report advertisement</span></div>
                <div class="text">
                    <p>
                        Are you facing issues with your current advertisement? You can report this ad to Unity and let us
                        know. Reporting will close this ad, and if the ad has not completed, any rewards will be forfeited.
                    </p>
                </div>
                <ul class="radio-group-container">
                    <% for (var k = 0; k < data.reportReasons.length; k++) { %>
                    <div class="radio-item-container">
                        <input id="<%= data.reportKeys[k] %>" class="report-choice-radio" name="report-reason" type="radio">
                        <label for="<%= data.reportKeys[k] %>">
                            <%= (data.reportReasons[k] === null || typeof data.reportReasons[k] === "undefined") ? "N/A" : data.reportReasons[k] %></label>
                    </div>
                    <% } %>
                </ul>
                <div class="text-small">
                    <p>
                        Disclaimer: Reporting will close this ad, and if the ad has not completed, any rewards will be forfeited.
                    </p>
                </div>
                <div class="report-container">
                    <div class="report-button">Report</div>
                    <span class="report-confirmed-text text"></span>
                </div>
            </div>
            <div class="build-info-container">
                <div class="heading"><span><%= data.t("privacy-settings-build-info") %></span></div>
                <p></p>
                <% for (var k in data.buildInformation) { %>
                <p class="build-information-item text">
                    <span class="build-information-key"><%= k %>:</span>
                    <span class="build-information-value"><%= (data.buildInformation[k] === null || typeof data.buildInformation[k] === "undefined") ? "N/A" : data.buildInformation[k] %></span>
                </p>
                <% } %>
            </div>
        </div>
        <div class="privacy-content-container">
            <% if(data.isCoppaCompliant) { %>
            <div class="coppa">
                <p>
                    <%= data.t("privacy-dialog-text-coppa-p1") %>
                </p>
                <p>
                    <%= data.t("privacy-dialog-text-coppa-p2-1") %>
                    <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-coppa-p2-2") %></a>
                    <%= data.t("privacy-dialog-text-coppa-p2-3") %>
                </p>
            </div>
            <% } else if(!data.isGDPREnabled) { %>
            <div class="not-gdpr">
                <div class="privacy-text">
                    <p>
                        This advertisement has been served by Unity Ads. Unity Ads collects information gathered through
                        your use of apps in order to create an individualized and more relevant user experience and to show
                        you ads that are more likely to interest you (“personalized experiences and ads”).
                    </p>
                    <p>
                        From your interaction with this app, here is an example of the information we use to predict which
                        other apps might interest you:
                    </p>
                    <div class="mini-disclosure-container">
                        <p>
                            <span id="phone-type"><%= data.t("privacy-using") %></span>
                        </p>
                        <p>
                            <span id="country"><%= data.t("privacy-located-in") %></span>
                        </p>

                        <p>
                            <span id="game-plays-this-week"><%= data.t("privacy-used-this-app") %></span>
                        </p>

                        <p>
                            <span id="ads-seen-in-game"><%= data.t("privacy-seen-ads") %></span>
                        </p>

                        <p>
                            <span id="games-installed-from-ads"><%= data.t("privacy-installed-based-on") %></span>
                        </p>
                    </div>
                    <p>
                        Please review our <a href="https://unity3d.com/legal/privacy-policy">Privacy Policy</a> for
                        a full description of our data practices. You can opt-out of Unity Ads’ personalized
                        experiences and ads through your device settings.
                    </p>
                    <div class="padding-block"></div>
                </div>
            </div>
            <% } else if(data.isUserUnderAgeLimit) { %>
            <div class="user-under-age-limit">
                <% if(data.isCCPA) { %>
                <p>
                    <%= data.t("privacy-dialog-text-failed-age-gate-p1-ccpa") %>
                </p>
                <p>
                    <%= data.t("privacy-dialog-text-failed-age-gate-p2-1-ccpa") %>
                    <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-failed-age-gate-p2-2-ccpa") %></a>
                    <%= data.t("privacy-dialog-text-failed-age-gate-p2-3-ccpa") %>
                </p>
                <% } else { %>
                <p>
                    <%= data.t("privacy-dialog-text-failed-age-gate-p1") %>
                </p>
                <p>
                    <%= data.t("privacy-dialog-text-failed-age-gate-p2-1") %>
                    <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-failed-age-gate-p2-2") %></a>
                    <%= data.t("privacy-dialog-text-failed-age-gate-p2-3") %>
                </p>
                <% } %>
            </div>
            <% } else { %>
            <div class="opt-out-flow">
                <p>
                    <%= data.t("privacy-dialog-text-li-p1") %>
                </p>
                <p>
                    <%= data.t("privacy-dialog-text-li-p2") %>
                </p>

                <p>
                    <%= data.t("privacy-dialog-text-li-p3-1") %>
                    <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-li-p3-2") %></a>
                    <%= data.t("privacy-dialog-text-li-p3-3") %>
                </p>
                <p>
                    <%= data.t("privacy-dialog-text-li-p4") %>
                </p>
                <div class="mini-disclosure-container">
                    <p>
                        <span id="phone-type"><%= data.t("privacy-using") %></span>
                    </p>
                    <p>
                        <span id="country"><%= data.t("privacy-located-in") %></span>
                    </p>

                    <p>
                        <span id="game-plays-this-week"><%= data.t("privacy-used-this-app") %></span>
                    </p>

                    <p>
                        <span id="ads-seen-in-game"><%= data.t("privacy-seen-ads") %></span>
                    </p>

                    <p>
                        <span id="games-installed-from-ads"><%= data.t("privacy-installed-based-on") %></span>
                    </p>
                </div>

                <% if(data.isCCPA) { %>
                <h2>
                    <%= data.t("privacy-dialog-text-li-p5-header-ccpa") %>
                </h2>
                <% } else { %>
                <h2>
                    <%= data.t("privacy-dialog-text-li-p5-header") %>
                </h2>
                <% } %>
                <p>
                    <%= data.t("privacy-dialog-text-li-p5") %>
                </p>

                <div class="radio-group-container">
                    <div class="radio-item-container">
                        <input class="ripple-circle" id="gdpr-agree-radio" name="gdpr-radio-group" type="radio">
                        <label for="gdpr-agree-radio">
                            <% if(data.isCCPA) { %>
                            <%= data.t("privacy-dialog-text-li-agree-radio-button-ccpa") %>
                            <% } else { %>
                            <%= data.t("privacy-dialog-text-li-agree-radio-button") %>
                            <% } %>
                        </label>
                    </div>
                    <div class="radio-item-container">
                        <input id="gdpr-refuse-radio" name="gdpr-radio-group" type="radio">
                        <label for="gdpr-refuse-radio">
                            <% if(data.isCCPA) { %>
                            <%= data.t("privacy-dialog-text-li-disagree-radio-button-ccpa") %>
                            <% } else { %>
                            <%= data.t("privacy-dialog-text-li-disagree-radio-button") %>
                            <% } %>
                        </label>
                    </div>
                </div>
                <h2>
                    <%= data.t("privacy-dialog-text-li-p6-header") %>
                </h2>
                <p>
                    <%= data.t("privacy-dialog-text-li-p6") %>
                </p>
                <% if(data.isCCPA) { %>
                <h2>
                    <%= data.t("privacy-dialog-text-li-p7-header-ccpa") %>
                </h2>
                <p>
                    <%= data.t("privacy-dialog-text-li-p7-1-ccpa") %>
                    <span class="data-deletion-link page-link"><%= data.t("privacy-dialog-text-li-p7-2-ccpa") %></span><%= data.t("privacy-dialog-text-li-p7-3-ccpa") %>
                    <span class="data-deletion-note"><%= data.t("privacy-dialog-text-li-p7-data-request-info") %></span>
                    <span id="data-deletion-container"><%= data.t("privacy-dialog-text-li-p7-are-you-sure") %><span id="data-deletion-confirm" class="page-link"><%= data.t("privacy-dialog-text-li-p7-yes") %></span>
                / <span class="data-deletion-reject page-link"><%= data.t("privacy-dialog-text-li-p7-no") %></span></span>
                    <span id="data-deletion-request-container">
                    <%= data.t("privacy-dialog-text-li-p7-data-deletion-text-ccpa") %>
                </span>
                </p>
                <% } else { %>
                <h2>
                    <%= data.t("privacy-dialog-text-li-p7-header") %>
                </h2>
                <p>
                    <%= data.t("privacy-dialog-text-li-p7-1") %>
                    <span class="data-deletion-link page-link"><%= data.t("privacy-dialog-text-li-p7-2") %></span><%= data.t("privacy-dialog-text-li-p7-3") %>
                    <span id="data-deletion-container"><%= data.t("privacy-dialog-text-li-p7-are-you-sure") %><span id="data-deletion-confirm" class="page-link"><%= data.t("privacy-dialog-text-li-p7-yes") %></span>
                / <span class="data-deletion-reject page-link"><%= data.t("privacy-dialog-text-li-p7-no") %></span></span>
                    <span id="data-deletion-request-container">
                    <%= data.t("privacy-dialog-text-li-p7-data-deletion-text") %>
                </span>
                </p>
                <% } %>
                <div class="data-request-container"></div>
            </div>
            <% } %>
        </div>
    </div>
</div>
