<div class="pop-up">
    <div class="pop-up-content">
        <span class="icon-gdpr"></span>
        <span class="title centered-title"><%= data.t("privacy-dialog-title") %></span>

        <% if(data.isCoppaCompliant) { %>
        <div>
            <p>
                <%= data.t("privacy-dialog-text-coppa-p1") %>
            </p>
            <p>
                <%= data.t("privacy-dialog-text-coppa-p2-1") %>
                <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-coppa-p2-2") %></a>
                <%= data.t("privacy-dialog-text-coppa-p2-3") %>
            </p>
        </div>
        <% } else if(!data.isGDPREnabled) { %>
        <div class="not-gdpr">
            <div class="privacy-text">
                <p>
                    This advertisement has been served by Unity Ads. Unity Ads collects information gathered through
                    your use of apps in order to create an individualized and more relevant user experience and to show
                    you ads that are more likely to interest you (“personalized experiences and ads”).
                </p>
                <p>
                    From your interaction with this app, here is an example of the information we use to predict which
                    other apps might interest you:
                </p>
                <p>
                    <span id="phone-type"><%= data.t("privacy-using") %></span>
                </p>
                <p>
                    <span id="country"><%= data.t("privacy-located-in") %></span>
                </p>

                <p>
                    <span id="game-plays-this-week"><%= data.t("privacy-used-this-app") %></span>
                </p>

                <p>
                    <span id="ads-seen-in-game"><%= data.t("privacy-seen-ads") %></span>
                </p>

                <p>
                    <span id="games-installed-from-ads"><%= data.t("privacy-installed-based-on") %></span>
                </p>
                <p>
                    Please review our <a href="https://unity3d.com/legal/privacy-policy">Privacy Policy</a> for
                    a full description of our data practices. You can opt-out of Unity Ads’ personalized
                    experiences and ads through your device settings.
                </p>
            </div>
        </div>
        <% } else if(data.isUserUnderAgeLimit) { %>
        <div class="under-age-limit">
            <% if(data.isCCPA) { %>
            <p>
                <%= data.t("privacy-dialog-text-failed-age-gate-p1-ccpa") %>
            </p>
            <p>
                <%= data.t("privacy-dialog-text-failed-age-gate-p2-1-ccpa") %>
                <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-failed-age-gate-p2-2-ccpa") %></a>
                <%= data.t("privacy-dialog-text-failed-age-gate-p2-3-ccpa") %>
            </p>
            <% } else { %>
            <p>
                <%= data.t("privacy-dialog-text-failed-age-gate-p1") %>
            </p>
            <p>
                <%= data.t("privacy-dialog-text-failed-age-gate-p2-1") %>
                <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-failed-age-gate-p2-2") %></a>
                <%= data.t("privacy-dialog-text-failed-age-gate-p2-3") %>
            </p>
            <% } %>
        </div>
        <% } else { %>
        <div class="gdpr">
            <p>
                <%= data.t("privacy-dialog-text-li-p1") %>
            </p>

            <p>
                <span class="highlight">
                    <%= data.t("privacy-dialog-text-li-p2") %>
                </span>
            </p>

            <p>
                <%= data.t("privacy-dialog-text-li-p3-1") %>
                <a href="https://unity3d.com/legal/privacy-policy"><%= data.t("privacy-dialog-text-li-p3-2") %></a>
                <%= data.t("privacy-dialog-text-li-p3-3") %>
            </p>
            <p>
                <%= data.t("privacy-dialog-text-li-p4") %>
            </p>
            <p>
                <span id="phone-type"><%= data.t("privacy-using") %></span>
            </p>
            <p>
                <span id="country"><%= data.t("privacy-located-in") %></span>
            </p>
            <p>
                <span id="game-plays-this-week"><%= data.t("privacy-used-this-app") %></span>
            </p>
            <p>
                <span id="ads-seen-in-game"><%= data.t("privacy-seen-ads") %></span>
            </p>
            <p>
                <span id="games-installed-from-ads"><%= data.t("privacy-installed-based-on") %></span>
            </p>


            <p><span class="header"><%= data.t("privacy-dialog-text-li-p5-header") %></span></p>
            <p>
                <%= data.t("privacy-dialog-text-li-p5") %>
            </p>

            <div class="radio-group-container">
                <div class="radio-item-container">
                    <input id="gdpr-agree-radio" name="gdpr-radio-group" type="radio">
                    <label for="gdpr-agree-radio">
                        <%= data.t("privacy-dialog-text-li-agree-radio-button") %>
                    </label>
                </div>
                <div class="radio-item-container">
                    <input id="gdpr-refuse-radio" name="gdpr-radio-group" type="radio">
                    <label for="gdpr-refuse-radio">
                        <%= data.t("privacy-dialog-text-li-disagree-radio-button") %>
                    </label>
                </div>
            </div>

            <p>
                <span class="header"><%= data.t("privacy-dialog-text-li-p6-header") %></span>
                <%= data.t("privacy-dialog-text-li-p6") %>
            </p>

            <p>
                <% if(data.isCCPA) { %>
                <span class="header"><%= data.t("privacy-dialog-text-li-p7-header-ccpa") %></span>

                <%= data.t("privacy-dialog-text-li-p7-1-ccpa") %>
                <span class="data-deletion-link page-link"><%= data.t("privacy-dialog-text-li-p7-2-ccpa") %></span>
                <%= data.t("privacy-dialog-text-li-p7-3-ccpa") %>
                <span class="data-deletion-note"><%= data.t("privacy-dialog-text-li-p7-data-request-info") %></span>
                <span id="data-deletion-container"><%= data.t("privacy-dialog-text-li-p7-are-you-sure") %><span id="data-deletion-confirm" class="page-link"><%= data.t("privacy-dialog-text-li-p7-yes") %></span>
                    / <span class="data-deletion-reject page-link"><%= data.t("privacy-dialog-text-li-p7-no") %></span></span>
                <span id="data-deletion-request-container">
                    <%= data.t("privacy-dialog-text-li-p7-data-deletion-text") %>
                </span>
                <% } else { %>
                <span class="header"><%= data.t("privacy-dialog-text-li-p7-header") %></span>

                <%= data.t("privacy-dialog-text-li-p7-1") %>
                <span class="data-deletion-link page-link"><%= data.t("privacy-dialog-text-li-p7-2") %></span>
                <%= data.t("privacy-dialog-text-li-p7-3") %>
                <span id="data-deletion-container"><%= data.t("privacy-dialog-text-li-p7-are-you-sure") %><span id="data-deletion-confirm" class="page-link"><%= data.t("privacy-dialog-text-li-p7-yes") %></span>
                    / <span class="data-deletion-reject page-link"><%= data.t("privacy-dialog-text-li-p7-no") %></span></span>
                <span id="data-deletion-request-container">
                    <%= data.t("privacy-dialog-text-li-p7-data-deletion-text") %>
                </span>
                <% } %>
            </p>
            <div class="data-request-container"></div>
            <div class="padding-block"></div>
        </div>
        <% } %>
    </div>
    <div class="pop-up-content build-side">
        <% for (var k in data.buildInformation) { %>
        <p class="build-information-item">
            <span class="build-information-key">
                <%= k %>:</span> <span class="build-information-value">
                <%= (data.buildInformation[k] === null || typeof data.buildInformation[k] === "undefined") ? "N/A" : data.buildInformation[k] %></span>
        </p>
        <% } %>
    </div>
    <div class="pop-up-content report-side">
        <span class="report-title centered-title">Report Advertisement</span>
        <span class="report-dialog">Are you experiencing issues with your current advertisement? Report to Unity Ads directly and let us know!</span>
        <ul class="radio-group-container">
            <% data.reportReasons.forEach((k, index) => { %>
            <div class="radio-item-container">
                <input id="<%= data.reportKeys[index] %>" class="report-choice-radio" name="report-reason" type="radio">
                <label for="<%= data.reportKeys[index] %>">
                    <%= (k === null || k === "undefined") ? "N/A" : k %></label>
            </div>
            <% }); %>
        </ul>
        <span class="report-disclaimer">Disclaimer: Reporting will close this ad, and if the ad has not completed, any rewards will be forfeited.</span>
        <div class="report-container">
            <div class="report-button">Report</div>
            <span class="report-confirmed-text"></span>
        </div>
    </div>
    <div class="fade-out-gradient-separator"></div>
    <div class="pop-up-footer">
        <div class="left-side-link">Build info ⚙</div>
        <div class="middle-link">Report Ad ⚑</div>
        <div class="close-button"><%= data.t("privacy-dialog-button-confirm") %></div>
    </div>
</div>
