<div class="skip-hit-area">
    <span class="skip-timer"></span>
    <span class="icon-skip"></span>
</div>
<div class="buffering-spinner">
    <div class="spinner-animation"></div>
    <div class="spinner-text"><%= data.t("Buffering") %></div>
</div>
<div class="mute-button <%= data.muted ? 'muted' : '' %>">
    <div class="mute-icon"><span class="icon-volume"></span></div>
    <div class="unmute-icon"><span class="icon-volume-mute"></span></div>
</div>
<div class="call-button"><%= data.t("Learn More") %></div>
<div class="debug-message-text"></div>
<div class="timer"></div>
<div class="progress"></div>
