<div class="backdrop">
</div>
<div class="promo-container">
    <div class="promo-background promo-background-portrait" style="background-image: url(<%= data.portraitImage %>)"></div>
    <div class="promo-background promo-background-landscape" style="background-image: url(<%= data.landscapeImage %>)"></div>
    <a class="close">
        <span class="btn-close">Close</span>
    </a>
    <div class="footer">
        <a class="btn-promo" style="background-image: url(<%= data.buttonImage %>)">
            <span class="promo-text"><%= data.localizedPrice %></span>
        </a>
    </div>
</div>