<div class="btn-close-region<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>"><a class="btn-close brand"><span class="icon-close"></span></a></div>
<div class="campaign-container<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
  <div class="game-background game-background-landscape brand" style="background-image: url(<%= data.endScreenLandscape %>)"></div>
  <div class="game-background game-background-portrait brand" style="background-image: url(<%= data.endScreenPortrait %>)"></div>
</div>
<div class="privacy-button"><span class="icon-info"></span></div>
