<html>
<head>
    <style>
        {COMPILED_CSS}
    </style>
</head>
<body>
    <div class="video-player-slot">
        <video
            poster="data:image/svg+xml;base64,"
            playsinline>
        </video>
    </div>
    <div id="overlay">
        <div class="skip-hit-area hide">
            <div class="skip">
                <div class="skip-icon"><span class="icon-skip"></span></div>
                <div class="circle-base"></div>
                <div class="progress-wrapper">
                    <div class="circle-left"></div>
                    <div class="circle-right"></div>
                </div>
            </div>
        </div>
        <div class="progress">
            <div class="circle-base"></div>
            <div class="progress-wrapper">
                <div class="circle-left"></div>
                <div class="circle-right"></div>
            </div>
        </div>
        <div class="buffering-spinner">
            <div class="spinner-animation"></div>
            <div class="spinner-text"><%= data.t("Buffering") %></div>
        </div>
        <div class="mute-button">
            <div class="mute-icon"><span class="icon-volume"></span></div>
            <div class="unmute-icon"><span class="icon-volume-mute"></span></div>
        </div>
        <div class="call-button"><%= data.t("Learn More") %></div>
        <div class="debug-message-text"></div>
    </div>
    <div id="privacy" class="hide">
        {PRIVACY}
    </div>
    <div class="privacy-button"><span class="icon-info"></span></div>
    <script src="<%= data.vpaidSrcUrl %>"></script>
    <script>
        (function(global) {
            var EventTarget = function() {
                this.listeners = {};
            };

            EventTarget.prototype.listeners = null;
            EventTarget.prototype.addEventListener = function(type, callback) {
                if (!(type in this.listeners)) {
                    this.listeners[type] = [];
                }
                this.listeners[type].push(callback);
            };

            EventTarget.prototype.removeEventListener = function(type, callback) {
                if (!(type in this.listeners)) {
                    return;
                }
                var stack = this.listeners[type];
                for (var i = 0, l = stack.length; i < l; i++) {
                    if (stack[i] === callback){
                        stack.splice(i, 1);
                        return;
                    }
                }
            };

            EventTarget.prototype.dispatchEvent = function(event) {
                if (!(event.type in this.listeners)) {
                    return true;
                }
                var stack = this.listeners[event.type];

                for (var i = 0, l = stack.length; i < l; i++) {
                    stack[i].call(this, event);
                }
                return !event.defaultPrevented;
            };

            var NativeBridge = function() {
                var _this = this;

                this.receiveEvent = function(args) {
                    var event = args.shift();
                    var parameters = args.shift();
                    _this.dispatchEvent(new CustomEvent(event, { detail: parameters }));
                };

                this.sendEvent = function(event, parameters) {
                    window.webplayerbridge.sendEvent(JSON.stringify([event, parameters]));
                };

                this.trigger = function(event, parameters) {
                    if (event in _this.eventHandlers) {
                        var listeners = _this.eventHandlers[event];
                        for (var i = listeners.length - 1; i >= 0; i--) {
                            var listener = listeners[i];
                            listener.apply(global, parameters);
                        }
                    }
                };
            };
            NativeBridge.prototype = new EventTarget();

            global.nativebridge = new NativeBridge();
        })(window);
    </script>
    <script>
        (function() {
            var adParameters = <%= data.adParameters %>;

            var nativebridge = window.nativebridge;

            // List of all ad events
            var creativeEvents = [
                'loaded', 'skipped', 'started', 'stopped',
                'linearChange', 'expandedChange', 'remaningTimeChange',
                'volumeChange', 'impression', 'videoStart', 'videoFirstQuartile',
                'videoMidpoint', 'videoThirdQuartile', 'videoComplete',
                'clickThru', 'interaction', 'userAcceptInvitation',
                'userMinimize', 'userClose', 'paused', 'playing',
                'log', 'error'
            ];

            var FillCircle = function(e) {
                var _this = this;
                this._element = e;
                this._leftCircle = e.querySelector('.circle-left');
                this._rightCircle = e.querySelector('.circle-right');
                this._wrapper = e.querySelector('.progress-wrapper');
            };

            FillCircle.prototype.update = function(progress, duration) {
                var time = Math.floor(duration - progress);
                var delta = progress / duration;
                if (delta >= 1.0) {
                    return;
                }

                var degrees = delta * 360;
                this._leftCircle.style.webkitTransform = 'rotate(' + degrees + 'deg)';

                if (delta >= 0.5) {
                    this._wrapper.style.webkitAnimationName = 'close-progress-wrapper';
                    this._rightCircle.style.webkitAnimationName = 'right-spin';
                }
            };

            var ProgressControl = function(e) {
                FillCircle.call(this, e);
            };

            ProgressControl.prototype = Object.create(FillCircle.prototype);
            ProgressControl.prototype.constructor = ProgressControl;
            ProgressControl.prototype.update = function(progress, duration) {
                var time = Math.floor(duration - progress);
                this._element.setAttribute('data-seconds', String(time));
                FillCircle.prototype.update.call(this, progress, duration);
            };

            var SkipControl = function(e) {
                FillCircle.call(this, e);
            };

            SkipControl.prototype = Object.create(FillCircle.prototype);
            SkipControl.prototype.constructor = ProgressControl;
            SkipControl.prototype.setEnabled = function() {
                this._element.classList.add('enabled');
            };

            SkipControl.prototype.setDisabled = function() {
                this._element.classList.remove('enabled');
            };

            SkipControl.prototype.isEnabled = function() {
                return this._element.className.match(/\s?enabled\s?/);
            };

            var PrivacyControl = function(e) {
                var _this = this;
                this._element = e;
                this._ok = e.querySelector('.ok-button');
                this._privacy = e.querySelector('a');

                this._ok.addEventListener('click', function() {
                    _this._onOKClick();
                });
                this._privacy.addEventListener('click', function(e) {
                    _this._onPrivacyClick(e);
                });
            };

            PrivacyControl.prototype._onOKClick = function() {
                this._element.classList.add('hide');
            };

            PrivacyControl.prototype._onPrivacyClick = function(e) {
                window.open(e.target.href, '_blank');
            };

            PrivacyControl.prototype.show = function() {
                this._element.classList.remove('hide');
            };

            var Container = function() {
                var _this = this;
                this._iframe = document.querySelector('iframe');
                this._creative = null;
                this._slot = document.querySelector('.video-player-slot');
                this._videoSlot = this._slot.querySelector('video');
                this._progress = new ProgressControl(document.querySelector('.progress'));
                this._skip = new SkipControl(document.querySelector('.skip'));
                this._skipContainer = document.querySelector('.skip-hit-area');
                this._muteButton = document.querySelector('.mute-button');
                this._privacyButton = document.querySelector('.privacy-button');
                this._privacy = new PrivacyControl(document.querySelector('#privacy'));

                this._skipHandler = function() {
                    if (_this._creative.getAdSkippableState()) {
                        _this._creative.skipAd();
                    } else {
                        // manually trigger the AdSkipped event
                        _this._handleEvent('AdSkipped');
                        _this._creative.stopAd();
                    }
                };

                this._muteButton.addEventListener('click', function() {
                    var isMuted = _this._videoSlot.muted;
                    if (isMuted) {
                        _this._muteButton.classList.remove('muted');
                    } else {
                        _this._muteButton.classList.add('muted');
                    }
                    _this._videoSlot.muted = !isMuted;
                });

                this._privacyButton.addEventListener('click', function() {
                    _this._privacy.show();
                });

                if (adParameters.skipEnabled) {
                    this._skipContainer.classList.remove('hide');
                }

                if (adParameters.startMuted) {
                    this._videoSlot.muted = true;
                    this._muteButton.classList.add('muted');
                }

                var eventHandlers = {
                    init: function(e) {
                        _this._initAd.apply(_this, e.detail);
                    },
                    show: function(e) {
                        _this._showAd.apply(_this, e.detail);
                    },
                    destroy: function(e) {
                        _this._stopAd.apply(_this, e.detail);
                    },
                    pause: function(e) {
                        _this._pauseAd.apply(_this, e.detail);
                    },
                    resume: function(e) {
                        _this._resumeAd.apply(_this, e.detail);
                    }
                };

                for (var event in eventHandlers) {
                    window.nativebridge.addEventListener(event, eventHandlers[event]);
                }

                this._videoSlot.addEventListener('timeupdate', function(e) {
                    _this._sendProgressEvent();
                    _this._updateProgress();
                });

                this._updateProgress = function() {
                    var progress = _this._videoSlot.currentTime;
                    var duration = _this._videoSlot.duration;
                    _this._progress.update(progress, duration);

                    if (adParameters.skipEnabled) {
                        this._skip.update(progress, adParameters.skipDuration);
                        if (progress > adParameters.skipDuration) {
                            _this._updateSkipControls(true);
                        }
                    }
                };

                this.init = function() {
                    var getVPAID = this._getVPAIDFunction();
                    if (getVPAID && typeof getVPAID === 'function') {
                        _this._creative = getVPAID();

                        _this._subscribeToAllEvents();

                        _this._creative.subscribe(function() {
                            _this._onSkippableStateChange();
                        }, 'AdSkippableStateChange', _this);

                        nativebridge.sendEvent('ready');
                    } else {
                        _this._triggerError('getVPAIDAd is not defined');
                    }
                };

                this.getHandshakeVersion = function() {
                    return _this._creative.handshakeVersion('2.0');
                };

                this.getAdDuration = function() {
                    if (_this._creative.getAdDuration) {
                        return _this._creative.getAdDuration();
                    } else {
                        return _this._creative.adDuration || -2;
                    }
                };

                this.getAdRemainingTime = function() {
                    if (_this._creative.getAdRemainingTime) {
                        return _this._creative.getAdRemainingTime();
                } else {
                        return _this._creative.adRemainingTime || -2;
                    }
                };

                this._triggerError = function(e) {
                    window.nativebridge.sendEvent('VPAID', ['AdError', [e]])
                }

                this._subscribeToAllEvents = function() {
                    var len = creativeEvents.length;
                    for (var i = 0; i < creativeEvents.length; i++) {
                        var creativeEvent = creativeEvents[i];
                        var normalizedEventName = 'Ad' + creativeEvent.charAt(0).toUpperCase() + creativeEvent.substring(1);
                        _this._subscribeToEvent(normalizedEventName);
                    }
                };

                this._subscribeToEvent = function(eventName) {
                    _this._creative.subscribe(function() {
                        var args = [eventName].concat(Array.prototype.slice.call(arguments));
                        _this._handleEvent.apply(_this, args);
                    }, eventName, _this);
                }

                this._getVPAIDFunction = function() {
                    return window.getVPAIDAd;
                };

                this._handleEvent = function() {
                    var eventType = arguments[0];
                    var args = arguments.length > 1 ? Array.prototype.slice.call(arguments, 1) : [];
                    window.nativebridge.sendEvent('VPAID', [eventType, args]);
                };

                this._initAd = function(initOpts) {
                    this._version = this._creative.handshakeVersion('2.0');
                    this._creative.initAd(initOpts.width / window.devicePixelRatio, initOpts.height / window.devicePixelRatio, initOpts.viewMode, initOpts.bitrate, initOpts.creativeData, {
                        slot: _this._slot,
                        videoSlot: _this._videoSlot
                    });
                }

                this._showAd = function() {
                    this._creative.startAd();
                };

                this._stopAd = function() {
                    return this._creative.stopAd();
                };

                this._pauseAd = function() {
                    return this._creative.pauseAd();
                };

                this._resumeAd = function() {
                    return this._creative.resumeAd();
                };

                this._sendProgressEvent = function() {
                    window.nativebridge.sendEvent('progress', [_this._videoSlot.duration, _this._videoSlot.duration - _this._videoSlot.currentTime]);
                };

                this._onSkippableStateChange = function() {
                    // Our skip element takes priority.
                    var canSkip = _this._creative.getAdSkippableState() || (adParameters.skipEnabled && _this._videoSlot.currentTime >= adParameters.skipDuration);
                    this._updateSkipControls(canSkip);
                };

                this._updateSkipControls = function(canSkip) {
                    if (canSkip && _this._skip.isEnabled()) {
                        return;
                    } else if (canSkip) {
                        this._skipContainer.classList.remove('hide');
                        // Fill the skip controls completely
                        _this._skip.update(1, 1);
                        _this._skip.setEnabled();
                        this._skipContainer.addEventListener('click', _this._skipHandler);
                    } else {
                        _this._skip.setDisabled();
                        this._skipContainer.removeEventListener('click', _this._skipHandler);
                    }
                };
            };

            var container = window.container = new Container();
            container.init();
        })();
    </script>
</body>

</html>
