# WebStorm
.idea
*.iml

# NPM
node_modules

# Build
build

# Development
src/**/*.js
src/**/*.js.map
src/**/*.css
src/html/admob/AFMAContainer.html

# nginx
nginx/access.log
nginx/error.log
nginx/nginx.conf
nginx/server.PID

# VS Code
.vscode

# MacOS
.DS_Store

# Coverage
.nyc_output
