# WebStorm
.idea
*.iml

# NPM
node_modules

# Development
src/**/*.js
src/**/*.js.map
src/**/*.css
!src/html/**/*.js

# Test
test/**/*.js
test/**/*.js.map

# VS Code
.vscode

# MacOS
.DS_Store

# Server
server.pid

# Travis
gcs_credentials.json
.edgerc

# Chromium
.chromium_user_prefs.json

# Webpack build
dist/

.staginglock
