sudo: false

language: node_js
node_js: 8

addons:
  apt:
    packages:
    - libimage-exiftool-perl

install:
  - pip install --user awscli
  - npm install

cache:
  directories:
    - node_modules

script: make lint && make test-coveralls && make test-integration && make build-test && make travis-browser-test && make build-release && make deploy

notifications:
  slack:
    rooms:
      - unity:PLPHkrYyAyDCW5umUmcUDIZZ
    on_success: change
    on_failure: always
    on_start: never
