sudo: false

language: python
python: "3.6"

addons:
  apt:
    packages:
      - libimage-exiftool-perl
      - parallel

install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - pip install awscli
  - npm install

cache:
  pip: true
  directories:
    - node_modules

script: make lint && make test-coverage && make build-test && make test-browser && make build-release && make deploy

notifications:
  slack:
    rooms:
      - unity:PLPHkrYyAyDCW5umUmcUDIZZ
    on_success: change
    on_failure: always
    on_start: never
