# For details, see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Global Owners
* @ads-sdk-sf

# Ad Unit Innovation
src/ts/MabExperimentation/ @aui-sdk

# Privacy SDK
src/ts/Ads/Managers/UserPrivacyManager.ts @privacy-sdk
src/ts/Ads/Models/RequestPrivacy.ts @privacy-sdk
src/ts/Ads/AdUnits/PrivacySDKUnit.ts @privacy-sdk
src/ts/Ads/AdUnits/PrivacyUnit.ts @privacy-sdk
src/ts/Ads/EventHandlers/PrivacyEventHandler.ts @privacy-sdk
src/ts/Ads/EventHandlers/GDPREventHandler.ts @privacy-sdk
src/ts/Ads/Views/AbstractPrivacy.ts @privacy-sdk
src/ts/Ads/Views/Privacy/ @privacy-sdk
src/ts/Ads/Views/Privacy.ts @privacy-sdk
src/ts/Privacy/ @privacy-sdk

