# For details, see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Global Owners
*       @ad-sdk

# Ad Unit Innovation
src/ts/MabExperimentation @aui-sdk
