# For details, see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Global Owners
* @ad-sdk

# Ad Unit Innovation
src/ts/MabExperimentation/ @aui-sdk

# Privacy SDK
src/ts/Privacy/ @privacy-sdk
src/ts/Ads/Views/Privacy/ @privacy-sdk
src/ts/Ads/Views/Privacy.ts @privacy-sdk
src/ts/Ads/Views/AbstractPrivacy.ts @privacy-sdk

