<div class="btn-close-region<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
  <span class="icon-close"></span>
</div>
<div class="campaign-container<%= data.endscreenAlt ? ' ' + data.endscreenAlt : '' %>">
  <div class="game-creative-container">
    <!-- <div class="game-background game-background-portrait"
      style="background-image: url('<%= data.endScreenLandscape && data.endScreenLandscape.replace("file://", "") %>')">
    </div> -->
    <% if(!!data.endScreenLandscape) { %>
      <img class="game-creative-image landscape" src="<%= data.endScreenLandscape && data.endScreenLandscape.replace("file://", "") %>" />
    <% } else if(!!data.endScreenSquare ) { %>
      <img class="game-creative-image square" src="<%= data.endScreenSquare && data.endScreenSquare.replace("file://", "") %>" />
    <% } %>
  </div>
  <div class="privacy-container">
    <div class="privacy-button">
      <span class="icon-gdpr"></span>
    </div>
    <div class="china-ad-unity-logo">
      <div class="china-advertisement">广告</div>
      <div class="unityads-logo"></div>
    </div>
  </div>

   <!-- <div class="gdpr-pop-up">
      <div class="icon-gdpr"></div>
      <div class="gdpr-text">
        <%= data.t("privacy-legitimate-interest-pop-up-1") %>
        <span class="gdpr-link"><%= data.t("privacy-legitimate-interest-pop-up-2") %></span>
        <%= data.t("privacy-legitimate-interest-pop-up-3") %>
      </div>
    </div> -->
  <div class="end-screen-info-background">
    <div class="end-screen-info">
      <div class="game-icon-rating-container">
        <div class="game-icon"
            style="background-image: url('<%= data.gameIcon && data.gameIcon.replace("file://", "") %>')">
        </div>
        <% if(!!data.rating && !!data.simpleRating) { %>
          <div class="game-rating-container">
          <span class="game-rating-number">
            <%= data.simpleRating %><span class="game-rating-scale">/5</span>
          </span>
          <div class="game-rating-stars-container">
            <span class="game-rating">
              <span class="game-rating-stars-top" style="width: <%= data.rating %>%">
                <span class="icon-star first-icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </span>
              <span class="game-rating-stars-bottom">
                <span class="icon-star first-icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </span>
            </span>
            <% if (!!data.ratingCount && data.ratingCount !== "0") { %>
              <span class="game-rating-count">
                (<span class="game-rating-count-number"><%= data.ratingCount %></span>)
              </span>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
      <div class="game-details-container">
        <span class="game-name">
          <%= data.gameName %>
        </span>
        <!-- <span class="game-description">
          This is a description of the game Dancing Road: Color Ball Run! As you can see, I could not retrive the game description just yet, which explains why you're reading this right now.
        </span> -->
      </div>
    </div>
    <div class="download-cta-container">
      <div class="download-cta-button">
        <span class="download-cta-text"><%= data.t("Download For Free") %></span>
      </div>
    </div>
  </div>



  <!-- <div class="bottom-container">
      <div class="privacy-button"><span class="icon-gdpr"></span></div>
      <div class="unityads-logo"></div>
      <div class="china-advertisement">广告</div>
    </div> -->
</div>
