@import "vars.styl";

@charset "UTF-8";

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "AccessibleCloseButton";
    src: url("../fonts/experiment/AccessibleCloseButton.ttf") format("truetype");
}

$icon-size($n) {
    width: $n;
    height: $n;
}

.accessible-close-button {
    // Portrait view specific
    .portrait {
        #end-screen {
            .btn-close-region {
                padding: 1em;
            }

            .icon-close {
                $icon-size(2.4em);
            }
        }
    }

    #end-screen {
        [data-icon]:before {
            content: attr(data-icon);
            font-weight: normal !important; // @stylint ignore
            font-style: normal !important; // @stylint ignore
            font-variant: normal !important; // @stylint ignore
            font-family: "AccessibleCloseButton" !important; // @stylint ignore
            text-transform: none !important; // @stylint ignore
            line-height: 1;
        }

        [class^='experimental-']:before, [class*=' experimental-']:before {
            font-family: "AccessibleCloseButton" !important; // @stylint ignore
            font-style: normal !important; // @stylint ignore
            font-weight: normal !important; // @stylint ignore
            font-variant: normal !important; // @stylint ignore
            text-transform: none !important; // @stylint ignore
            line-height: 1;
        }

        .experimental-android:before {
            content: "\e001";
        }

        .btn-close-region {
            z-index: 100;
            padding: 1.2em;
            width: auto;
            text-shadow: none;
            font-size: 11px;
            // background: pink;
        }

        .icon-close {
            display: table-cell;
            border-radius: 100%;
            background: $white;
            box-shadow: 0 2px 4px rgba(12, 12, 12, .3);
            color: rgba(0, 0, 0, .6);
            vertical-align: middle;
            text-align: center;
            text-decoration: none;
            line-height: 100%;
            opacity: .6;
            $icon-size(2.4em);
        }

        .icon-close:before {
            display: block;
            content: "\e000";
            font-family: 'AccessibleCloseButton' !important; // @stylint ignore
        }
    }
}

@media (orientation: landscape) {
    @media (min-width: 1025px) {
        .accessible-close-button #end-screen .btn-close-region {
            font-size: 14px;
        }
    }

    @media (max-width: 1024px) {
        .accessible-close-button #end-screen .btn-close-region {
            font-size: 11px;
        }
    }
}

@media (orientation: portrait) {
    @media (min-width: 960px) {
        .accessible-close-button #end-screen .btn-close-region {
            font-size: 14px;
        }
    }

    @media (max-width: 959px) {
        .accessible-close-button #end-screen .btn-close-region {
            font-size: 11px;
        }
    }
}
