@import "vars.styl";

.slider-experiment {
    #end-screen {
        .btn-close-region {
            z-index: 100;
            padding: .8rem;
            width: auto;
            height: auto;
            text-shadow: none;
            line-height: 1;
        }

        .icon-close {
            display: block;
            border-radius: 100%;
            background: $white;
            box-shadow: 0 2px 4px rgba(12, 12, 12, .3);
            color: rgba(0, 0, 0, .9);
            opacity: .9;
        }

        .icon-close:before {
            display: block;
            padding: .3rem;
        }
    }
}
