@import "components.styl";
@import "vars.styl";
@import "icons.styl";
@import "gdpr-pop-up.styl";

#admob {
  #admob-iframe {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    border: none;
  }

  .gdpr-pop-up {
    $gdpr-pop-up($default-scale-size, true, false);
  }

  .privacy-button {
    position: fixed;
    right: 4px;
    bottom: 1px;
    z-index: 1000;
    width: 15px;
    height: 17px;
    color: $white;
    text-align: center;
    font-weight: 300;
    font-size: small;

    .icon-gdpr {
      display: block;
      width: 18px;
      height: 17px;
      background-color: $white;
      color: $admob-privacy-blue;
    }
  }
}
