@import "components.styl";
@import "vars.styl";
@import "icons.styl";

#admob {
  #admob-iframe {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    border: none;
  }

  .gdpr-pop-up {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color: $white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    opacity: 1;

    .gdpr-text {
      padding: $default-scale-size * $default-font-size * .5;
      font-size: $default-scale-size * $default-font-size * .5;

      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
      text-align: center;

      .gdpr-link {
        color: $blue;
      }
    }
  }

  .privacy-button {
    position: fixed;
    right: 4px;
    bottom: 1px;
    z-index: 1000;
    width: 15px;
    height: 17px;
    color: $white;
    text-align: center;
    font-weight: 300;
    font-size: small;

    .icon-gdpr {
      display: block;
      width: 18px;
      height: 17px;
      background-color: $white;
      color: $admob-privacy-blue;
    }
  }
}
