@import "components.styl";
@import "vars.styl";
@import "icons.styl";

#admob {
  #admob-iframe {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    border: none;
  }
  .gdpr-pop-up {
    .gdpr-text {
      padding: $default-scale-size * $default-font-size * .5;
      font-size: $default-scale-size * $default-font-size * .5;

      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
      text-align: center;

      .gdpr-link {
        color: $blue;
      }
    }

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color:white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    opacity: 1;
    
  }

  .privacy-button {
    position: absolute;
    bottom: 2px;
    right: 1px;
    height: 15px;
    width: 15px;
    z-index: 1000;
    color: $admob-privacy-background;
    box-shadow: -0.5px 0 0 1px rgba(238, 241, 251, 1);
    text-align: center;

    .icon-gdpr {
      display: block;
      font-size: $default-scale-size * $default-size * $default-font-size * .7;
      font-weight: 300;
      height: 15px;
      width: 15px;
      background-color: $admob-privacy-background;
      color: $admob-privacy-blue;
    }
  }
}
