body.alternative-layout.portrait {
    #end-screen {

        .campaign-container {
            background: black;
        }

        .square-end-screen .campaign-container {
            position: unset;
            display: unset;
            -webkit-box-orient: unset;
            -webkit-box-direction: unset;
            -ms-flex-direction: unset;
            flex-direction: unset;
            background-color: unset;
        }

        .name-container {
            font-weight: bold;
            font-size: .85em;
            -webkit-box-orient: unset;
            max-width: unset;
        }

        .game-info-container {
            display: flex;
            align-items: center;
            margin: .5em 1em;
            padding: .4em;
            background-color: red;
            border-radius: .25em;
        }

        .game-icon {
            margin-bottom: 0;    
        }

        .game-text {
            padding: 0 1em;
        }

        .game-rating {
            margin-top: unset;
            display: flex;
            align-items: center;
        }

        .icon-star {
            margin-top: .3em;
        }

        .end-screen-info {
            width: 100%;
            align-self: flex-end;
        }

        .download-container {
            margin: .5em 1em;
            width: unset;
            border-radius: 0.25em;
        }

        .store-container {
            display: flex;
            align-items: center;
        }

        .game-background-container {
            position: unset;
            width: 100%;
            height: 100%;
            background: no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            filter: blur(30px);
            z-index: unset;
        }

        .end-screen-info-content {
            background: unset;
            width: 100%;
            height: 100%;    
            overflow: hidden;
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
        }

        .game-text-container {
            width: 100%;
            padding: .7em;
        }

        .end-screen-image-container {
            padding: 1em;

            .end-screen-image {
                border-radius: .25em;
                width: 100%;
            }
        }



    }
}