.alternative-layout {
    #end-screen {
        .btn-close-region {
            background: #ee66ee65;
        }

        .name-container {
            font-weight: bold;
            font-size: 0.85em;
        }
    }
}