@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 rgba(22, 125, 251, 0);
    box-shadow: 0 0 rgba(22, 125, 251, 0);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  8% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  16% {
    -webkit-box-shadow: 0 0 5px 5px rgba(22, 125, 251, 0.1);
    box-shadow: 0 0 5px 5px rgba(22, 125, 251, 0.1);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  24% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-box-shadow: 0 0 5px 10px rgba(22, 125, 251, 0.2);
    box-shadow: 0 0 5px 10px rgba(22, 125, 251, 0.2);
  }

  70% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  80% {
    -webkit-box-shadow: 0 0 rgba(22, 125, 251, 0);
    box-shadow: 0 0 rgba(22, 125, 251, 0);
  }

  100% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 rgba(22, 125, 251, 0);
    box-shadow: 0 0 rgba(22, 125, 251, 0);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  8% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  16% {
    -webkit-box-shadow: 0 0 5px 5px rgba(22, 125, 251, 0.1);
    box-shadow: 0 0 5px 5px rgba(22, 125, 251, 0.1);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  24% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-box-shadow: 0 0 5px 10px rgba(22, 125, 251, 0.2);
    box-shadow: 0 0 5px 10px rgba(22, 125, 251, 0.2);
  }

  70% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  80% {
    -webkit-box-shadow: 0 0 rgba(22, 125, 251, 0);
    box-shadow: 0 0 rgba(22, 125, 251, 0);
  }

  100% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@-webkit-keyframes animateBubble {
  0% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
  100% {
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
  }
}

@keyframes animateBubble {
  0% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
  100% {
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
  }
}

@-webkit-keyframes flash {
  80% {
    opacity: 0;
    -webkit-transform: translate(-110%) skewX(45deg);
    transform: translate(-110%) skewX(45deg);
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(200%) skewX(45deg);
    transform: translate(200%) skewX(45deg);
  }
}

@keyframes flash {
  80% {
    opacity: 0;
    -webkit-transform: translate(-110%) skewX(45deg);
    transform: translate(-110%) skewX(45deg);
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(200%) skewX(45deg);
    transform: translate(200%) skewX(45deg);
  }
}
