body.iphone
body.ipad
body.android
  .campaign-container.animated
    
    .coc_cta
     display: block
     position: absolute
     left: 20%
     bottom: 5%
     width: 40%
     height: 10%
     background-size: cover
     background-image: url('../img/coc_cta.gif')
     background-repeat: no-repeat
     
    .cocback
     display: block
     position: absolute
     top: 0
     bottom: 0%
     width: 60%
     height: 100%
     background-size: cover
     background-position: center
     background-image: url('../img/coc_back.jpg')
     background-repeat: no-repeat
    
    .cocchars
     display: block
     position: fixed
     left: 0%
     bottom: -50%
     width: 50%
     height: 100%
     background-size: contain
     background-image: url('../img/coc_char.gif')
     background-repeat: no-repeat
     -webkit-transform-origin: 50% 50%
     
    .cocchars2
     -webkit-animation-name: zoomIn
     -webkit-animation-duration: 5s
     -webkit-transform-origin: 50% 50%
    
    .coclogo
     display: block
     position: absolute
     left: 5%
     top: 5%
     width: 40%
     height: 40%
     background-size: contain
     background-image: url('../img/coc_logo.gif')
     background-repeat: no-repeat
     
    .coclogo2
     -webkit-animation: zoomIn
     -webkit-animation-duration: 2s
     -webkit-transform-origin: 50% 50%
    
  &.portrait
    .campaign-container.animated
      .cocback
        width: 100%
        height: 60%
      
      .cocchars
        bottom: 25%
        width: 100%
        height: 50%
      
      .coc_cta
        left: 50%
        bottom: 15%
        