body.iphone
body.ipad
body.android
  .campaign-container.chinesenewyear
    .name-container
      color: #000000

    .end-screen-info-background
      background-color: #ffffff
      background-image: url("../img/chn_newyear.gif")
      background-position: center bottom
      background-repeat: no-repeat
      background-size: 100%
      border-top: 4px solid #ca4850
      
    .unityads-logo
      background-image: url("../img/unityads.png")
      
  &.landscape
    .campaign-container.chinesenewyear
      .end-screen-info-background
        border-left: 4px solid #ca4850