@import "vars.styl";
@import "mixins.styl";

/* End-screen */

$game-rating-default($scale-size, $with-styles = true) {
  font-size: $default-font-size * $scale-size * 1.5;
  if($with-styles) {
    position: relative;
    display: inline-block;
    color: $end-screen-info-gray;
    vertical-align: middle;
    letter-spacing: 5px;
    /* Required for all androids <= 4.3 */
    text-align: center;
  }
}

$game-rating-mask-default($scale-size, $with-styles = true) {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  color: $rating-orange;
  text-align: center;
  white-space: nowrap;
}

$game-rating-count-default($scale-size, $with-styles = true) {
  color: $gray;
  if($with-styles) {
    font-size: $default-font-size * $scale-size;
  }
}

$game-icon-default($scale-size, $radius-size = .75, $with-styles = true) {
  $set-image($scale-size * $default-size * 4.5, $scale-size * $default-size * 4.5, $scale-size * $default-size * $radius-size);
}

$unityads-logo-default($scale-size, $with-styles = true) {
  $set-image(100%, $scale-size * $default-size, 0, "../img/unityads.png", contain);
  bottom: $scale-size * $default-size * .25;

  if($with-styles) {
    position: absolute;
    z-index: 5;
  }
}

$name-container-default($scale-size, $with-styles = true) {
  max-width: $default-size * $scale-size * 12.5;
  font-size: $scale-size * $default-font-size * 1.5;
  if($with-styles) {
    display: -webkit-box;
    overflow: hidden;
    color: $black;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2; // @stylint ignore;
    -webkit-box-orient: vertical;
  }
}

$gdpr-pop-up($scale-size, $with-styles = true) {
  .gdpr-text {
    padding: $scale-size * $default-font-size * .5;
    font-size: $scale-size * $default-font-size * .5;
  }

  if($with-styles) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $end-screen-background-color;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    opacity: 1;

    .gdpr-text {
      z-index: 110;
      text-align: center;

      .gdpr-link {
        color: $blue;
      }
    }
  }
}

$close-button-width = 1.25;
$close-button-default($scale-size, $with-styles = true) {
  /*
    width is not necessarily, but requires for Android <= 4.3
    due to pseudo elements partial support, also width must be bigger than font-size
  */
  z-index: 100;
  width: $scale-size * $default-font-size * $close-button-width * 1.75;
  font-size: $scale-size * $default-font-size * $close-button-width;
  line-height: @width;
  if($with-styles) {
    position: absolute;
    right: 0;
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 20px $gray;
  }
}

$download-container-default($scale-size, $with-styles = true) {
  padding: $scale-size * $default-size * .75 0;
  width: $scale-size * $default-size * 14;
  border-radius: $scale-size * $default-size * .75;
  font-size: $scale-size * $default-font-size * 1.25;

  if($with-styles) {
    background: $blue;
    color: $white;
    text-align: center;
  }
}

$privacy-button-default($scale-size, $with-styles = true) {
  if($with-styles) {
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: $end-screen-info-gray;
  }
}

/* MRAID iframe */

$iframe-default($with-styles = true) {
  if($with-styles) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
  }
}

$iframe-close-region-default($with-styles = true) {
  if($with-styles) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    opacity: .4;
  }
}


