@import "vars.styl";
@import "mixins.styl";

/* End-screen */

$game-rating-default($scale-size, $with-styles = true) {
  font-size: $default-font-size * $scale-size * 1.5;
  if($with-styles) {
    position: relative;
    display: inline-block;
    color: $end-screen-info-gray;
    vertical-align: middle;
    letter-spacing: 5px;
    /* Required for all androids <= 4.3 */
    text-align: center;
  }
}

$game-rating-mask-default($scale-size, $with-styles = true) {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  color: $rating-orange;
  text-align: center;
  white-space: nowrap;
}

$game-rating-count-default($scale-size, $with-styles = true) {
  color: $gray;
  if($with-styles) {
    font-size: $default-font-size * $scale-size;
  }
}

$game-icon-default($scale-size, $radius-size = .75, $with-styles = true) {
  $set-image($scale-size * $default-size * 4.5, $scale-size * $default-size * 4.5, $scale-size * $default-size * $radius-size);
}

$unityads-logo-default($scale-size, $with-styles = true) {
  $set-image(100%, $scale-size * $default-size, 0, "../img/unityads.png", contain);
  bottom: $scale-size * $default-size * .25;

  if($with-styles) {
    position: absolute;
    z-index: 5;
  }
}

$name-container-default($scale-size, $with-styles = true) {
  max-width: $default-size * $scale-size * 12.5;
  font-size: $scale-size * $default-font-size * 1.5;
  if($with-styles) {
    display: -webkit-box;
    overflow: hidden;
    color: $black;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2; // @stylint ignore;
    -webkit-box-orient: vertical;
  }
}

$close-button-width = 1.25;
$close-button-default($scale-size, $with-styles = true) {
  /*
    width is not necessarily, but requires for Android <= 4.3
    due to pseudo elements partial support, also width must be bigger than font-size
  */
  z-index: 100;
  width: $scale-size * $default-font-size * $close-button-width * 1.75;
  font-size: $scale-size * $default-font-size * $close-button-width;
  line-height: @width;
  if($with-styles) {
    position: absolute;
    right: 0;
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 20px $gray;
  }
}

$download-container-default($scale-size, $with-styles = true) {
  padding: $scale-size * $default-size * .75 0;
  width: $scale-size * $default-size * 14;
  border-radius: $scale-size * $default-size * .75;
  font-size: $scale-size * $default-font-size * 1.25;

  if($with-styles) {
    background: $blue;
    color: $white;
    text-align: center;
  }
}

$privacy-button-default($scale-size, $with-styles = true) {
  if($with-styles) {
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: $end-screen-info-gray;
  }
}

/* MRAID iframe */

$iframe-default($with-styles = true) {
  if($with-styles) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
  }
}

$iframe-close-region-default($with-styles = true) {
  if($with-styles) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9998;
    width: 50px;
    height: 50px;
    opacity: .4;
  }
}

$radio-group-container($scale-size = $default-scale-size, $context-font-size = 1rem) {
  $radio-group-default-size = $scale-size * $default-size;

  padding: $radio-group-default-size * .5;
  font-size: $context-font-size;

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    visibility: hidden;
  }

  /* label text*/
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: $radio-group-default-size * 1.5;
    cursor: pointer;
    line-height: $context-font-size * 1.5;
    display: inline-block;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: $radio-group-default-size * .75;
    height: @width;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  [type="radio"]:checked + label:before {
    background-image: url('./../img/radio_on.png');
  }

  [type="radio"]:not(:checked) + label:before {
    background-image: url('./../img/radio_off.png');
  }

  [type="radio"]:checked + label {
    font-weight: 500;
  }

}

$tencent-overlay($scale-size = $default-scale-size) {
  position: fixed;
  top: $default-scale-size * 2rem;
  padding: $default-scale-size * .7rem;
  color: $white;
  font-size: $default-scale-size * $default-font-size * .75;
}

$full-screen-pop-up-view($scale-size, z-index = auto, $with-styles = true) {
  $pop-up-size = $scale-size * $default-size;
  $pop-up-font-size = $scale-size * $default-font-size * .65;

  position: absolute;
  top: 0;
  left: 0;
  z-index: z-index;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: $privacy-text-color;
  font-weight: 300;
  font-size: $pop-up-font-size;

  $pop-up-height = 70%;
  $pop-up-content-height = $pop-up-height + 20%;
  $pop-up-footer-height = 100% - $pop-up-content-height;

  .pop-up {
    position: relative;
    margin: 5%;
    padding: $pop-up-size;
    width: 80%;
    height: $pop-up-height;
    border-radius: $pop-up-size * .25;
    background: $end-screen-background-color;

    $fade-out-gradient-height = $pop-up-size * 3;

    .fade-out-gradient-separator {
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      height: $fade-out-gradient-height;
      background: linear-gradient(to top, $end-screen-background-color 0, $end-screen-background-color 50%, rgba(250, 250, 250, 0) 100%);
    }

    .pop-up-content {
      overflow: auto;
      padding-right: $pop-up-size * .5;
      height: $pop-up-content-height;

      .header,
      .highlight {
        font-weight: 400;
      }

      .icon-gdpr {
        display: block;
        text-align: center;
        font-size: $default-size * $default-font-size * 2.5;
        opacity: .4;
      }

    .centered-title {
      display: block;
      text-align: center;
    }

      .title {
        margin-top: $pop-up-size * .5rem;
        margin-bottom: $pop-up-size;
        font-weight: 500;
        font-size: $pop-up-font-size * 1.1;
      }

      .header {
        display: block;
        margin: $pop-up-size 0 $pop-up-size * .5 0;
        font-size: $pop-up-font-size * 1.15;
      }

      p {
        line-height: $pop-up-font-size * 1.5;

        &:last-of-type {
          min-height: $fade-out-gradient-height * 3.25;
        }
      }

    .report-title {
      margin-top: $pop-up-size;
      margin-bottom: $pop-up-size;
      font-size: $pop-up-font-size * 1.5;
    }

    .report-dialog {
      display: block;
      text-align: center;
      font-style: italic;
      font-size: $pop-up-font-size;
    }

    .report-disclaimer {
        display: block;
        margin-top: $pop-up-size * .5;
        margin-bottom: $pop-up-size * .5;
        text-align: center;
        font-size: $pop-up-font-size * .6;
    }

    .report-container {
      height: $pop-up-size * 3.5rem;

      .report-button {
        display: inline-block;
        float: left;
        margin: $pop-up-size * .5;
        padding: $pop-up-size * .75 $pop-up-size * 1.5;
        border-radius: $pop-up-size * .25;
        background: $privacy-green;
        color: $white;
        font-size: $pop-up-font-size * 1.25;
      }

      .report-confirmed-text {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        text-align: center;
        font-size: $default-size * $default-font-size * .65;
        opacity: 0;
        transition: opacity $default-transition-ts ease-in;

        &.active {
          opacity: 1;
        }
      }
    }

      .radio-group-container {
        $radio-group-container($scale-size, $pop-up-font-size);

        .radio-item-container {
          margin: 0 auto;
          padding: $pop-up-size * .25;
          width: 85%;
        }
      }
    }

    .pop-up-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: $pop-up-font-size * .75rem;

      .close-button {
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        margin: $pop-up-size * .5;
        padding: $pop-up-size * .75 $pop-up-size * 1.5;
        border-radius: $pop-up-size * .25;
        background: $blue;
        color: $white;
        font-size: $pop-up-font-size * 1.25;
      }

      .left-side-link {
        bottom: 0;
        display: inline-block;
        margin-left: $pop-up-size * .5;
        width: 22%;
        color: darken($end-screen-info-gray, 40%);
      }

      .middle-link {
        bottom: 0;
        display: inline-block;
        margin: $pop-up-size * .5;
        width: 22%;
        color: darken($end-screen-info-gray, 40%);
      }
    }

    .page-link {
      color: $blue;
      cursor: pointer;
    }
  }
}
