@import "components.styl";

$unity-ads-logo-container() {
  position: relative;
  bottom: 0;
  left: 0;
  margin: .25 * $default-size 0 0 0;
  width: 100%;
  height: $default-size;

  .icon-unity-ads-logo {
    $icon-unity-ads-logo-default($default-size);
    opacity: .6;
  }
}

#consent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: $consent-text-font-color;
  font-size: $consent-text-font-size;
  $ripple-square-default();

  &.prevent-clicks {
    pointer-events: none;
  }

  &.agegate {
    #age-gate {
      display: flex;
    }

    #consent-my-choices {
      display: none;
    }

    #consent-homepage {
      display: none;
    }

    #consent-homescreen {
      display: none;
    }
  }

  &.mychoices {
    #age-gate {
      display: none;
    }

    #consent-my-choices {
      display: flex;
    }

    #consent-homepage {
      display: none;
    }
  }

  &.homepage {
    #age-gate {
      display: none;
    }

    #consent-my-choices {
      display: none;
    }

    #consent-homepage {
      display: flex;
    }

    #consent-homescreen {
      display: none;
    }
  }


  &.android4-ios7-ios8 {
    .consent-button-container {
      padding: .75 * $default-size 0;
      width: 100%;
      justify-content: center;
      background: $white;
    }

    .consent-settings {
      height: 100%;
    }

    .agree {
      flex-grow: 0;
    }

    .save-my-choices {
      flex-grow: 0;
    }

    .safe-area {
      padding: 0;
    }

    #consent-my-choices {
      .empty-block {
        height: 6 * $default-size;
      }
    }
  }

  .safe-area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5 * $default-size;
  }
}

#age-gate {
  position: relative;
  max-height: 100%;
  border-radius: .5 * $default-size;
  background: $white;
  text-align: center;
  $ripple-square-default();

  .text-container {
    position: relative;
    flex: 1 1 auto;
    overflow: scroll;
    border-radius: .5 * $default-size;
    background: $white;

    // enable momentum scrolling on iOS
    -webkit-overflow-scrolling: touch;

    padding: 2 * $default-size;
  }

  .title {
    font-weight: $privacy-main-title-font-weight;
    font-size: $consent-title-font-size;
  }

  .main-text {
    color: $consent-text-font-color;
    font-weight: $consent-text-font-weight;
    font-size: $consent-text-font-size;
    line-height: $default-size;
  }

  .empty-block {
    height: 6.25 * $default-size;
  }

  .homepage-button-container {
    // use absolute position to ensure that buttons are always visible
    position: absolute;
    right:0;
    bottom: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 3.25 * $default-size .5 * $default-size 3.25 * $default-size;
    border-bottom-right-radius: .5 * $default-size;
    border-bottom-left-radius: .5 * $default-size;
    background: $white;
  }

  .consent-button {
    position: relative;
    margin-top: .5 * $default-size;
    padding: .55 * $default-size .75 * $default-size;
    border: 1px solid $consent-blue;
    border-radius: 2 * $default-size;
    background: $consent-blue;
    color: $white;
    text-align: center;
    font-weight: $privacy-main-title-font-weight;
    font-size: $consent-button-font-size;
  }

  .consent-button {
    &.click-animation {
      $click-animation();
    }
  }

  .logo-container {
    $unity-ads-logo-container();
  }
}

#consent-my-choices {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80%;
  border-radius: .5 * $default-size;
  background: $white;
  $ripple-square-default();

  .back-button {
    $consent-privacy-close-button-default();
    position: absolute;
    top: 0;
    left: 0;
  }

  .consent-settings {
    position: relative;
    overflow: scroll;
    padding: 1.5 * $default-size;
    height: 100%;
    border-radius: .5 * $default-size;
    background: $white;

    // enable momentum scrolling on iOS
    -webkit-overflow-scrolling: touch;
  }

  .consent-title {
    color: $black;
    font-weight: $privacy-main-title-font-weight;
    font-size: $consent-title-font-size;
  }

  .consent-button-container {
    // use absolute position to ensure that buttons are always visible
    position: absolute;
    right:0;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding: .75 * $default-size $default-size;
    border-bottom-right-radius: .5 * $default-size;
    border-bottom-left-radius: .5 * $default-size;
    background: $white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .19);
  }

  .consent-button {
    position: relative;
    align-self: center;
    padding: .75 * $default-size .75 * $default-size;
    border-radius: 2 * $default-size;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    text-align: center;
    font-weight: $privacy-title-font-weight;
    font-size: $consent-button-font-size;

  }

  .consent-button {
    &.click-animation {
      $click-animation();
    }
  }

  .agree {
    display: block;
    flex-grow: 1;
    border: 1px solid $consent-blue;
    background: $consent-blue;
    color: $white;
  }

  .disagree {
    display: block;
    margin-left: .75 * $default-size;
    border: 1px solid $consent-border-gray;
    color: $black;
  }

  .save-my-choices {
    display: none;
    flex-grow: 1;
    border: 1px solid $consent-blue;
    background: $consent-blue;
    color: $white;
  }

  .consent-button-container:not(.show-save-my-choices-button) {
    .agree {
      display: block;
    }

    .disagree {
      display: block;
    }
    .save-my-choices {
      display: none;
    }
  }

  .consent-button-container.show-save-my-choices-button {
    .agree {
      display: none;
    }
    .disagree {
      display: none;
    }
    .save-my-choices {
      display: block;
    }
  }

  #third-party-switch.disabled {
    opacity: .33;
    pointer-events: none;
  }

  .switch-group-container {
    $switch-group-container();
    margin-top: .5 * $default-size;
  }
  .empty-block {
    height: 5 * $default-size;
  }
  .privacy-container {
    #privacy-row-item-container {
      .row-item {
        margin: 0 0 0 0;
        padding: $default-size 0;
        border-top: 1px solid $consent-divider-color;
        border-bottom: 1px solid $white;
      }

      .row-item-title {
        font-size: $consent-text-font-size;
      }

      .description {
        color: $consent-text-font-color;
        text-align: left;
        font-weight: $consent-text-font-weight;
        font-size: $consent-text-font-size;
      }

      .heading2 {
        display: block;
        font-weight: $privacy-main-title-font-weight;
        font-size: $consent-text-font-size;
      }

      .arrow-icon {
        margin-top: .25 * $default-size;
        padding-right: 0;
        font-size: $consent-text-font-size;
        opacity: 1;
      }

      .heading2 {
        font-size: $consent-text-font-size;
      }
    }
  }
}

#consent-homepage {
  position: relative;
  max-height: 100%;
  border-radius: .5 * $default-size;
  background: $white;
  text-align: center;
  $ripple-square-default();

  .text-container {
    position: relative;
    flex: 1 1 auto;
    overflow: scroll;
    border-radius: .5 * $default-size;
    background: $white;

    // enable momentum scrolling on iOS
    -webkit-overflow-scrolling: touch;

    padding: 1.5 * $default-size;
  }

  .privacy-logo {
    margin-bottom: .25 * $default-size;
    font-size: 1.5 * $consent-main-title-font-size;
  }

  .title {
    font-weight: $privacy-main-title-font-weight;
    font-size: $consent-text-font-size;
  }

  .main-text {
    color: $consent-text-font-color;
    font-weight: $privacy-text-font-weight;
    font-size: $privacy-text-font-size;
    line-height: $default-size;
  }

  .empty-block {
    height: 7 * $default-size;
  }

  .homepage-button-container {
    // use absolute position to ensure that buttons are always visible
    position: absolute;
    right:0;
    bottom: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $default-size 3.25 * $default-size .5 * $default-size 3.25 * $default-size;
    border-bottom-right-radius: .5 * $default-size;
    border-bottom-left-radius: .5 * $default-size;
    background: $white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .19);
  }

  .consent-button {
    position: relative;
    padding: .55 * $default-size .75 * $default-size;
    border-radius: 2 * $default-size;
    text-align: center;
    font-weight: $privacy-main-title-font-weight;
  }

  .consent-button {
    &.click-animation {
      $click-animation();
    }
  }

  .homepage-accept-all {
    display: block;
    border: 1px solid $consent-blue;
    background: $consent-blue;
    color: $white;
    font-size: $default-font-size * .75;
  }

  .show-choices {
    display: block;
    margin-top: .5 * $default-size;
    border: 1px solid $privacy-light-gray;
    color: $consent-disagree-button-color;
    font-size: $privacy-heading-font-size;

  }

  .page-link {
    text-decoration: underline;
    cursor: pointer;
  }

  .logo-container {
    $unity-ads-logo-container();
  }

}

&.portrait {
  #consent {
    .back-button {
      margin-top: -.5 * $default-size;
      transform: translateY(-100%);
    }
  }
}

&.landscape {
  #consent {
    #consent-my-choices,
    #consent-homepage,
    #age-gate {
      left: 15%;
      width: 70%;
    }

    #consent-my-choices {
      height: 100%;
    }

    .back-button {
      margin-left: -.5 * $default-size;
      transform: translateX(-100%);
    }
  }
}

body {
  &.landscape #consent-homepage {
    .homepage-button-container {
      padding: $default-size 5 * $default-size .5 * $default-size 5 * $default-size;
    }
  }
}


$iphone-x-paddings() {
  #consent {
    .safe-area {
      top: constant(safe-area-inset-top);
      right: constant(safe-area-inset-right);
      bottom: constant(safe-area-inset-bottom);
      left: constant(safe-area-inset-left);

      top: env(safe-area-inset-top);
      right: env(safe-area-inset-right);
      bottom: env(safe-area-inset-bottom);
      left: env(safe-area-inset-left);

      padding: 0 .5 * $default-size;
    }
  }

  .landscape {
    #consent {
      .safe-area {
        padding: .5 * $default-size 0 0 0;
      }
    }
  }
}

/* iPhone X & iPhone XS */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  html {
    $iphone-x-paddings();
  }
}

/* iPhone XS Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  html {
    $iphone-x-paddings();
  }
}

/* iPhone XR */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  html {
    $iphone-x-paddings();
  }
}
