@import "components.styl";

#consent {
  position: absolute;
  top: 0;
  right: 0;
  bottom 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: $consent-text-font-size;
  color: #181818;

  &.prevent-clicks {
    pointer-events: none;
  }
  .safe-area-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5 * $default-size;
  }

  .consent-container {
    position: relative;
    height: 80%;
    border-radius: .5 * $default-size;
    padding-top: .5 * $default-size;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: $white;
  }

  .consent-introduction {
    display: none;
  }

  .consent-settings {
    position: relative;
    overflow: auto;
    background: $white;
    padding: 1.5 * $default-size;
  }

  .consent-title {
    font-size: .9 * $default-size;
    font-weight: $privacy-main-title-font-weight;
    color: $black;
  }

  .consent-button-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: $default-size $default-size;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.19);
  }

  .consent-button {
    font-size: .8 * $default-size;
    border-radius: 2 * $default-size;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: .75 * $default-size 1.5 * $default-size;
    align-self: center;
    font-weight: $privacy-title-font-weight;

  }

  .agree {
    background: $consent-blue;
    color: $white;
    flex-grow: 1;
  }

  .disagree {
    color: $black;
    border: 1px solid #D8D8D8;
    margin-left: $default-size;
  }


  .switch-group-container {
    $switch-group-container();
    margin-top: .5 * $default-size;
  }

}
