$blue = #2ba3ff;
$darker-gray = #252525;

$privacy-text-color = #fafafa;

$icon-unity-ads-logo-color = #fafafa;

$end-screen-background-color = #121212;

$end-screen-info-gray = #fafafa;

$end-screen-game-name-color = #dedede;

$privacy-close-button = #ffffff;

$consent-text-font-color = #fafafa;

$consent-divider-color = #8c8c8c;
