@import "vars.styl";

body.landscape #end-screen.dark-end-screen .btn-close-region {
  color: $white;
}

body.portrait #end-screen.dark-end-screen .end-screen-info {
  position: relative;
  top: $default-scale-size * $default-size * 1.5;
}

#end-screen.dark-end-screen {

  overflow: hidden;

  .btn-close-region {
    z-index: 100;
  }

  /* iOS 8 fix */
  .row-container {
    bottom: $default-scale-size * $default-size * .25;
    z-index: 20;
  }

  .campaign-container {

    background: transparent;

    .end-screen-info-background,
    .game-background {
      z-index: 10;
    }

    .name-container,
    .game-rating-count {
      color: $white;
    }

    .download-container {
      /* iOS 8 fix: position and z-index */
      position: relative;
      z-index: 20;
      border-radius: $default-scale-size * $default-size * 5;
      background-color: darken($blue, 10%);
    }

    .game-background-landscape,
    .game-background-portrait {
      position: relative;
      border-radius: .2rem;
      box-shadow: 0 0 100px 5px rgba(0, 0, 0, .75);
    }

    .game-background-landscape {
      /* iOS8 fix: right and margin */
      top: 5%;
      right: 2.5%;
      margin-left: 5%;
      width: 45%;
      height: 90%;
    }

    .game-background-portrait {
      top: $default-scale-size * $default-size * 2.75;
      margin: 0 auto;
      width: 90%;
    }

    .end-screen-info {
      z-index: 20;
    }

    .underlay {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      filter: brightness(100%) blur(20px);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* Help android to render blur faster */
      transform: scale(1.5) translateZ(0);
      perspective: 1000;
      backface-visibility: hidden;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(255, 255, 255, 0), $black 80%);
        content: "";
      }
    }

    .unityads-logo {
      bottom: 0;
      height: $default-scale-size * $default-size * 1.5;
      background-image: url("../img/unityads-white.png");
    }
  }
}

#end-screen.dark-end-screen.filter-fallback {

  .underlay {
    opacity: .5;
    transform: none;
    perspective: none;
    backface-visibility: visible;

    &:before {
      background-image: linear-gradient(rgba(255, 255, 255, 0), $black 40%);
    }
  }
}

