@import "dark-vars.styl";

.dark-mode {
  #end-screen {
    .icon-gdpr {
      color: $privacy-text-color;
    }

    .end-screen-info-background {
      background-color: $end-screen-background-color;
    }

    .icon-unity-ads-logo {
      color: $icon-unity-ads-logo-color;

    }

    .game-rating {
      color: $end-screen-info-gray;
    }

    .name-container {
      color: $end-screen-game-name-color;
    }
  }

  #end-screen.show-gdpr-banner{
    color: $privacy-text-color;

    .gdpr-pop-up {
      background-color: $end-screen-background-color;

      .icon-gdpr {
        color: $privacy-text-color;
      }

      .gdpr-text {
        .gdpr-link {
          color: $blue;
        }
      }
    }
  }

  #privacy {
    color: $privacy-text-color;

    .pop-up {
      background-color: $end-screen-background-color;
      .fade-out-gradient-separator {
        background: linear-gradient(to top, $end-screen-background-color 0, $end-screen-background-color 50%, rgba(5, 5, 5, 0) 100%);
      }
    }

    .pop-up-footer {
      .middle-link,
      .left-side-link {
        color: $blue;
      }

      .close-button {
        background-color: $blue;
      }
    }

    a {
      color: $blue;
    }
  }

  #privacy-settings {
    color: $privacy-text-color;

    #privacy-row-item-container {
      .description {
        color: $consent-text-font-color;
      }
    }

    .back-button {
      color: $consent-text-font-color;
    }

    .settings-button {
      background: $darker-gray;
    }

    .button-row-container {
      .row-button {
        background: $darker-gray;
      }
    }

    .view-container {
      background-color: $end-screen-background-color;
    }

    .privacy-logo {
      color: $privacy-text-color;
    }

    .page-link,
    a {
      color: $blue;
    }
  }
}

