@import "dark-vars.styl"

#end-screen.dark-mode {
  .icon-gdpr {
    color: $privacy-text-color;
  }

  .end-screen-info-background {
    background-color: $end-screen-background-color;
  }

  .unityads-logo {
    color: $unityads-logo-color;

  }

  .game-rating {
    color: $end-screen-info-gray;
  }

  .name-container {
    color: $end-screen-game-name-color;
  }
}
