@import "mixins.styl";

#end-screen.easter-end-screen {
  .end-screen-info-background {
    $set-image("", "", 0, "../img/easter-theme/easter2018.jpg", 100% auto);
    background-color: $end-screen-background-color;
    background-position: bottom;
  }
}
