#end-screen
	.campaign-container.easter2016
		.end-screen-info-background
			background-image: url('../img/easter2016.jpg')
			background-position: center bottom
			background-repeat: no-repeat
			background-size: 100%