@import "vars.styl";
@import "components.styl";
@import "easter-theme.styl";

$end-screen-mixin($scale-size = $default-scale-size) {

  #end-screen {
    .btn-close-region {
      $close-button-default($scale-size);
      padding: $default-size * $scale-size * .25;
    }
    .download-container {
      $download-container-default($scale-size);
    }

    .game-rating {
      $game-rating-default($scale-size);
    }

    .game-rating-mask {
      $game-rating-mask-default($scale-size);
    }

    .game-rating-count {
      $game-rating-count-default($scale-size);
    }

    .game-icon {
      $game-icon-default($scale-size);
    }

    .unityads-logo {
      $unityads-logo-default($scale-size);
    }

    .name-container {
      $name-container-default($scale-size);
    }

    .privacy-button {
      $privacy-button-default($scale-size);
      margin: 0 0 0 $default-size * $scale-size * .25;
    }

    .gdpr-pop-up {
      $gdpr-pop-up($scale-size);
    }
  }

  body {
    &.portrait #end-screen {
      .column-container {
        margin-left: $default-size * $scale-size * .5;
      }

      .download-container {
        margin: $default-size * $scale-size * .75 auto;
      }

      .gdpr-pop-up {
        margin: 0 5%;

        .gdpr-text,
        .gdpr-pop-up {
          will-change: transform;
        }
      }
    }

    &.landscape #end-screen {
      .column-container {
        margin: $default-size * $scale-size * .5 0;
      }
      .btn-close-region {
        color: $gray;
      }
    }

    #end-screen {
      .store-container {
        margin-top: $default-size * $scale-size * .4;
      }

      .row-container {
        bottom: $default-size * $scale-size;
      }
    }
  }
}

body {

  $animation-duration = 1s;
  $animation-delay = .75s;
  $text-animation-delay = $animation-delay + $animation-duration + .2s;

  #end-screen.on-show {
    .gdpr-text {
      animation: gdpr-text-flow 7.5s linear $text-animation-delay forwards;
    }

    .gdpr-pop-up {
      animation: gdpr-slide-down $animation-duration ease-in $animation-delay forwards;
    }
  }

  &.portrait #end-screen {
    .game-background-portrait {
      display: block;
    }
    .game-background-landscape {
      display: none;
    }

    .row-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .column-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .game-background {
      width: 100%;
      height: 50%;
    }

    .end-screen-info-background {
      width: 100%;
      height: 50%;
    }

    .privacy-button {
      left: 0;
    }

    .game-icon {
      align-self: center;
    }

    &.on-show {
      .gdpr-text {
        animation: gdpr-text-flow 7.5s linear $text-animation-delay forwards;
      }
    }
  }

  &.landscape #end-screen {
    .game-background-portrait {
      display: none;
    }
    .game-background-landscape {
      display: block;
    }

    .end-screen-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .game-icon {
        margin: 0 auto;
      }

    }

    .game-background {
      width: 50%;
      height: 100%;
    }

    .campaign-container {
      display: flex;
    }

    .end-screen-info-background {
      width: 50%;
      height: 100%;
      text-align: center;
    }

    .privacy-button {
      left: 50%;
    }

    .unityads-logo {
      width: 50%;
    }

    &.on-show {
      .gdpr-text {
        animation: gdpr-text-flow 5s linear $text-animation-delay forwards;
      }

    }
  }

  .row-container {
    position: relative;
  }
}

#end-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  .campaign-container {
    width: 100%;
    height: 100%;
    background: $white;
  }

  .game-background {
    background-color: $black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .end-screen-info-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    justify-content: center;
    background-color: $end-screen-background-color;
  }
}

$end-screen-mixin();

@keyframes gdpr-slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes gdpr-text-flow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-110%);
  }
}
