@import "vars.styl";

#end-screen {
  .download-query {
    padding-top: $endscreen-default-size * .8;
    padding-bottom: $endscreen-default-size * .2;

    .download-query-text {
      font-size: 80%;
    }
  }

  @media screen and (max-height: 640) {
    .end-screen-info {
      .column-container {
        .game-icon-query {
          margin-bottom: 0;
        }
      }
    }
  }

  .download-container-query {
    display: block;
    padding-top: 0;
    background-color: transparent;

    .download-button {
      padding: $endscreen-default-size * .6 0;
      border-radius: $endscreen-default-size * .6;
    }

    .download-yes {
      float: right;
      width: 60%;
      background: $blue;
    }

    .download-no {
      float: left;
      width: 35%;
      background: $light-gray;
    }
  }
}

body {
  &.portrait #end-screen {
    .download-container-query {
      margin: $endscreen-default-size * 1 auto auto auto;
    }
  }

  &.ios {
    #end-screen .end-screen-info {
      .download-container-query {
        border-radius: 2.25 * $endscreen-default-size;
      }
    }
  }

  &.landscape #end-screen {
    .end-screen-info {
      .download-container-query {
        margin: 0;
      }
    }

    .download-query {
      padding-top: $endscreen-default-size * 1;
      padding-bottom: $endscreen-default-size * .3;
    }
  }
}
