@import "vars.styl";

$download-text = #4943B6;

@media (min-width: 1025px)
  html.fancy-end-screen {
    font-size: $default-px-size * 1.5;
  }

/***********
* Portrait
***********/
@media (max-width: 768px) and (min-width: 569px) and (orientation: portrait)
  html.fancy-end-screen {
    font-size: $default-px-size * 1.5;
  }

/***********
* Landscape
***********/
@media (orientation: landscape)
  @media (min-width: 960px) and (max-width: 1024px) {
    html.fancy-end-screen {
      font-size: $default-px-size * 1.5;
    }
  }

@media (max-width: 960px) and (min-width: 768px) and (orientation: landscape)
  html.fancy-end-screen {
    font-size: $default-px-size * 1.4;
  }

$end-screen-mixin($scale-size = $default-scale-size) {

  #end-screen.fancy-end-screen {
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5%;
      height: 100%;
    }

    .end-screen-info-background {
      position: relative;
      align-items: center;
      width: auto;
      background-color: transparent;
    }

    .end-screen-info {
      align-items: stretch;
      width: 77%;
    }

    .game-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .store-container {
      margin-top: 0;
      line-height: .5rem;
    }

    .column-container {
      flex-grow: 1;
      margin: .3rem;
      text-align: left;
    }

    .row-container {
      position: static;
      display: flex;
      align-items: center;
      margin-bottom: .8rem;
      width: 100%;
      border-radius: $scale-size * $default-size * .3;
      background-color: rgba(23, 22, 34, .8);
    }

    // TODO: Set proper max-width
    .name-container {
      margin-bottom: .2rem;
      color: $white;
      font-weight: bold;
      font-size: $scale-size * $default-font-size * .9;
    }

    .download-container {
      z-index: 5;
      margin: 0;
      padding: .6rem .8rem;
      width: auto;
      border-radius: $scale-size * $default-size * .15;
      background-color: $white;
      color: $download-text;
      text-align: start;
      font-weight: bold;
      font-size: $scale-size * $default-font-size;
    }

    .game-rating {
      color: transparent;
      letter-spacing: 2px;
      font-size: .7rem;
      line-height: 1rem;
    }

    .game-rating-count {
      color: rgba(255, 255, 255, .6);
      font-size: .6rem;
    }

    .game-rating-mask {
      color: rgba(255, 255, 255, .6);
    }

    .campaign-container {
      display: flex;
      flex-direction: column;
    }

    .game-image-container {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 50%;
    }

    .game-image {
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: url("http://10.35.33.235:8000/build/browser/img/square-end-screen.jpg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .game-background-blurred {
      position: absolute;
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      filter: blur(5px) brightness(.8) opacity(.68);
      transform: scale(1.4);
      background-color: transparent;
      background-size: cover;
    }

    .game-background-landscape-blurred,
    .game-background-landscape {
      display: none;
    }

    .game-icon {
      margin: .6rem .5rem;
    }

    .game-background {
      width: 80%;
      height: 80%;
      border-radius: $scale-size * $default-size * .3;
    }

    .bottom-container {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .unityads-logo {
      position: absolute;
      right: auto;
      left: 0;
      width: 4rem;
      height: 1rem;
      background-position: left;
    }

    .privacy-button {
      position: absolute;
      right: 0;
      bottom: 0;
      left: auto;
      font-size: $scale-size * $default-font-size * .8;
    }
  }

  body {
    &.portrait #end-screen.fancy-end-screen {
      .content-container {
        margin: 12% 4% 4% 4%;
      }

      .end-screen-info {
        margin-top: 4%;
      }

      .download-container {
        margin: 0;
      }

      .privacy-button {
        left: auto;
      }

      .game-background {
        height: 100%;
      }
    }

    &.landscape #end-screen.fancy-end-screen {
      .end-screen-info-background {
        flex: 5;
        align-items: stretch;
        width: auto;
      }

      .content-container {
        flex-direction: row;
        width: auto;
        height: 100%;
      }

      .end-screen-info {
        align-items: stretch;
        width: auto;

        .game-icon {
          margin: .6rem .5rem;
        }
      }

      .game-background-portrait-blurred,
      .game-background-portrait {
        display: none;
      }

      .game-background-landscape-blurred,
      .game-background-landscape {
        display: block;
      }

      .game-background {
        width: 100%;
        height: 100%;
      }

      .game-image-container {
        flex: 6;
        margin-right: 5%;
        width: 30%;
        height: 100%;
      }

      .column-container {
        margin: .3rem;
      }

      .btn-close-region {
        color: $white;
      }

      .privacy-button {
        left: auto;
      }
    }
  }
}

$end-screen-mixin();