@import "vars.styl";

$download-text = #4943B6;
$border-radius = .2rem;

$end-screen-mixin($scale-size = $default-scale-size) {

  #end-screen.fancy-end-screen {

    .game-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .store-container {
      margin-top: 0;
      line-height: .5rem;
    }

    .column-container {
      flex-grow: 1;
      margin: 0 .3rem 0 0;
      text-align: left;
    }

    .download-container {
      z-index: 5;
      padding: .4rem;
      width: 100%;
      border-radius: $border-radius;
      background-color: $white;
      color: $download-text;
      text-align: start;
      //font-size: $scale-size * $default-font-size;
    }

    .row-container {
      position: static;
      display: flex;
      align-items: center;
      width: 100%;
    }

    // TODO: Set proper max-width
    .name-container {
      color: $white;
      //font-size: $scale-size * $default-font-size;
    }

    .game-icon {
      //$game-icon-default($scale-size * .5);
      margin: .3rem 1rem .3rem .3rem;
    }

    .game-rating-count {
      color: rgba(255, 255, 255, .8);
      font-size: $scale-size * $default-font-size * .5;
    }

    .campaign-container {
      display: flex;
      flex-direction: column;
    }

    .privacy-button {
      left: 0;
    }

    .game-image-container {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 50%;
    }

    .game-image {
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: url("http://10.35.33.235:8000/build/browser/img/square-end-screen.jpg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .game-background-blurred {
      position: absolute;
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      filter: blur(5px) brightness(.8) opacity(.68);
      transform: scale(1.4);
      background-color: transparent;
      background-size: cover;
    }

    .end-screen-info {
      margin-bottom: .4rem;
      width: 100%;
      border-radius: $border-radius;
      background-color: rgba(23, 22, 34, .8);
    }

    .end-screen-info-background {
      width: auto;
      background-color: $white;
    }

    .game-background-landscape-blurred,
    .game-background-landscape {
      display: none;
    }

    .game-background-portrait-blurred {
      width: 50%;
      height: 100%;
    }

    .game-background {
      width: 80%;
      height: 80%;
      border-radius: $border-radius;
    }
  }

  &.landscape #end-screen.fancy-end-screen {
    .end-screen-info-background {
      position: relative;
      flex: 5;
      align-items: stretch;
      width: auto;
      background-color: transparent;
    }

    .content-container {
      display: flex;
      flex-direction: row;
      margin: 5%;
      height: 100%;
    }

    .end-screen-info {
      width: auto;

      .game-icon {
        margin: .3rem 1rem .3rem .3rem;
      }
    }

    .download-container {
      width: auto;
    }

    .bottom-container {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .game-background-portrait-blurred,
    .game-background-portrait {
      display: none;
    }

    .game-background-landscape-blurred,
    .game-background-landscape {
      display: block;
    }

    .game-background {
      width: 100%;
      height: 100%;
    }

    .game-image-container {
      flex: 6;
      margin-right: 5%;
      width: 30%;
      height: 100%;
    }

    .btn-close-region {
      color: $white;
    }

    .unityads-logo {
      position: absolute;
      right: auto;
      left: 0;
      width: 3rem;
      height: .6rem;
      background-position: left;
    }

    .privacy-button {
      position: absolute;
      right: 0;
      bottom: 0;
      left: auto;
      font-size: $scale-size * $default-font-size * .4;
    }
  }
}

$end-screen-mixin();