body.iphone
body.ipad
body.android


  /************************
  *
  * END SCREEN
  *
  ************************/

  .btn-close-region
    top: 0
    right: 0
    width: 55px
    height: 55px

  a.btn-close
    top: 10px
    font-size: 28px
    width: 32px
    height: 32px
    border-radius: 17px

  a.btn-close
    line-height: 28px
    right: 10px

  .end-screen-info-background
    border-top: 4px solid #e6e6e6

  .name-container
    font-size: 20pt
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

  .game-info
    margin-top: 20px
    margin-left: 18px

    .name-container
      padding-left: 10px
      padding-right: 10px
      padding-top: 8px
      font-size: 17pt

  .game-icon
    width: 75px
    height: 75px
    border-radius: 18pt
    margin-bottom: 20px

  .store-container
    margin-left: 10px
    margin-top: 5px

  .game-rating
    font-size: 20px
    letter-spacing: 5px

  .game-rating-count
    font-size: 17px

  .btn-download
    margin: 0 15px 0 15px
    padding: 10px 10px 10px 10px
    border-radius: 10px
    font-size: 18pt
    line-height: 24pt
    margin-top: 45px

  .unityads-logo
    width: 68px
    height: 16px
    bottom: 10px

  /************************
  *
  * END SCREEN landscape specific
  *
  ************************/

  &.landscape
    .end-screen-info-background
      border-top: none
      border-left: 4px solid #e6e6e6

    .btn-close-region
      top: 0
      bottom: auto

    a.btn-close
      top: 10px
      bottom: auto

    .end-screen
      .btn-close-region
        left: 0
        right: auto
      a.btn-close
        left: 10px

    .start-screen
      .btn-close-region
        right: 0
        left: auto
      a.btn-close
        right: 10px
        margin-top: 0

    .game-info
      margin-top: 25px
      margin-left: auto
      text-align: center

    .game-icon
      left: 0
      right: 0
      position: absolute
      margin: auto

    .name-container
      font-size: 18pt
      padding-top: 95px

    .store-container
      float: none
      clear: both
      margin-left: auto
      padding-top: 0
      text-align: center

    .btn-download
      font-size: 11pt
      padding: 5px 10px 5px 10px
      margin-top: 15px

    .unityads-logo
      bottom: 20px

  /************************
  *
  * SPINNER
  *
  *************************/

  .spinner-container
    padding: 10px 15px
    border-radius: 10px
    -webkit-box-shadow: 0px 0px 50px #FFF
    border: 3px solid #FFF
    letter-spacing: 1px

  .spinner-text
    line-height: 32px

  /************************
  * ERROR
  *************************/

  .error-container
  .privacy-container
    padding: 10px 15px
    border-radius: 20px
    -webkit-box-shadow: 0px 0px 20px #FFF
    border: 3px solid #FFF
    letter-spacing: 1px
    margin: 0 10px

  .error-text
  .privacy-text
  .privacy-simple-text
    line-height: 17px
    font-size: 12px
    text-align: justify

  .btn-ok
  .btn-cancel
    padding: 5px
    margin: 5px 0
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5)
    border-radius: 10px
    font-size: 18px
    line-height: 20px
