body.iphone
body.ipad
body.android

  // 320 x 426 - Samsung Galaxy Y
  @media screen and (max-height: 320px) and (max-width: 427px),
          screen and (max-height: 427px) and (max-width: 320px)
    .game-icon
      width: 60px
      height: 60px
      border-radius: 12pt

    .game-info
      margin-top: 15px

      .name-container
        font-size: 15pt

    .btn-download
      padding: 5px 5px 5px 5px
      font-size: 16pt

    &.landscape
      .game-icon-shadow
        margin-top: 67px

      .game-info
        margin-top: 35px

        .name-container
          font-size: 13pt

      .game-rating
        font-size: 17px

      .btn-download
        font-size: 9pt
        padding: 5px 5px 5px 5px

        .icon-download
          width: 24px
          height: 24px
          font-size: 15px
          margin-top: 3px
          line-height: 24px

  // 320 x 568 - iPhone 5
  @media screen and (min-height: 568px) and (min-width: 320px),
          screen and (min-height: 320px) and (min-width: 568px)
    .game-info
      margin-top: 22px

    .name-container
      padding-top: 10px

    .store-container
      margin-top: 10px

    .btn-download
      margin-top: 65px
      padding: 15px 10px 15px 10px

    .everyplay-gameads-logo
      bottom: 20px

    &.landscape
      .btn-download
        font-size: 14pt

  // 360 x 640 - Samsung Galaxy Note II, Samsung Galaxy S4
  @media screen and (min-height: 360px) and (min-width: 640px),
          screen and (min-height: 640px) and (min-width: 360px)

    .btn-watch-again-region
      width: 75px
      height: 75px

    .btn-close-region
      width: 75px
      height: 75px

    .game-info
      margin-top: 35px

    .game-icon
      width: 85px
      height: 85px

    .name-container
      font-size: 20pt

    .game-rating
      font-size: 25px

    .game-rating-count
      font-size: 21px

    .btn-download
      margin-top: 90px

    &.landscape
      .game-info
        margin-top: 20px

      .game-icon-shadow
        margin-top: 90px

      .name-container
        padding-top: 115px

      .btn-download
        padding: 10px 10px 10px 10px

  // 384 x 360 - LG Optimus G
  @media screen and (min-height: 384px) and (min-width: 640px),
          screen and (min-height: 640px) and (min-width: 384px)
    &.landscape
      .game-info
        margin-top: 45px

      .btn-download
        padding: 15px 10px 15px 10px;
        font-size: 16pt;

  // 424 x 753 - LG Optimus 4X HD
  @media screen and (min-height: 424px) and (min-width: 753px),
          screen and (min-height: 753px) and (min-width: 424px)
    .game-info
      margin-top: 50px

      .name-container
        font-size: 21pt

    .game-icon
      width: 100px
      height: 100px

    .game-rating
      font-size: 30px

    .game-rating-count
      font-size: 24px

    .btn-download
      padding: 25px 20px 25px 20px
      font-size: 22pt
      line-height: 22pt

    .everyplay-gameads-logo
      width: 102px
      height: 24px

    &.landscape
      .game-info
        margin-top: 35px

      .name-container
        padding-top: 125px

      .game-icon-shadow
        margin-top: 105px 

      .btn-download
        font-size: 19pt
        line-height: 19pt

  // 540 x 960 - Motorola Droid 3
  @media screen and (min-height: 540px) and (min-width: 960px),
          screen and (min-height: 960px) and (min-width: 540px)
    .btn-watch-again-region
    .btn-close-region
      width: 95px
      height: 95px

    a.btn-watch-again
    a.btn-close
      top: 20px
      width: 50px
      height: 50px
      border-radius: 25px
      font-size: 42px

    a.btn-watch-again
      left: 20px
      line-height: 50px

    a.btn-close
      right: 20px
      line-height: 45px

    .game-icon
      width: 130px
      height: 130px

    .game-info
      margin-top: 60px

      .name-container
        font-size: 27pt

    .game-rating
      font-size: 40px

    .game-rating-count
      font-size: 30px

    .btn-download
      padding: 30px 25px 30px 25px
      font-size: 26pt
      line-height: 26pt
      margin-top: 120px

      .icon-download
        width: 50px
        height: 50px
        font-size: 30px
        line-height: 47px
        border-radius: 25px
        margin-top: -7px

    &.landscape
      .end-screen-info
        margin: 30px
      
      a.btn-watch-again
        bottom: 20px
        left: 20px
        top: auto

      .end-screen
        a.btn-close
          top: 20px
          left: 20px
          right: auto

      .game-icon-shadow
        margin-top: 145px
        width: 119px
        height: 18px

      .name-container
        padding-top: 175px

      .btn-download
        padding: 25px 20px 25px 20px
        font-size: 21pt
        line-height: 21pt

      .icon-download
        margin-top: -11px

  // 960 x 600 - Google Nexus 7
  @media screen and (min-height: 600px) and (min-width: 906px),
          screen and (min-height: 906px) and (min-width: 600px)
    .end-screen-info
      margin: 30px

    .game-info
      margin-top: 70px

      .name-container
        font-size: 29pt

    &.landscape
      .game-info
        margin-top: 70px

  // 1024 x 600 - Samsung Galaxy Tab 7"
  @media screen and (min-height: 600px) and (min-width: 1024px),
          screen and (min-height: 1024px) and (min-width: 600px)
    .game-info
      margin-top: 50px

      .name-container
        font-size: 31pt

    .game-rating
      font-size: 45px

    .game-rating-count
      font-size: 35px

    .everyplay-gameads-logo
      width: 153px
      height: 36px

    &.landscape
      .game-info
        margin-top: 40px

      .btn-download
        padding: 30px 20px 30px 20px
        font-size: 24pt
        line-height: 24pt
        margin-top: 30px

  // 1024 x 768 - iPad
  @media screen and (min-height: 768px) and (min-width: 1024px),
          screen and (min-height: 1024px) and (min-width: 768px)
    .game-info
      margin-top: 50px

      .name-container
        padding-left: 30px
        font-size: 38pt

    .store-container
      margin-left: 30px

    .game-rating
      font-size: 50px
      letter-spacing: 15px

    .game-rating-count
      font-size: 40px

    &.landscape
      .game-info
        margin-top: 140px

        .name-container
          font-size: 32pt
          padding-left: 10px

      .game-rating
        font-size: 45px
        letter-spacing: 5px

  // 800 x 1280 - Samsung Galaxy Tab 10
  @media screen and (min-height: 800px) and (min-width: 1280px),
          screen and (min-height: 1280px) and (min-width: 800px)
    .btn-close-region
    .btn-watch-again-region
      width: 130px
      height: 130px

    a.btn-close
    a.btn-watch-again
      width: 75px
      height: 75px
      border-radius: 45px
      font-size: 80px

    a.btn-watch-again
      line-height: 75px

    a.btn-close
      line-height: 60px

    .game-info
      margin-top: 70px

    .game-icon
      width: 150px
      height: 150px

    .game-rating
      font-size: 55px

    .game-rating-count
      font-size: 45px

    .btn-download
      padding: 45px 25px 45px 25px
      font-size: 35pt
      line-height: 35pt
      margin-top: 160px

      .icon-download
        width: 75px
        height: 75px
        border-radius: 45px
        font-size: 45px
        line-height: 73px
        margin-top: -15px

    &.landscape
      .game-icon-shadow
        margin-top: 165px

      .game-info
        margin-top: 120px

        .name-container
          font-size: 37pt
          padding-top: 200px

      .btn-download
        padding: 40px 20px 40px 20px
        font-size: 30pt
        line-height: 30pt