.button-big {
  width: $video-overlay-styles.touchable-area-width * 1.25;
  height: $video-overlay-styles.touchable-area-height * 1.25;
  background-color: transparent;
}

.fullscreen-cta-container {
  position: absolute;
  top: $video-overlay-styles.touchable-area-height * .35;
  right: $video-overlay-styles.touchable-area-width * .35;
  bottom: $video-overlay-styles.touchable-area-height * .35;
  left: $video-overlay-styles.touchable-area-width * .35;
  display: none;
  background-color: transparent;
}

.fullscreen-cta-text {
  position: absolute;
  top: $video-overlay-styles.touchable-area-height * .25;
  right: $video-overlay-styles.touchable-area-width * 1.5;
  margin-left: 45px;
  color: $white;
  font-size: $video-overlay-styles.base-size * .6;
}

&.fade-in {
  .fullscreen-cta-container {
    display: block;
  }
}
