.game-rating {
  position: relative;
  display: inline-block;
  color: $end-screen-info-gray;
  vertical-align: middle;
  letter-spacing: 5px;
  font-size: 20px;
}

.game-rating-mask {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  color: $rating-orange;
  white-space: nowrap;
  font-size: inherit;
}

.game-rating-count {
  color: $gray;
  font-size: 17px;
}

.game-icon {
  margin-bottom: 20px;
  width: 75px;
  height: 75px;
  border-radius: 18pt;
  background-color: $white;
  background-size: cover;
}

.unityads-logo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 68px;
  height: 16px;
  background-image: url("../img/unityads.png");
  background-position: center;
  background-size: cover;
  transform: translate(-50%, 0);
}

.name-container {
  overflow: hidden;
  color: $black;
  text-overflow: ellipsis;
  font-size: 17pt;
}
