.game-rating
  display: inline-block
  font-size: 20px
  letter-spacing: 5px
  position: relative
  color: #e6e6e6

.game-rating-mask
  color: #ff8e00
  width: 0%
  height: 100%
  overflow: hidden
  position: absolute
  left: 0
  font-size: inherit

.game-rating-count
  font-size: 17px
  color: #7c7c7c

.game-icon
  background-color: #FFF
  background-size: cover
  width: 75px
  height: 75px
  border-radius: 18pt
  margin-bottom: 20px

.unityads-logo
  background-image: url('../img/unityads.png')
  background-position: center
  background-size: cover
  position: absolute
  bottom: 10px
  left: 50%
  height: 16px
  width: 68px
  -webkit-transform: translate(-50%, 0)

.name-container
  font-size: 17pt
  text-overflow: ellipsis;
  overflow: hidden;
  color: #1f1e1e
