@import "components.styl";

#gdpr-consent-settings {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  overflow: hidden;

  .safe-area-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .back-button {
    display: flex;
    align-items: center;
    font-size: $default-font-size * .65
    color: $black;
    opacity: .5;
    width: 2 * $default-size;
    padding: 0 $default-size;
    height: 8%;
  }

  .container {
    padding: 0 $default-size 0 $default-size;
  }

  .personalization-container {
    height: 42%;
    overflow: auto;

    .privacy-info-title {
      font-weight: 500;
    }

    .privacy-info-description {
      font-size: $default-font-size * .65;
      text-align: justify;
      color: $privacy-text-color;
      font-weight: 300;
    }
  }

  .info-container {
    position: relative;
  }

  .stripe {
    top:0;
    position: relative;
    height: 1px;
    margin: 0.25 * $default-size 0 0.25 * $default-size 0;
    background-color: $light-gray;
  }

  .settings-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }

  .button-container {

  }

  .accept-all {
    background-color: $blue;
    color: $white;
    margin-bottom: .25 * $default-size
  }

  .consent-button {
    border-radius: $default-size * .25;
    border: 1px solid $light-gray;
    font-size: $default-font-size * .65;
  }
  .item {
    text-align: center;
    padding: .75 * $default-size $default-size;
  }

  .checkbox-group-container {
    $checkbox-group-container($default-scale-size, $default-font-size * .65);

    .checkbox-item-container {
      margin: $default-size 0 $default-size 0;
    }

    .indented-checkbox {
      padding-left: 2 * $default-size;
    }
  }
}