@import "vars.styl";
@import "components.styl";

#gdpr-consent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  display: flex;
  justify-content: center;

  .consent-container {
    positon: absolute;
    width: 80%;
    background: white;
    align-self: center;
  }

  .item {
    padding: $default-size $default-size;
  }

  .privacy-logo {
    font-size: $default-size * 2;
    text-align: center;
    color: $black;
    opacity: .5;
  }

  .title,
  .agree,
  .show-options {
    text-align: center;
  }
  .title {
    padding-top: $default-size;
    font-weight: 500;
  }
  .description {
    font-size: $default-size * .65;
    text-align: justify;
    color: $privacy-text-color;
    font-weight: 300;
  }

  .agree {
    background-color: $blue;
    color: $white;
    margin-bottom: .75 * $default-size
  }

  .consent-button {
    border-radius: $default-size * .25;
    border: 1px solid $light-gray;
    font-size: $default-size * .65;
  }

  .unityads-logo {
    $set-image(100%, $default-scale-size * $default-size, 0, "../img/unityads.png", contain);
  }
}
