@import "vars.styl";
@import "components.styl";

#gdpr-consent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  justify-content: center;
  text-align: center;

  &.prevent-clicks {
    pointer-events: none;
  }

  .consent-container {
    position: relative;
    align-self: center;
    margin: 0 2 * $default-size;
    padding: 2 * $default-size 2 * $default-size 1.5 * $default-size 2 * $default-size;
    border-radius: .5 * $default-size;
    background: white;
  }

  .stripe {
    display: none;
  }

  .item {
    margin: 0 0 1.5 * $default-size 0;
  }

  .privacy-logo {
    color: $black;
    text-align: center;
    font-size: $default-size * 2;
  }

  .agree,
  .show-options {
  }
  .title {
    font-weight: $privacy-title-font-weight;
  }
  .description {
    color: $privacy-text-color;
    font-weight: $privacy-text-font-weight;
    font-size: $default-size * .65;
  }

  .agree {
    margin-bottom: .5 * $default-size;
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
  }

  .show-options {
    border: 1px solid $white-smoke;
    font-weight: $privacy-text-font-weight;
  }

  .consent-button {
    position: relative;
    padding: $default-size;
    border-radius: $default-size * .25;
    font-size: $privacy-text-font-size;
  }

  .unityads-logo {
    $set-image(100%, $default-scale-size * $default-size, 0, "../img/unityads.png", contain);
  }

  .click-animation.agree {
    $click-animation();
  }
}

body {
  &.landscape #gdpr-consent {
    .consent-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: $default-size 2 * $default-size;
    }

    .stripe {
      position: absolute;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $white-smoke;
      // todo: find a better way to set the top position
      margin-top: -.25 * $default-size;
    }

    .top-container {
      flex: 0 1 40%;
      margin-right: 2 * $default-size;
    }

    .bottom-container {
      flex: 0 1 40%;
      margin-left: 2 * $default-size;
    }
  }
}
