@import "components.styl";

// todo: fix lint warnings
// @stylint off
#gdpr-consent-settings {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  overflow: hidden;

  &.prevent-clicks {
    pointer-events: none;
  }

  .safe-area-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .back-button {
    display: flex;
    align-items: center;
    font-size: $privacy-text-font-size;
    color: $black;
    opacity: .5;
    width: 2 * $default-size;
    padding: 0 $default-size;
    height: 6%;
  }

  .wrapper {
    display: flex;
    padding: 1.5 * $default-size;
    height: 92%;
    flex-direction: column;
  }


  .container {
    padding: 0 $default-size 0 $default-size;
  }

  .personalization-container {
    height: 42%;
    overflow: auto;

    .privacy-info-title {
      font-weight: $privacy-title-font-weight;
    }

    .privacy-info-description {
      font-size: $default-font-size * .65;
      text-align: justify;
      color: $privacy-text-color;
      font-weight: $privacy-text-font-weight;
    }
  }

  .info-container {
    position: relative;
  }

  .stripe {
    height: 1px;
    margin: 0.25 * $default-size 1.5 * $default-size .25 * $default-size 1.5 * $default-size;
    background-color: $light-gray;
  }

  .settings-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .accept-all {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    margin-bottom: .25 * $default-size;
  }

  .consent-button {
    position: relative;
    border-radius: $default-size * .25;
    border: 1px solid $white-smoke;
    font-weight: $privacy-text-font-weight;
    font-size: $privacy-text-font-size;

    &.click-animation {
      $click-animation();
    }
  }
  .item {
    text-align: center;
    padding: .75 * $default-size $default-size;
  }

  .checkbox-group-container {
    $checkbox-group-container($default-scale-size, $privacy-text-font-size);
  }
}

body {
  &.landscape #gdpr-consent-settings {
    .wrapper {
      display: flex;
      height: 92%;
      width: 100%;
      flex-direction: row;
    }
    .personalization-container {
      width: 49%;
      height: 100%;
    }

    .stripe {
      width: 1px;
      margin: 0.25 * $default-size 1.5 * $default-size 0.25 * $default-size 1.5 * $default-size;
      background-color: $light-gray;
    }

    .settings-container {
      height: 100%;
      width: 49%;
    }

  }
}
// @stylint on
