@import "vars.styl";
@import "components.styl";

#gdpr-consent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  justify-content: center;

  .consent-container {
    positon: absolute;
    width: 80%;
    border 2px #777777
    border-radius: 5px;
    background: white;
    align-self: center;
  }

  .item {
    padding: $default-size;
  }

  .title,
  .agree,
  .show-options {
    text-align: center;
  }

  .description {
    font-size: $default-size * .65;
    text-align: justify;
  }

  .agree {
    background-color: forestgreen;
  }

  .logo-container {
    border-top: 1px solid $light-gray
    padding: $default-size;
  }

  .unityads-logo {
    $set-image(100%, $default-scale-size * $default-size, 0, "../img/unityads.png", contain);
  }
}
