@import "vars.styl";
@import "components.styl";

#gdpr-privacy {
  $full-screen-pop-up-view($default-scale-size, 9999);
  overflow-x: hidden;

  .pop-up-content {
    .icon-gdpr {
      display: block;
      text-align: center;
      font-size: 2.5rem;
      opacity: .41;
    }

    .centered-title {
      display: block;
      text-align: center;
    }
  }
  .back-side {
    display: none;
    font-size: $default-size * $default-font-size * .75;
  }

  .gdpr-text-android,
  .gdpr-text-ios {
    display: none;
  }

  #data-deletion-container {
    padding: $default-size * $default-scale-size * .75 0;
    .page-link {
      pointer-events: none;
    }
    &.active {
      .page-link {
        pointer-events: auto;
      }
    }
  }

  #data-deletion-container,
  #data-deletion-request-container {
    display: block;
    text-align: center;
    opacity: 0;
    transition: opacity 250ms ease-in;

    &.active {
      opacity: 1;
    }
  }

  &.flip {
    .back-side {
      display: block;
      word-wrap: break-word;

      .build-information-key {
        font-weight: 800;
      }
    }

    .pop-up-content:not(.back-side) {
      display: none;
    }
  }
}

.build-information-item {
  margin: 0;
}

body.android #gdpr-privacy .gdpr-text-android,
body.iphone #gdpr-privacy .gdpr-text-ios,
body.ipad #gdpr-privacy .gdpr-text-ios {
  display: initial;
}

