#gdpr-consent-settings {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;

  .personalization-container {

  }

  .settings-container {

  }
}