#end-screen.halloween-end-screen.on-show {
  .end-screen-info-background {
    background-image: url("../img/halloween.gif");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;

    @media (orientation: portrait) {
      /* iPhone X & iPhone XS */
      @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        background-position-y: calc(100% - (constant(safe-area-inset-bottom) / 2));
        background-position-y: calc(100% - (env(safe-area-inset-bottom) / 2)); // @stylint ignore
      }
      
      /* iPhone XS Max */
      @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
        background-position-y: calc(100% - (constant(safe-area-inset-bottom) / 2));
        background-position-y: calc(100% - (env(safe-area-inset-bottom) / 2)); // @stylint ignore
      }

      /* iPhone XR */
      @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
        background-position-y: calc(100% - (constant(safe-area-inset-bottom) / 2));
        background-position-y: calc(100% - (env(safe-area-inset-bottom) / 2)); // @stylint ignore
      }
    }
  }

  .bottom-container {
    .unityads-logo {
      opacity: 1;
    }

    .icon-gdpr {
      color: $white;
      opacity: 1;
    }

    .china-advertisement {
      color: $white;
      opacity: 1;
    }
  }
}
