@font-face {
    font-family: "unityicons";
    src: url("../fonts/unityicons.ttf") format("truetype");
}

[data-icon]:before {
    content: attr(data-icon);
    font-family: "unityicons";
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "unityicons";
}

.icon-info:before {
    content: "\61";
}

.icon-reload:before {
    content: "\62";
}

.icon-star:before {
    display: inline-block;
    width: 1em;
    content: "\65";
}

.icon-volume:before {
    content: "\66";
}

.icon-volume-mute:before {
    content: "\67";
}

.icon-skip:before {
    content: "\69";
}

.icon-person:before {
    content: "\6a";
}

.icon-close:before {
    content: "\6c";
}

.icon-screen-full:before {
    content: "\63";
}
