@import "components.styl";
@import "vars.styl";

#container-iframe-end-screen {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  #iframe-end-screen {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    border: none;
  }
}
