/************************
* GENERAL
*************************/

html
  width: 100%
  height: 100%
  background-color: transparent

body.iphone
body.ipad
body.android
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-family: Helvetica, sans-serif
  color: #000
  background-color: transparent
  -webkit-text-size-adjust: none
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-user-select: none
  -webkit-user-drag: none

/* for now fresh style is only on iphone */
body.iphone
body.ipad
body.android

  .page-container
    width: 100%
    height: 100%
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, hsl(0, 0, 100%)), color-stop(0%, hsl(0, 0, 75%)))
    background: -webkit-linear-gradient(top, hsl(0, 0, 100%), hsl(0, 0, 75%))


  /************************
  *
  * END SCREEN
  *
  ************************/

  .campaign-container
    width: 100%
    height: 100%

  .btn-close-region
    position: absolute
    z-index: 1

  a.btn-close
    z-index: 1
    position: absolute
    color: #ffffff
    text-shadow: 2px 2px 20px #7c7c7c
    text-align: center

  .game-background
    width: 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-color: #000
    position: absolute
    top: 0
    bottom: 47%
    &.brand
      background-size: contain
      bottom: 0

  .end-screen-info-background
    position: absolute
    bottom: 0
    width: 100%
    height: 47%
    background-color: #fafafa

  .name-container
    color: #1f1e1e

  .game-icon
    float: left
    background-color: #FFF
    background-size: cover

  .store-container
    float: left
    display: -webkit-box
    display: -webkit-flex
    -webkit-box-align: center
    -webkit-box-pack: center
    -webkit-justify-content: center

  .game-rating
    color: #e6e6e6
    display: inline-block
    position: relative

  .game-rating-mask
    color: #ff8e00
    position: absolute
    left: 0
    width: 0%
    height: 100%
    overflow: hidden
    font-size: inherit

  .game-rating-count
    color: #7c7c7c

  .game-rating-br
    display: none

  .game-rating-postfix
    display: none

  .download-container
    text-align: center
    clear: both

  .btn-download
    color: #ffffff
    display: block
    background-image: #167dfb
    background: #167dfb
    left: 0px
    right: 0px

  .download-text-alt
    display: none

  .download-text-fresh
    display: none

  .download-text-fresh-alt2
    display: none

  .download-text-fresh-alt3
    display: none

  .download-explanation
    display: none

  .unityads-logo
    background-image: url('../img/unityads.png')
    background-position: center
    background-size: cover
    margin: auto
    position: absolute
    left: 0px
    right: 0px

  .privacy-button
    position: absolute
    bottom: 10px
    left: 15px
    color: #e6e6e6
    text-decoration: none
    font-size: 22px

  .download-explanation-fresh
    display: none

  .store-badge-container
    display: none

  #privacy
    position: absolute
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.75)
    width: 100%
    height: 100%
    z-index: 100

  .pop-up
    padding: 10px 15px
    border-radius: 20px
    box-shadow: 0px 0px 20px #FFF
    border: 3px solid #FFF
    letter-spacing: 1px
    margin: 20px
    background-color: #000

  .privacy-text
  .privacy-simple-text
    line-height: 17px
    font-size: 12px
    text-align: justify
    color: #FFF

  .ok-button
    text-align: center
    padding: 5px
    margin: 5px 0
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5)
    border-radius: 10px
    font-size: 18px
    line-height: 20px
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4aaef0), color-stop(100%, #016add))
    background: -webkit-linear-gradient(top, #4aaef0, #016add)
    color: #FFF

  /************************
  *
  * END SCREEN landscape specific
  *
  ************************/

  &.landscape
    .game-background-portrait
      display: none
    .game-background-landscape
      display: block

  &.portrait
    .game-background-portrait
      display: block
    .game-background-landscape
      display: none

  &.landscape
    .game-background
      width: 53%
      bottom: 0
      &.brand
        width: 100%

    .end-screen-info-background
      width: 47%
      height: 100%
      right: 0

    a.btn-close
      color: #7c7c7c
      text-shadow: 0px 0px 0px #fafafa
      text-align: center

/************************
* DEVICE AND GAME SPECIFICS
*************************/

@import "fresh-base-size.styl"
@import "fresh-responsive.styl"
@import "overlay.styl"
@import "icons.styl"
@import "mraid.styl"
@import "split-screen.styl"
