#end-screen
  .campaign-container.masterclass

    .store-container
      display: none

    .game-icon
      display: none

    .game-info
      margin-left: auto

    .game-info
      margin-left: auto

    .game-icon
      left: 0
      right: 0
      position: absolute
      margin: auto

    .name-container
      font-size: 18pt
      padding-top: 95px
      font-size: 20pt
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-align: center

body.landscape

    #end-screen
      .campaign-container.masterclass

        .game-info
          padding-bottom: 40px;
