@import "vars.styl";

/*
  No {} for root media rule due to formatting tool becomes insane.
  And for whatever reason lint tool allows it only here, probably because it is nested media rule.
*/

@media (min-width: 1025px) {
  html {
    font-size: $default-px-size * 2.7;
  }
}

/**********
* Portrait
***********/
@media (orientation: portrait)
  @media (min-width: 960px) and (max-width: 1024px) {
    html {
      font-size: $default-px-size * 2.5;
    }
  }

  @media (min-width: 801px) and (max-width: 959px) {
    html {
      font-size: $default-px-size * 2.4;
    }
  }

  @media (min-width: 769px) and (max-width: 800px) {
    html {
      font-size: $default-px-size * 2.2;
    }
  }

  @media (min-width: 569px) and (max-width: 768px) {
    html {
      font-size: $default-px-size * 2;
    }
  }

  @media (min-width: 481px) and (max-width: 568px) {
    html {
      font-size: $default-px-size * 1.4;
    }
  }

  @media (min-width: 414px) and (max-width: 480px) {
    html {
      font-size: $default-px-size * 1.3;
    }
  }

  @media (min-width: 360px) and (max-width: 413px) {
    html {
      font-size: $default-px-size * 1.2;
    }
  }

  @media (min-width: 321px) and (max-width: 359px) {
    html {
      font-size: $default-px-size;
    }
  }

  /* iPhone X portrait */
  @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    html {
      font-size: $default-px-size * 1.25;
    }
  }

/***********
* Landscape
***********/
@media (orientation: landscape)

  @media (min-width: 960px) and (max-width: 1024px) {
    html {
      font-size: $default-px-size * 2;
    }
  }

  @media (min-width: 569px) and (max-width: 768px) {
    html {
      font-size: $default-px-size * 1.25;
    }
  }

  /* iPhone X landscape */
  @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    html {
      font-size: $default-px-size * 1.25;
    }
  }


// @stylint off
/* iPhone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  html {
    #mraid,
    #playable-mraid {
      #mraid-iframe {
        padding-top: constant(safe-area-inset-top);
        padding-right: constant(safe-area-inset-right);
        padding-bottom: constant(safe-area-inset-bottom);
        padding-left: constant(safe-area-inset-left);
        width: calc(100vw - constant(safe-area-inset-left) - constant(safe-area-inset-right));
        height: calc(100vh - constant(safe-area-inset-top) - constant(safe-area-inset-bottom));

        padding-top: env(safe-area-inset-top);
        padding-right: env(safe-area-inset-right);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
        height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
      }

      .close-region {
        top: constant(safe-area-inset-top);
        right: constant(safe-area-inset-right);

        top: env(safe-area-inset-top);
        right: env(safe-area-inset-right);
      }

      .privacy-button {
        bottom: constant(safe-area-inset-bottom);
        left: constant(safe-area-inset-left);

        bottom: env(safe-area-inset-bottom);
        left: env(safe-area-inset-left);
      }
    }

    #end-screen,
    #vast-end-screen {
      padding-top: constant(safe-area-inset-top);
      padding-right: constant(safe-area-inset-right);
      padding-bottom: constant(safe-area-inset-bottom);
      padding-left: constant(safe-area-inset-left);
      width: calc(100% - constant(safe-area-inset-left) - constant(safe-area-inset-right));
      height: calc(100% - constant(safe-area-inset-top) - constant(safe-area-inset-bottom));

      padding-top: env(safe-area-inset-top);
      padding-right: env(safe-area-inset-right);
      padding-bottom: env(safe-area-inset-bottom);
      padding-left: env(safe-area-inset-left);
      width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
      height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));

      .btn-close-region {
        top: constant(safe-area-inset-top);
        right: constant(safe-area-inset-right);

        top: env(safe-area-inset-top);
        right: env(safe-area-inset-right);
      }

      .privacy-button {
        bottom: constant(safe-area-inset-bottom);
        left: constant(safe-area-inset-left);

        bottom: env(safe-area-inset-bottom);
        left: env(safe-area-inset-left);
      }
    }

    #end-screen {
      .unityads-logo {
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
      }
    }

    #privacy {
      padding-top: constant(safe-area-inset-top);
      padding-right: constant(safe-area-inset-right);
      padding-bottom: constant(safe-area-inset-bottom);
      padding-left: constant(safe-area-inset-left);
      width: calc(100% - constant(safe-area-inset-left) - constant(safe-area-inset-right));
      height: calc(100% - constant(safe-area-inset-top) - constant(safe-area-inset-bottom));

      padding-top: env(safe-area-inset-top);
      padding-right: env(safe-area-inset-right);
      padding-bottom: env(safe-area-inset-bottom);
      padding-left: env(safe-area-inset-left);
      width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
      height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    }

    #display-interstitial,
    #interstitial-overlay {
      .close-region {
        top: constant(safe-area-inset-top);
        right: constant(safe-area-inset-right);

        top: env(safe-area-inset-top);
        right: env(safe-area-inset-right);
      }
    }

    #overlay,
    #interstitial-overlay {
      position: absolute;
      top: constant(safe-area-inset-top);
      left: constant(safe-area-inset-left);
      width: calc(100% - constant(safe-area-inset-left) - constant(safe-area-inset-right));
      height: calc(100% - constant(safe-area-inset-top) - constant(safe-area-inset-bottom));

      top: env(safe-area-inset-top);
      left: env(safe-area-inset-left);
      width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
      height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));

      .skip-hit-area {
        top: constant(safe-area-inset-top);
        left: constant(safe-area-inset-left);

        top: env(safe-area-inset-top);
        left: env(safe-area-inset-left);
      }

      .progress {
        top: constant(safe-area-inset-top);
        right: constant(safe-area-inset-right);

        top: env(safe-area-inset-top);
        right: env(safe-area-inset-right);
      }

      .mute-button {
        bottom: constant(safe-area-inset-bottom);
        left: constant(safe-area-inset-left);

        bottom: env(safe-area-inset-bottom);
        left: env(safe-area-inset-left);
      }

      .call-button {
        right: constant(safe-area-inset-right);
        bottom: constant(safe-area-inset-bottom);

        right: env(safe-area-inset-right);
        bottom: env(safe-area-inset-bottom);
      }
    }

    #progress-bar-overlay {
      .timer {
        left: constant(safe-area-inset-left);
        left: env(safe-area-inset-left);
      }
      .mute-button {
        top: constant(safe-area-inset-top);
        top: env(safe-area-inset-top);
        left: constant(safe-area-inset-left);
        left: env(safe-area-inset-left);
      }

      .skip-hit-area {
        top: calc(constant(safe-area-inset-top) + .5rem);
        top: calc(env(safe-area-inset-top) + .5rem);
        right: constant(safe-area-inset-right);
        right: env(safe-area-inset-right);
      }

      .call-button {
        right: constant(safe-area-inset-right);
        right: env(safe-area-inset-right);
      }
    }
  }
  .slide-up {
    slide-animation(.4s, ease-in, -250%);
  }

  .slide-down {
    slide-animation(.4s, ease-in, 250%);
  }

  .slide-left {
    progress-slide-animation(.4s, ease-in, -200%);
  }

  .slide-right {
    progress-slide-animation(.4s, ease-in, 200%);
  }

  body.portrait {
    #progress-bar-overlay {
      .progress {
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
      }

      .timer {
        bottom: calc(constant(safe-area-inset-bottom) + .25rem);
        bottom: calc(env(safe-area-inset-bottom) + .25rem);
      }

      .call-button {
        bottom: calc(constant(safe-area-inset-bottom) * 2);
        bottom: calc(env(safe-area-inset-bottom) * 2);
      }
    }
  }
}
// @stylint on


