@import "vars.styl";

$set-image($width, $height, $border-radius = .5rem, $url = "", $backgroundSize = cover) {
  if($url) {
    background-image: url($url);
  }

  if($width) {
    width: $width;
  }
  if($height) {
    height: $height;
  }

  border-radius: $border-radius;
  background-position: center;
  background-size: $backgroundSize;
  background-repeat: no-repeat;
}
