@import "components.styl";
@import "vars.styl";

#mraid {
  #mraid-iframe {
    $iframe-default();
  }
  .close-region {
    $iframe-close-region-default();
  }

  .icon-close {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 32px;
    height: 32px;
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 20px $gray;
    font-size: 28px;
    line-height: 28px;

    &.number {
      font-size: 17px;

      &:before {
        display: none;
      }
    }
  }
  .close {
    position: absolute;
    top: 50%;
    left: 8px;
    width: 36px;
    height: 36px;
    transform: translate(0, -50%);
  }
  .progress-wrapper {
    position: absolute;
    clip: rect(0px, 36px, 36px, 18px);
    width: 36px;
    height: 36px;
  }
  .progress:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    color: white;
    font-size: 18px;
    transform: translate(-50%, -50%);
  }
  .circle-base,
  .circle-left,
  .circle-right {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: transparent;
    vertical-align: middle;
  }
  .circle-base {
    border: 4px solid $dark-gray;
  }
  .circle-left,
  .circle-right {
    clip: rect(0, 18px, 36px, 0);
    border: 4px solid $white;
  }
  .progress-wrapper,
  .circle-left,
  .circle-right {
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: .01s;
  }

  .privacy-button {
    $privacy-button-default($default-scale-size);
    left: 0;
    margin: 0 0 0 $default-size * $default-scale-size * .25;
  }
}
