@import "vars.styl";
@import "new-video-overlay.styl";

#new-video-overlay {
  &.cta-button-test {

    .top-container {
      .left-corner,
      .right-corner {
        top: .3 * $new-video-overlay-styles.base-size;
      }
    }

    .bottom-container {
      display: block;
      height: 3 * $new-video-overlay-styles.base-size;

      .left-corner,
      .center {
        display: none;
      }

      .left-corner,
      .right-corner {
        top: auto;
        bottom: .3 * $new-video-overlay-styles.base-size;
      }
    }

    .call-button {
      width: 7.5 * $new-video-overlay-styles.base-size;
      height: 3 * $new-video-overlay-styles.base-size;

      .tab {
        width: 7.5 * $new-video-overlay-styles.base-size;
        height: 2.3 * $new-video-overlay-styles.base-size;
      }

      .download-wrapper {
        $new-video-overlay-styles-download-element-height = $new-video-overlay-styles.base-size * 1.7;
        $new-video-overlay-styles-download-element-margin = $new-video-overlay-styles.base-size * .3;
        $new-video-overlay-styles-download-element-border-radius = $new-video-overlay-styles.base-size * .25;

        position: relative;

        .game-icon {
          $set-image($new-video-overlay-styles-download-element-height, $new-video-overlay-styles-download-element-height, $new-video-overlay-styles-download-element-border-radius);
          margin: $new-video-overlay-styles-download-element-margin;
        }

        .download-container {
          position: absolute;
          top: 0;
          left: $new-video-overlay-styles-download-element-height + 2 * $new-video-overlay-styles-download-element-margin;
          width: $new-video-overlay-styles.base-size * 4.5;
          height: $new-video-overlay-styles-download-element-height;
          border-radius: $new-video-overlay-styles-download-element-border-radius;
          background: $blue;
          color: $white;
          text-align: center;
          line-height: $new-video-overlay-styles.base-size * 1.5;
        }

        .download-text {
          text-shadow: none;
          font-size: $new-video-overlay-styles.base-size * .65;
        }
      }
    }
  }
}

#new-video-overlay {
  &.cta-button-test.fade-in {
    .bottom-container {
      .left-corner,
      .center {
        display: block;
      }
    }
  }
}