@import "vars.styl";
@import "gdpr-pop-up.styl";

$new-video-overlay-size = $default-scale-size * $default-size;
$new-video-overlay-font-size = $new-video-overlay-size;

$tab-font-color = "#f1f1f1";
$fade-transition = opacity .45s ease-in;
$touchable-area-height = $new-video-overlay-size * 2;
$touchable-area-width = $new-video-overlay-size * 2.5;
$tab-border-radius = $new-video-overlay-size * .2;
$tab-vertical-margin = $new-video-overlay-size * .3;

slide-animation($duration = .4s, $function = ease-in, $translation = 0) {
  transform: translateX($translation);
  transition: transform $duration $function;
}

.slide-in-from-left {
  slide-animation(.4s, ease-in, -100%);
}

#end-screen {
  visibility: hidden;
}

#new-video-overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: $white;
  transition: $fade-transition;

  &.fade-in .button {
    opacity: 1;
  }

  .button {
    width: $touchable-area-width;
    height: $touchable-area-height;
    opacity: 0;
  }

  .margin-fixer {
    position: relative;
  }

  .top-container {
    position: relative;
  }

  .bottom-container {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: $touchable-area-height;

    .center,
    .tab {
      top: auto;
      bottom: $tab-vertical-margin;
    }

    .center {
      position: absolute;
      z-index: 1;
      margin: auto;
      width: 100%;
    }

    .right-corner,
    .left-corner {
      z-index: 10;
    }

    .right-corner {
      position: absolute;
      top: 0;
      right: 0;
    }

    .left-corner {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .button-right {
    right: 0;
    left: auto;

    .tab {
      right: 0;
      left: auto;
      border-radius: $tab-border-radius 0 0 $tab-border-radius;
    }
  }

  .tab {
    position: absolute;
    top: $tab-vertical-margin;
    left: 0;
    width: $new-video-overlay-size * 2;
    height: $new-video-overlay-size * 1.5;
    border-radius: 0 $tab-border-radius $tab-border-radius 0;
    background-color: rgba(0, 0, 0, .54);
    color: $tab-font-color;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .8), 0 0 2px rgba(0, 0, 0, 1);
    font-weight: 300;
    font-size: $new-video-overlay-font-size * .55;
  }

  .gdpr-button {
    position: absolute;
    top: 0;
    left: $touchable-area-width;

    .tab {
      bottom: $new-video-overlay-size * .54;
      width: $new-video-overlay-size;
      height: $new-video-overlay-size;
      border-radius: $tab-border-radius;
      font-size: $new-video-overlay-size * .5;
    }

    .icon {
      line-height: $new-video-overlay-font-size * .95;
    }
  }
  
  .skip-button .icon {
    opacity: .5;
  }

  .skip-button-enabled .icon {
    opacity: 1;
  }

  .call-button {
    transform: translateX(100%);
    transition: transform .4s ease-in;
  }

  .show-call-button {
    transform: translateX(0%);
  }

  .call-button,
  .call-button .tab {
    width: $new-video-overlay-size * 5.5;
  }

  .call-button .tab,
  .icon {
    line-height: $new-video-overlay-font-size * 1.58;
  }

  .icon-volume-mute {
    display: none;
  }

  .icon-volume {
    display: block;
  }

  .muted {
    .icon-volume-mute {
      display: block;
    }

    .icon-volume {
      display: none;
    }
  }

  .timer {
    position: relative;
    top: $new-video-overlay-size * .2;
    left: $new-video-overlay-size * .5;
    width: $new-video-overlay-size;
    height: $new-video-overlay-size;
    border: 2px solid $white;
    border-radius: 50%;
    font-size: $new-video-overlay-font-size * .45;
    line-height: $new-video-overlay-font-size;
  }
  

  .buffering-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: auto;
    width: 100px;
    height: 65px;
  }

  .spinner-animation {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 4px solid $white;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 200px;
    animation: spinner 1s linear infinite;
  }

  .debug-message-text {
    position: absolute;
    top: 50%;
    right: 10px;
    display: none;
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .spinner-text {
    margin-top: 10px;
    color: $white;
    text-align: center;
    text-shadow: 1px 1px $black;
    font-weight: bold;
  }

  .gdpr-pop-up  {

  }

  &:not(.show-gdpr-banner) {
    .gdpr-pop-up {
      display: none;
    }
  }

  &.show-gdpr-banner {
    .gdpr-pop-up {
      // TODO: Is this correct scale-size to pass?
      $gdpr-pop-up($new-video-overlay-font-size);
      position: static;
      margin: auto;
      width: 50%;
      height: $new-video-overlay-size * 1.5;
      border-radius: $tab-border-radius;
      pointer-events: 1;

      .icon-gdpr {
        font-size: $new-video-overlay-font-size * .5;
      }

      .gdpr-text {
        color: $black;
        font-size: $new-video-overlay-font-size * .35;
      }
    }
  }

  &:not(.show-gdpr-button) {
    .gdpr-button {
      display: none;
    }
  }

  &.show-gdpr-button {
    .gdpr-button {
      display: block;
      pointer-events: 1;
    }
  }
}

/**
 * Portrait layout customization
 */

@media (orientation: portrait) {
  #new-video-overlay.show-gdpr-banner {
    .bottom-container {
      height: $touchable-area-height * 2;

      .center {
        bottom: 0;

        .gdpr-pop-up {
          width: 90%;
          border-radius: $tab-border-radius $tab-border-radius 0 0;
        }
      }
    }
  }
}

/**
 * Landscape font sizes
 */
@media (orientation: landscape)
  @media (max-width: 568px) and (min-width: 447px) {
    html.new-video-overlay {
        font-size: 19px;
    }
  }

  @media (max-width: 1024px) and (min-width: 751px) {
    html.new-video-overlay {
        font-size: 32px;
    }
  }

  @media (max-width: 750px) and (min-width: 569px) {
    html.new-video-overlay {
      font-size: 25px;
    }
  }

  @media (max-width: 959) and (min-width: 801px) {
    html.new-video-overlay {
        font-size: 33px;
    }
  }

  @media (max-width: 800px) and (min-width: 769px) {
    html.new-video-overlay {
      font-size: 32px;
    }
  }

/**
 * Portrait font sizes
 */
@media (orientation: portrait)
  @media (max-width: 568px) and (min-width: 481px) {
    html.new-video-overlay {
        font-size: 30px;
    }
  }

  @media (max-width: 480px) and (min-width: 414px) {
    html.new-video-overlay {
        font-size: 28px;
    }
  }

  @media (max-width: 413px) and (min-width: 360px) {
    html.new-video-overlay {
        font-size: 28px;
    }
  }

  @media (max-width: 359px) and (min-width: 321px){
    html.new-video-overlay {
        font-size: 26px;
    }
  }

  @media (max-width: 320px) {
    html.new-video-overlay {
        font-size: 20px;
    }
  }
  
  /* iPhone X */
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    #new-video-overlay.show-gdpr-banner .bottom-container .center .gdpr-pop-up {
      border-radius: $tab-border-radius;
    }
  }

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #new-video-overlay {
    &.show-gdpr-banner .bottom-container {
      margin-bottom: "calc(constant(safe-area-inset-bottom) - %s)" % $tab-vertical-margin;
      // @stylint off
      margin-bottom: "calc(env(safe-area-inset-bottom) - %s)" % $tab-vertical-margin;
      // @stylint on
    }

    .top-container {
      // @stylint off
      margin-top: "calc(constant(safe-area-inset-top) - %s)" % $tab-vertical-margin;
      margin-top: "calc(env(safe-area-inset-top) - %s)" % $tab-vertical-margin;
      // @stylint on
    }

    .button-right .tab {
      padding-right: constant(safe-area-inset-right);
      // @stylint off
      padding-right: env(safe-area-inset-right);
      // @stylint on
    }

    .button-left .tab {
      padding-left: constant(safe-area-inset-left);
      // @stylint off
      padding-left: env(safe-area-inset-left);
      // @stylint on
    }
  }
  // width: calc(100vw - constant(safe-area-inset-left) - constant(safe-area-inset-right));
}