#overlay
  background-color: transparent
  width: 100%
  height: 100%
  color: #FFF

  .header
    position: absolute
    top: 0%
    width: 100%

    .skip-button
      display: none
      position: absolute
      top: 10px
      left: 10px
      text-decoration: none;

    .skip-duration
      font-weight: bold

    .call-button
      display: none
      position: absolute
      top: 10px
      right: 10px
      font-weight: bold

  .footer
    position: absolute
    bottom: 0%
    height: 20%
    width: 100%

    .mute-button
      position: absolute
      display: none
      left: 2%
      bottom: 10%

      .mute-icon
      .unmute-icon
        font-size: 27px

      .unmute-icon
        display: none

      &.muted
        .mute-icon
          display: none

        .unmute-icon
          display: block

    .video-duration-text
      position: absolute
      display: none
      right: 10px
      bottom: 10%
      text-align: right

      .video-duration
        font-weight: bold

  .buffering-spinner
    display: none
    position: absolute
    margin: auto
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100px
    height: 65px

  .spinner-animation
    width: 24px
    height: 24px
    margin: 0 auto
    border: 4px solid #fff
    border-left-color: transparent
    border-right-color: transparent
    border-radius: 200px
    -webkit-animation: spinner 1s linear infinite

  .debug-message-text
    display: none
    position: absolute
    top: 50%
    right: 10px

  @-webkit-keyframes spinner
    from
      -webkit-transform: rotate(0deg)
    to
      -webkit-transform: rotate(360deg)

  .spinner-text
    margin-top: 10px
    text-align: center
    color: #FFF
    font-weight: bold
    text-shadow: 1px 1px #000

  // 375/667 iPhone 5, 6, 7
  @media only screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10), screen and (device-aspect-ratio: 9/16), screen and (device-aspect-ratio: 10/16), screen and (device-aspect-ratio: 375/667), screen and (device-aspect-ratio: 667/375)
    .header
      height: 12%
      background: rgba(0, 0, 0, 0.5)

      .skip-button
        top: 50%
        left: 2%
        -webkit-transform: translate(0,-50%)

      .call-button
        top: 50%
        right: 2%;
        -webkit-transform: translate(0,-50%)

    .footer
      height: 12%
      background: rgba(0, 0, 0, 0.5)

      .mute-button
        left: 2%
        top: 50%
        -webkit-transform: translate(0,-60%)

      .video-duration-text
        -webkit-transform: translate(0,-50%)
        right: 2%
        top: 50%

.fade
  opacity: 0
  transition: opacity 1s ease-in-out
