#overlay
  background-color: transparent
  width: 100%
  height: 100%
  color: #FFF

  .skip-button
    position: absolute
    top: 10px
    left: 10px
    height: 20px
    border: 2px solid #fff
    padding: 10px
    margin: 0 10px

  .video-buttons
    position: absolute
    bottom: 10px
    left: 10px

    .video-button
      height: 20px
      border: 2px solid #fff
      padding: 10px
      margin: 0 10px
      float: left