#overlay
  background-color: transparent
  width: 100%
  height: 100%
  color: #FFF
  pointer-events: none;

  .skip-hit-area
    position: fixed
    top: 0
    left: 0
    width: 70px
    height: 55px
    pointer-events: auto;

  .skip
    position: absolute
    top: 10px
    left: 10px
    width: 36px
    height: 36px

  .skip-icon
    position: absolute
    top: 50%
    left: 15%
    width: 27px
    height: 29px
    font-size: 27px
    -webkit-transform: translate(0, -50%)

  .skip
    .circle-left
    .circle-right
      border: 4px solid #777777

    .skip-icon
      color: #777777

  .skip.enabled
    .circle-left
    .circle-right
      border: 4px solid #FFF

    .skip-icon
      color: #FFF

  .mute-button
    position: fixed
    display: none
    bottom: 0
    left: 0
    width: 70px
    height: 55px
    pointer-events: auto;

    .mute-icon
    .unmute-icon
      position: absolute
      left: 10px
      bottom: 10px
      height: 27px
      font-size: 27px

    .unmute-icon
      display: none

    &.muted
      .mute-icon
        display: none

      .unmute-icon
        display: block

  .call-button
    display: none
    position: fixed
    right: 10px
    bottom: 10px
    font-weight: bold
    -webkit-transform: translate(0, -50%)
    pointer-events: auto;

  .buffering-spinner
    display: none
    position: absolute
    margin: auto
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100px
    height: 65px

  .spinner-animation
    width: 24px
    height: 24px
    margin: 0 auto
    border: 4px solid #fff
    border-left-color: transparent
    border-right-color: transparent
    border-radius: 200px
    -webkit-animation: spinner 1s linear infinite

  .debug-message-text
    display: none
    position: fixed
    top: 50%
    right: 10px
    pointer-events: auto

  @-webkit-keyframes spinner
    from
      -webkit-transform: rotate(0deg)
    to
      -webkit-transform: rotate(360deg)

  .spinner-text
    margin-top: 10px
    text-align: center
    color: #FFF
    font-weight: bold
    text-shadow: 1px 1px #000

  .progress
    display: none
    position: fixed
    top: 10px
    right: 10px
    width: 36px
    height: 36px

  .progress-wrapper
    position: absolute
    width: 36px
    height: 36px
    clip: rect(0px, 36px, 36px, 18px)

  .progress:after
    position: absolute
    display: block
    left: 50%
    top: 50%
    content: attr(data-seconds)
    font-size: 18px
    color: white
    -webkit-transform: translate(-50%, -50%)

  .circle-base
  .circle-left
  .circle-right
    position: absolute
    vertical-align: middle
    background-color: transparent
    width: 28px
    height: 28px
    border-radius: 100%

  .circle-base
    border: 4px solid rgba(105, 105, 105, 0.4)

  .circle-left
  .circle-right
    border: 4px solid #fff
    clip: rect(0px, 18px, 36px, 0px)

  .progress-wrapper
  .circle-left
  .circle-right
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.01s;

  @-webkit-keyframes right-spin
    from
      -webkit-transform: rotate(0deg)
    to
      -webkit-transform: rotate(180deg)
  @-webkit-keyframes left-spin
    from
      -webkit-transform: rotate(0deg)
    to
      -webkit-transform: rotate(360deg)
  @-webkit-keyframes close-progress-wrapper
    to
      clip: rect(auto, auto, auto, auto)

.fade
  opacity: 0
  transition: opacity 0.45s ease-in-out

slide-animation($duration = 0.4s, $function = ease-in, $translation = 0%)
  -webkit-transform: translateY($translation)
  -transform: translateY($translation)
  -webkit-transition: -webkit-transform $duration $function
  transition: -webkit-transform $duration $function
  transition: transform $duration $function
  transition: transform $duration $function, -webkit-transform $duration $function

.slide-up
  slide-animation 0.4s ease-in -150%

.slide-down
  slide-animation 0.4s ease-in 150%

.slide-back-in-place
  slide-animation 0.2s ease-in-out 0%
