@import "vars.styl";
@import "components.styl";
@import "gdpr-pop-up.styl";
@import "square-end-screen.styl";

.game-background-container.parallax-experiment {
  overflow: hidden;

  .parallax-root-container {
    overflow: hidden;
    height: 100%;
    width: 100%;

    img {
      position: absolute;
    }
  }
}
