@import "components.styl";
@import "gdpr-pop-up.styl";

$progress-bar-width = 60%;
$filling-bar-width = $progress-bar-width * .3;

#playable-mraid {

  .game-rating {
    position: relative;
    display: inline-block;
    color: $end-screen-info-gray;
    vertical-align: middle;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .game-rating-mask {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    color: $rating-orange;
    white-space: nowrap;
    font-size: inherit;
  }

  .game-rating-count {
    color: $gray;
    font-size: 17px;
  }

  .game-icon {
    margin-bottom: 20px;
    width: 75px;
    height: 75px;
    border-radius: 18pt;
    background-color: $white;
    background-size: cover;
  }

  .unityads-logo {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 68px;
    height: 16px;
    background-image: url("../img/unityads.png");
    background-position: center;
    background-size: cover;
    transform: translate(-50%, 0);
  }

  .name-container {
    overflow: hidden;
    color: $black;
    text-overflow: ellipsis;
    font-size: 17pt;
  }

  #mraid-iframe {
    $iframe-default();
  }

  .close-region {
    $iframe-close-region-default();
    display: none;
  }

  .icon-close {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 32px;
    height: 32px;
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 20px $gray;
    font-size: 28px;
    line-height: 28px;
  }

  .close {
    position: absolute;
    top: 50%;
    left: 8px;
    width: 36px;
    height: 36px;
    transform: translate(0, -50%);
  }

  .progress-wrapper {
    position: absolute;
    clip: rect(0px, 36px, 36px, 18px);
    width: 36px;
    height: 36px;
  }

  .progress:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    color: $white;
    font-size: 18px;
    transform: translate(-50%, -50%);
  }

  .circle-base,
  .circle-left,
  .circle-right {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: transparent;
    vertical-align: middle;
  }

  .circle-base {
    border: 4px solid $dark-gray;
  }

  .circle-left,
  .circle-right {
    clip: rect(0, 18px, 36px, 0);
    border: 4px solid $white;
  }

  .progress-wrapper,
  .circle-left,
  .circle-right {
    animation-duration: .01s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .gdpr-pop-up {
    $gdpr-pop-up($default-scale-size);
  }

  .privacy-button {
    $privacy-button-default($default-scale-size);
    left: 0;
    margin: 0 0 0 $default-size * $default-scale-size * .25;
  }

  .loading-screen,
  .loading-screen-ar,
  .camera-permission-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    opacity: 1;

    &.hidden {
      opacity: 0;
      transition: opacity 200ms ease-out;
      pointer-events: none;
    }

    .container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      margin: auto;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -webkit-box-align: center;

      flex-direction: column;
      justify-content: center;

      .user-text,
      .game-icon,
      .store-container,
      .name-container,
      .progress-bar {
        align-self: center;
        margin: 10px;
      }

      .user-text,
      .name-container {
        text-align: center;
      }
    }

    .user-text {
      color: $black;
      font-weight: 300;
      font-size: 14.5pt;
    }

    .progress-bar {
      overflow: hidden;
      width: $progress-bar-width;
      height: 3pt;
      background-color: $end-screen-info-gray;

      .filling {
        position: relative;
        left: 0;
        display: block;
        width: $filling-bar-width;
        height: 5pt;
        background-color: $blue;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);
        animation: progress-bar-dynamic 1s linear infinite;
        will-change: left;
      }
    }
  }

  .permissions-learn-more {
    background: #fafafa;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 110;

    .container {
      padding: 60px 12px 12px;
      font-size: 0.9rem;
    }

    .learn-more-header {
      text-align: center;
      font-size: 1.1rem;
    }

    .hide-learn-more-button {
      position: absolute;
      top: 12px;
      left: 12px;
      font-size: 0.85rem;
    }

    .bottom-buttons {
      display: flex;
      margin: auto;

      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -webkit-box-align: center;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding-top: 30px;
      padding-bottom: 16px;
    }

    .privacy-button {
      position: relative;
      top: 0;
      left: 0;
    }

    .privacy-policy-button {
      text-align: right;

      a {
        color: $black;
        font-size: 1rem;
        text-decoration: none;
      }
    }

    .icon-gdpr {
      color: $black;
      font-size: 1.25rem;
    }
  }

  #camera-permission-panel {
    background: #fafafa;
    position: absolute;
    top: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: 100vw;
    z-index: 105;

    .container {
      width: 80%;
      max-width: 300px;
      justify-content: space-around;
    }

    .permission-text {
      font-size:4vw;
      text-align: center;
    }

    .arads-logo {
      width: 156px;
      height: 30px;
      margin: 20px auto 0;
      background-image: url("../img/adsar.png");
      background-position: center;
      background-size: cover;
    }

    .permission-accept-button {
      $download-container-default($default-scale-size, true);
      margin: 0 auto 8px;
    }

    .permission-decline-button {
      text-align: center;
      font-size: 0.75rem;
      margin-bottom: 16px;
      color: $blue;
    }

    .show-learn-more-button {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: $gray;
      font-size: 1.25rem;
    }
}
}

@keyframes progress-bar-dynamic {
  0% {
    left: $filling-bar-width * -1;
  }

  30% {
    left: 55% - $filling-bar-width * .5;
  }

  32% {
    left: 53% - $filling-bar-width * .5;
  }

  35% {
    left: 35%;
  }

  37% {
    left: 38%;
  }

  42% {
    left: 51% - $filling-bar-width * .5;
  }

  45%, 60%, 70%, 80% {
    left: 50% - $filling-bar-width * .5;
  }

  90% {
    left: 80%;
  }

  100% {
    left: 100%;
  }
}

@keyframes progress-bar-dynamic {
  0% {
    left: $filling-bar-width * -1;
  }

  30% {
    left: 55% - $filling-bar-width * .5;
  }

  32% {
    left: 53% - $filling-bar-width * .5;
  }

  35% {
    left: 35%;
  }

  37% {
    left: 38%;
  }

  42% {
    left: 51% - $filling-bar-width * .5;
  }

  45%, 60%, 70%, 80% {
    left: 50% - $filling-bar-width * .5;
  }

  90% {
    left: 80%;
  }

  100% {
    left: 100%;
  }
}

@media screen and (min-height: 568px) {
  .loading-screen .game-icon {
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-height: 240px) {
  .loading-screen {
    .container > div {
      margin: 3px;
    }

    .name-container {
      font-size: 12pt;
    }

    .game-rating {
      font-size: 10pt;
    }

    .user-text {
      font-size: 10.5pt;
    }
  }
}

// iPad
@media screen and (min-height: 768px) and (min-width: 1024px), screen and (min-height: 1024px) and (min-width: 768px) {
  .loading-screen {
    .user-text {
      font-size: 18.5pt;
    }
    .game-icon {
      width: 150px;
      height: 150px;
    }

    .progress-bar {
      width: $progress-bar-width * .8;
    }

    .game-rating {
      font-size: 20pt;
    }

    .name-container {
      font-size: 30pt;
    }

    .unityads-logo {
      bottom: 20px;
      width: 136px;
      height: 32px;
    }
  }
}
