#privacy-row-item-container {

  .row-item {
    margin: $default-size * .5 0 $default-size * .5 0;
  }
  .row-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: $default-size * .65;
  }

  .description {
    display: none;
    font-size: $default-size * .65;
    text-align: justify;
    color: $privacy-text-color;
    font-weight: 300;
  }

  .row-item.show-description {
    .description {
      display: block;
    }
  }

  .arrow-icon {
    font-size: $default-size * .4;
    color: $black;
    opacity: .5;
  }
}