#privacy {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .75);

  .pop-up {
    margin: 20px;
    padding: 10px 15px;
    border: 3px solid $white;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 0 5px $white;
    letter-spacing: 1px;
  }

  .privacy-text,
  .privacy-simple-text,
  .build-information-container {
    color: $black;
    text-align: justify;
    font-size: 12px;
    line-height: 17px;
  }

  .ok-button {
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    background: $blue;
    color: $white;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }

  .build-information-link {
    margin-top: 20px;
    background: $white;
    color: $blue;
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
  }

  .build-information-container {
    display: none;
    overflow: scroll;
    text-align: left;
    word-wrap: break-word;
    font-size: .75rem;
    line-height: 1rem;
  }

  &.show-build-information {
    .build-information-container {
      display: block;

      .build-information-key {
        font-weight: 800;
      }
    }

    .pop-up .privacy-text,
    .pop-up .privacy-simple-text {
      display: none;
    }
  }
}

body.portrait {
  #privacy .build-information-container {
    max-height: 20rem;
  }
}

body.landscape {
  #privacy .build-information-container {
    max-height: 11rem;
  }
}

