@import "components.styl";

// todo: move inside main element?
$privacy-settings-font-size = .75 * $default-size;
$privacy-settings-font-weight = 300;
$privacy-settings-h2-font-size = .8 * $default-size;
$privacy-settings-h2-font-weight = 600;
$background-color = #121317;
$header-background-color = #0b0b0b;
$link-color = #2196F3;

#privacy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  color: $white;
  font-weight: $privacy-settings-font-weight;
  font-size: $privacy-settings-font-size;

  h2 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-weight: $privacy-settings-h2-font-weight;
    font-size: $privacy-settings-h2-font-size;
  }

  .safe-area-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .view-container {
    position: relative;
    overflow: auto;
    padding-bottom: 1rem;
    min-height: 50%;
    max-height: 90%;
    width: 100%;
    border-top-left-radius: .5 * $default-size;
    border-top-right-radius: .5 * $default-size;
    background: $background-color;

    // enable momentum scrolling on iOS
    -webkit-overflow-scrolling: touch;

  }

  .page-container {
    padding: $default-size;
  }

  a, .page-link {
    color: $link-color;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: $header-background-color;
    text-align: left;

    .close-button {
      padding: .5 * $default-size .5 * $default-size .25 * $default-size .5 * $default-size;
      font-size: $default-size;
    }
  }

  .title-container {
    background: $black;
    text-align: center;

    .privacy-logo {
      padding-top: 2 * $default-size;
      font-size: 1.25 * $default-size;
    }

    .title {
      padding: $default-size;
      font-weight: 600;
      font-size: $default-size;
    }

    .unityads-logo {
      padding-bottom: $default-size;
      font-size: $default-size;

      &:after {
        content: "\e00b";
        font-family: "unityicons" !important; // @stylint ignore;
      }
    }

    .tool-button-container {
      display: flex;
      padding: .25 * $default-size;
      font-size: .65 * $default-size;
      justify-content: space-between;
    }
  }

  .tool-container {
    border-radius: .5 * $default-size;
    background: $black;

    .report-ad-container {
      padding: .5 * $default-size;

      .report-button {
        $privacy-blue-button-default();
        position: relative;
        padding: .75 * $default-size $default-size;
      }
    }

    .build-info-container {
      padding: .5 * $default-size;
      word-break: break-all;
    }
  }

  .radio-group-container {
    $radio-group-container($default-scale-size, $privacy-settings-font-size);
    line-height: 1.25 * $default-size;
  }

  .text-small {
    font-weight: $privacy-text-font-weight = 300;
    font-size: $default-font-size * .5;
  }

  &:not(.report) {
    .report-ad-container {
      display: none;
    }
  }
  &:not(.build-info) {
    .build-info-container {
      display: none;
    }
  }

  .data-deletion-note {
    display: none;
    padding: $default-size * $default-scale-size * .75 0 0 0;
    text-align: center;
    font-style: italic;

    &.active {
      display: block;
    }
  }

  #data-deletion-container {
    padding: $default-size * $default-scale-size * .75 0;
    .page-link {
      pointer-events: none;
    }
    &.active {
      .page-link {
        pointer-events: auto;
      }
    }
  }

  #data-deletion-container,
  #data-deletion-request-container {
    display: none;
    padding: $default-size 0;
    text-align: center;

    &.active {
      display: block;
    }
  }
}

body {
  &.landscape #privacy {
    .view-container {
      left: 22%;
      min-height: 85%;
      max-height: 90%;
      width: 56%;
    }
  }
}

$iphone-x-paddings() {
  #privacy {
    .safe-area-content {
      top: constant(safe-area-inset-top);
      top: env(safe-area-inset-top); // @stylint ignore
    }

    .view-container {
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom); // @stylint ignore
    }
  }
}

/* iPhone X & iPhone XS */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  html {
    $iphone-x-paddings();
  }
}

/* iPhone XS Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  html {
    $iphone-x-paddings();
  }
}

/* iPhone XR */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  html {
    $iphone-x-paddings();
  }
}
