@import "components.styl";

#privacy-data-request {
  display: flex;
  flex-direction: column;
  text-align: left;
  $ripple-square-default();

  input[type=email] {
    flex-grow: 1;
    border: 0;
    margin-top: .75 * $default-size;
    padding: .5 * $default-size;
    border-radius: .25 * $default-size;
    color: $white;
    background: rgba(255, 255, 255, 0.1);
    font-size: $default-font-size * .65;
    box-shadow: none;
    -webkit-appearance: none;
  }

  ::placeholder {
    color: $privacy-settings-input-placeholder-color;
  }

  .privacy-data-request-submit-button {
    position: relative;
    flex-grow: 1;
    margin-top: .5 * $default-size;
    padding: .5 * $default-size;
    border-radius: .25 * $default-size;
    background: $blue;
    box-shadow: none;
    color: $white;
    text-align: center;
    font-weight: $privacy-title-font-weight;
    font-size: $default-font-size * .75;

    &.disabled {
      opacity: .3;
      pointer-events: none;
    }
  }

  .privacy-data-request-submit-button {
    &.click-animation {
      $click-animation();
    }
  }

  .privacy-data-request-msg {
    display: none;
    flex-grow: 1;
    margin-top: .5 * $default-size;
    padding: .5 * $default-size;
    background: $privacy-settings-msg-background-color;
    font-weight: 400;

    &.show-msg {
      display: block;
    }
  }

  .privacy-data-request-confirm-msg {
    color: $white;
  }

  .privacy-data-request-error-msg {
    color: $privacy-red;
  }
}
