@import "components.styl";

#privacy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  color: $white;
  font-weight: $privacy-settings-font-weight;
  font-size: $privacy-settings-font-size;
  $ripple-square-default();
  $ripple-circle-default();

  .ripple-circle {
    width: 6%;
    &:hover:active::after {
      margin: 0;
      background: radial-gradient(circle, $privacy-light-gray 44%, transparent 12%);
    }
  }

  h2 {
    margin-top: 1.5 * $default-size;
    margin-bottom: .5 * $default-size;
    font-weight: $privacy-settings-h2-font-weight;
    font-size: $privacy-settings-h2-font-size;
  }

  .view-container {
    position: absolute;
    top: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100% - 2rem);
    border-top-left-radius: $default-size;
    border-top-right-radius: $default-size;
    background: $privacy-settings-background-color;

    // enable momentum scrolling on iOS
    -webkit-overflow-scrolling: touch;
  }

  .scroll-area-container {
    position: relative;
    // min and max values are needed to enable scrolling on legacy iOS and Android devices
    overflow: auto;
    min-height: 0;
    max-height: 100%;
  }

  .privacy-content-container {
    position: relative;
    padding: $default-size $default-size 3 * $default-size $default-size;
  }

  a, .page-link {
    color: $privacy-settings-link-color;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
  }

  .header {
    position: relative;
    z-index: 9999;
    border-top-left-radius: $default-size;
    border-top-right-radius: $default-size;
    background: $privacy-settings-header-background-color;
    text-align: left;

    .close-button {
      padding: .5 * $default-size .5 * $default-size .25 * $default-size .75 * $default-size;
      font-size: $default-size;
    }
  }

  .title-container {
    background: $black;
    text-align: center;

    .privacy-logo {
      padding-top: 2 * $default-size;
      font-size: 1.25 * $default-size;
    }

    .title {
      padding: $default-size;
      font-weight: 600;
      font-size: $default-size;
    }

    .icon-unity-ads-logo {
      padding-bottom: .5 * $default-size;
      font-size: 1.25 * $default-size;
    }

    .tool-button-container {
      display: flex;
      padding: .5 * $default-size;
      font-size: .65 * $default-size;
      justify-content: space-between;
    }
  }

  .tool-container {
    background: $privacy-settings-header-background-color;

    .report-ad-container {
      padding: $default-size;

      .report-button {
        $privacy-blue-button-default();
        position: relative;
        padding: .75 * $default-size $default-size;
      }
    }

    .build-info-container {
      padding: $default-size;
      word-break: break-all;
    }
  }

  .mini-disclosure-container {
    margin: 0 -.5 * $default-size;
    padding: .5 * $default-size $default-size;
    border-radius: .5 * $default-size;
    background: $privacy-settings-msg-background-color;
    font-weight: $privacy-settings-h2-font-weight;
  }

  .radio-group-container {
    $radio-group-container($default-scale-size, $privacy-settings-font-size);

    .radio-item-container {
      padding: .25 * $default-size 0;
    }
  }

  .text-small {
    font-weight: $privacy-text-font-weight = 300;
    font-size: $default-font-size * .5;
  }

  &:not(.report) {
    .report-ad-container {
      display: none;
    }
  }
  &:not(.build-info) {
    .build-info-container {
      display: none;
    }
  }

  .data-deletion-note {
    display: none;
    padding: $default-size * $default-scale-size * .75 0 0 0;
    text-align: center;
    font-style: italic;

    &.active {
      display: block;
    }
  }

  #data-deletion-container {
    padding: $default-size * $default-scale-size * .75 0;
    .page-link {
      pointer-events: none;
    }
    &.active {
      .page-link {
        pointer-events: auto;
      }
    }
  }

  #data-deletion-container,
  #data-deletion-request-container {
    display: none;
    padding: $default-size 0;
    text-align: center;

    &.active {
      display: block;
    }
  }
}

body {
  &.landscape #privacy {
    .view-container {
      top: 1rem;
      left: 22%;
      width: 56%;
      height: calc(100% - 1rem);
    }
  }
}

$iphone-x-paddings() {
  #privacy {
    .view-container {
      top: calc(2rem + constant(safe-area-inset-top));
      top: calc(2rem + env(safe-area-inset-top)); // @stylint ignore

      height: calc(100% - 2rem - constant(safe-area-inset-top));
      height: calc(100% - 2rem - env(safe-area-inset-top)); // @stylint ignore
    }
  }
}

/* iPhone X & iPhone XS */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  html {
    $iphone-x-paddings();
  }
}

/* iPhone XS Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  html {
    $iphone-x-paddings();
  }
}

/* iPhone XR */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  html {
    $iphone-x-paddings();
  }
}
