#promo
  .backdrop
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.25;
    text-align: center

  .promo-container
    position: absolute;
    background-size: cover;
    height: 28rem;
    width: 18.125rem;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;

  .footer
    position: absolute;
    bottom: 1rem;
    width: 100%;

  .promo-btn
    display: block;
    background-size: cover;
    width: 8.625rem;
    height: 3.5625rem;
    color: #ffffff;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    font-size: 1.25rem;


  .promo-text
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%)

  .close
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
