#promo
  .backdrop
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.25;
    padding: 30px;
    box-sizing: border-box

  .promo-container
    position: relative;
    background-color: red;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box

  .footer
    position: absolute;
    text-align: center;
    bottom: 1rem;
    width: 100%;

  .promo-btn
    font-size: 1rem;
    background: #167dfb;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    color: #ffffff;

  .close
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
