#promo
  .backdrop
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    text-align: center

  .promo-container
    position: absolute;
    height: 28rem;
    width: 18.125rem;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;

  .promo-background
    position: absolute
    width: 100%
    height: 100%
    background-size: cover;

  .footer
    position: absolute;
    bottom: 1rem;
    width: 100%;

  .btn-promo
    display: block;
    background-size: cover;
    width: 8.625rem;
    height: 3.5625rem;
    color: #ffffff;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    font-size: 1.25rem;


  .promo-text
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%)

  .close
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;

body.landscape
  #promo
    .promo-container
      position: absolute;
      height: 18.125rem;
      width: 28rem;

    .promo-background-landscape
      display: block
    .promo-background-portrait
      display: none

body.portrait
  #promo
    .promo-container
      position: absolute;
      height: 28rem;
      width: 18.125rem;

    .promo-background-landscape
      display: none
    .promo-background-portrait
      display: block


