#end-screen
  &.active-animation > .campaign-container.pulse-animation .btn-download
    -webkit-animation: pulse 7.5s 1s infinite;
    animation: pulse 7.5s 1s infinite

  .campaign-container.pulse-animation .btn-download
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    top: 0.5rem;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
