@import "vars.styl";
@import "end-screen.styl";

$default-rich-overlay-scale = $default-scale-size * .75;
$default-rich-overlay-size = $default-size * $default-rich-overlay-scale;

#overlay.rich-overlay {

  .mute-button {
    position: absolute;
    bottom: initial;
    left: initial;
    display: inline-block;

    .mute-icon,
    .unmute-icon {
      top: 10px;
      bottom: 0;
      height: auto;
      font-size: 35px;
    }
  }

  .skip-hit-area {
    position: initial;
    display: inline-block;
    pointer-events: auto;
  }

  .skip-icon {
    top: 50%;
    left: 15%;
    transform: translate(0, -50%);
  }

  .overlay-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $default-rich-overlay-size * 5.75;

    .background-container {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $white;
      opacity: .5;
    }

    .game-rating {
      $game-rating-default($default-rich-overlay-scale);
    }

    .game-rating-mask {
      $game-rating-mask-default($default-rich-overlay-scale);
    }

    .game-rating-count {
      $game-rating-count-default($default-rich-overlay-scale);
    }

    .name-container {
      $name-container-default($default-rich-overlay-scale);
    }

    .game-icon {
      $game-icon-default($default-rich-overlay-scale, $default-scale-size * .95);
      margin-left: $default-rich-overlay-size;
    }

    .download-container {
      $download-container-default($default-rich-overlay-scale);
      margin: 0 $default-rich-overlay-size 0 auto;
    }

    .row-container {
      /* Use items positioning the same for both orientations in this case  */
      @extend body.portrait #end-screen .row-container;  // @stylint ignore
      align-items: center;
      height: 100%;
      justify-content: left;
    }

    .icon-star {
      @extend #end-screen.combine-end-screen .icon-star;  // @stylint ignore
      font-size: $default-rich-overlay-size * 1.25;
    }

    .column-container {
      @extend body.portrait #end-screen .column-container;  // @stylint ignore
    }

    .store-container {
      @extend body #end-screen .store-container;  // @stylint ignore
      margin-top: $default-rich-overlay-size * .35;
    }

    .store-icon {
      @extend #end-screen.combine-end-screen .campaign-container .store-icon;  // @stylint ignore
    }

  }
}

body {

  &.portrait #overlay.rich-overlay {
    .overlay-footer {
      .download-container {
        width: $default-rich-overlay-size * 7.75;
        font-size: $default-rich-overlay-size;
      }

      .icon-star {
        font-size: $default-rich-overlay-size * .85;
      }

      .name-container {
        max-width: $default-rich-overlay-size * 10;
        font-size: $default-rich-overlay-size * 1.25;
      }
    }
  }

  &.landscape #overlay.rich-overlay {
    .overlay-footer {
      .name-container {
        max-width: $default-rich-overlay-size * 16.375;
      }
    }
  }

}
