@import "vars.styl";
@import "components.styl";
@import "gdpr-pop-up.styl";
@import "square-end-screen.styl";
body {
    &.portrait #end-screen {
        .column-container {
            margin-left: $default-size * $default-scale-size * .5;
        }

        .download-container {
            margin: $default-size * $default-scale-size * .75 auto;
        }
    }

    &.landscape #end-screen {
        .column-container {
            margin: $default-size * $default-scale-size * .5 0;
        }
        .btn-close-region {
            color: $gray;
        }
    }
}

.slider-blurred-background {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-decoration: none;
    transform: scale(2);
    filter: blur(13px);
}

.game-background-container {
    overflow: hidden;
}

.slider-item {
    float: left;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    img {
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.9);
    }
}

#slider-root-container, .slider-item, .slider-content  {
    height: 100%;
}

.slider-item, .slider-content {
    position: relative;
    z-index: 2;
}

$dot-color = #fff;
$dot-active-color = #099fde;
$dot-radius = 5px;
$dot-margin = 5px;

.indicator-container {
    width: 100%;
    position: absolute;
    bottom: 0.35em;
    z-index: 10;
    display: flex;
    pointer-events: none;
    .slider-indicator {
        margin: 0 auto;
        .slider-dot {
            display: block;
            float: left;
            margin-right: $dot-margin;
            margin-left: $dot-margin;
            width: $dot-radius;
            height: $dot-radius;
            border-radius: 50%;
            background-color: $dot-color;

            &.active {
                background-color: $dot-active-color;
            }
        }
    }
}