
.slider-wrap {
    position: relative;
    display: block;
    min-height: 100%;
    min-width: 100%
    height: 180px;
}

.slider-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);

    &>span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;

        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}

$dotColor = #fff;
$dotActiveColor= #099fde;
$dotRadius = 0.25rem;

.slider-indicator {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    z-index: 10;
    .slider-dot {
        display: block;
        float: left;
        width: $dotRadius * 2;
        height: $dotRadius * 2;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        border-radius: 50%;
        background-color: $dotColor;

        &.active {
            background-color: $dotActiveColor;
        }
    }
}