@import "vars.styl";
@import "square-end-screen-media-queries.styl";

#end-screen.square-end-screen {
  .campaign-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .privacy-button {
    bottom: 0;
    left: 0;
  }

  .unityads-logo {
    bottom: 0;
  }

  .game-image {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .game-background-blurred {
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px) brightness(.8) opacity(.28) grayscale(1);
    transform: scale(1.4);
    background-color: transparent;
    background-size: cover;
  }

  &.old-androids {
    .game-background-blurred {
      display: none;
    }

    .game-image {
      background-color: $light-gray;
    }
  }

  .end-screen-info-background {
    position: relative;
    z-index: 6;
    flex-grow: 1;
    width: auto;
    background-color: $white;
  }
}

&.landscape #end-screen.square-end-screen {
  .campaign-container {
    flex-direction: row;
  }

  .privacy-button {
    left: 0;
  }
}


/** Styles for devices that can show the full sized image without blurred background **/

@media (max-aspect-ratio: 290/460) and (orientation: portrait), (min-aspect-ratio: 470/290) and (orientation: landscape) {
  #end-screen.square-end-screen {
    .game-background-blurred {
      display: none;
    }

    /* Fixes issue of the image not showing up on Nexus 5 (4.4) in portrait mode */
    .game-image {
      position: absolute;
    }
  }
}

@media (max-aspect-ratio: 290/460 ) and (orientation: portrait) {
  body {
    &.portrait #end-screen.square-end-screen {
      .end-screen-info-background {
        height: auto;
      }

      .download-container {
        margin: .55rem auto;
      }
    }
  }

  #end-screen.square-end-screen {
    .game-background-container {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100vw;
    }

    .end-screen-info-background {
      height: auto;
    }
  }
}

@media (min-aspect-ratio: 470/290) and (orientation: landscape) {
  &.landscape #end-screen.square-end-screen {
    .game-background-container {
      width: 100vh;
      height: 100%;
    }

    .end-screen-info-background {
      width: auto;
    }

    .unityads-logo {
      width: 100%;
    }
  }
}

/* iPhone X fixes */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  &.landscape #end-screen.square-end-screen {
    .game-image {
      background-position: left;
    }

    .privacy-button {
      left: -14px;
    }

    .download-container {
      font-size: 1.05rem;
    }

    .game-rating, .name-container {
      font-size: 1.2rem;
    }
  }
}

/* iPhone XS Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  &.landscape #end-screen.square-end-screen {
    .game-image {
      background-position: left;
    }

    .privacy-button {
      left: -14px;
    }

    .download-container {
      font-size: 1.05rem;
    }

    .game-rating, .name-container {
      font-size: 1.2rem;
    }
  }
}