@import 'vars.styl';
@import 'tilted-layout-vars.styl';
@import 'iphone-x-series.styl';

@font-face {
  font-family: 'AldotheApache';
  src: url('../fonts/MabExperimentation//AldotheApache.ttf') format('truetype');
}

body.tilted-layout #end-screen {
  .campaign-container {
    position: relative;
    display: block;
    background: $black;
    overflow: hidden;

    .game-creative-container {
      width: 100%;
      height: 65%; // make this 60% when on a regular phone, not stretched
      animation: game-creative-slide .3s ease-out 0s forwards 1;

      .game-creative-image {
        width: 100%;

        &.landscape {
          transform: rotate(-15deg) scale(1.4) translate(-10px, 42px); // remove the translation when using the description of the game, also scale was 1.35
        }

        &.square {
          transform: rotate(-15deg) scale(1.6) translate(-40px, 44px);
        }
      }
    }

    .privacy-container {
      position: absolute;
      z-index: 999;
      width: 100%;

      .privacy-button {
        bottom: unset;
        right: .5em;
        left: unset;
        margin-left: unset;
        transform: rotate(-15deg);
        z-index: 900;

        .icon-gdpr {
          color: $white;
        }
      }

      .china-ad-unity-logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: rotate(-15deg) translateY(.25em);

        .china-advertisement {
          position: unset;
          padding: unset;
          color: $white;
          right: unset;
          bottom: unset;
          font-size: .75em;
          opacity: .6;
          text-shadow: 0px 0 4px $black;
        }

        .unityads-logo {
          bottom: unset;
          left: unset;
          width: unset;
          position: unset;
          max-height: unset;
          color: $white;
          font-size: 1.5rem;
          opacity: .5;
          text-shadow: 0px 0 4px $black;
        }
      }
    }

    .end-screen-info-background {
      background: $tilted-layout-black;
      color: $tilted-layout-white;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: unset;
      align-content: unset;
      justify-content: unset;
      z-index: 2;
      height: 35%; // make this 40% when on a regular phone, not stretched
      transform: translateY(30%); // Note: This is only for iphone X, which is the test device for the concept

      &::before {
        position: absolute;
        display: block;
        background: inherit;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        height: 100%;
        transform: skewY(-15deg) translateY(-50px);
        z-index: -1;
      }

      .end-screen-info {
        display: flex;
        flex-direction: column;
        transform: rotate(-15deg) translateY(-45%);
        padding-left: 2em;
        height: 50%;
        animation: end-screen-info-slide .3s ease-out 0s forwards 1;

        .game-icon-rating-container {
          display: flex;
          align-items: flex-end;
          margin-bottom: .25em;

          .game-rating-stars-top, .game-rating-stars-bottom {
            .icon-star {
              vertical-align: baseline;
              margin-left: -.15em;

              &::before {
                content: '\2605';
              }
            }
          }

          .game-icon {
            margin-bottom: 0;
            box-shadow: 0px 0px 15px 2px $tilted-layout-black;
          }

          .game-rating-container {
            display: flex;
            flex-direction: column;
            padding: .5em;

            .game-rating-stars-container {
              line-height: 0;
            }

            .game-rating {
              vertical-align: unset;
              margin-top: unset;
              text-align: unset;
              line-height: .6em;
            }

            .game-rating-count {
              vertical-align: middle;
            }

            .game-rating-number {
              display: flex;
              font-family: 'AldotheApache', Helvetica, sans-serif;
              line-height: .8;
              font-size: 1.2em;
              align-items: baseline;

              .game-rating-scale {
                font-size: .45em;
              }
            }
          }
        }

        .game-details-container {
          display: flex;
          flex-direction: column;
          transform: translateX(-1.5em);

          .game-name {
            font-family: 'AldotheApache', Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: 1.6em; // without description, this fits well at 1.75em;
            line-height: 1em;
          }

          .game-description {
            font-size: .5em;
            line-height: 1.5em;
          }
        }
      }

      .download-cta-container {
        height: 50%;
        position: relative;
        transform: translateY(-45%);
        animation: download-container-slide .3s ease-out 0s forwards 1;

        .download-cta-button {
          transform: skewY(-15deg) translateY(50%);
          background: $tilted-layout-blue;
          text-transform: uppercase;
          font-family: 'AldotheApache', Helvetica, sans-serif;
          width: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 9em;
          animation: cta-button-bounce 2s cubic-bezier(.39, .58, .57, 1) .5s infinite;

          .download-cta-text {
            font-size: 1.5em;
            line-height: 1.5em;
            display: flex;
            justify-content: center;
            transform: skewY(15deg) rotate(-15deg);
          }
        }
      }
    }
  }
}

@keyframes cta-button-bounce {
  0%, 40%, 60%, 100% {
    transform: skewY(-15deg) translateY(50%);
  }

  50% {
    transform: skewY(-15deg) translateY(45%);
  }
}

@keyframes end-screen-info-slide {
  from {
    transform: rotate(-15deg) translateY(-45%) translateX(-200%);
  }

  to {
    transform: rotate(-15deg) translateY(-45%) translateX(0%);
  }
}

@keyframes game-creative-slide {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes download-container-slide {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(-45%);
  }
}