@import 'vars.styl';
@import 'tilted-layout-vars.styl';
@import 'iphone-x-series.styl';

@font-face {
  font-family: 'AldotheApache';
  src: url('../fonts/MabExperimentation//AldotheApache.ttf') format('truetype');
}

body.tilted-layout #end-screen {
  .campaign-container {
    background: $black;
    overflow: hidden;

    .game-creative-container {
      width: 100%;
      height: 60%;

      .game-creative-image {
        transform: rotate(-15deg) scale(1.35);
        width: 100%;
      }
    }

    .end-screen-info-background {
      text-transform: uppercase;
      background: $tilted-layout-black;
      color: $tilted-layout-white;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: unset;
      align-content: unset;
      justify-content: unset;
      z-index: 2;
      height: 40%;

      &::before {
        position: absolute;
        display: block;
        background: inherit;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        height: 100%;
        transform: skewY(-15deg) translateY(-50px);
        z-index: -1;
      }

      // &::after {
      // position: absolute;
      // display: block;
      // background: inherit;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // content: '';
      // height: 100px;
      // transform: skewY(-15deg) translateY(50px);
      // z-index: -1;
      // }
      .end-screen-info {
        transform: rotate(-15deg);
        padding: 0 2em;

        .game-icon-rating-container {
          display: flex;
          transform: translateY(-50%);

          .game-rating-stars-top, .game-rating-stars-bottom {
            .icon-star {
              line-height: 1em;
              vertical-align: baseline;

              &::before {
                content: '\2605';
              }
            }
          }

          .game-icon {
            margin-bottom: 0;
            transform: translateY(-25%);
          }

          .game-rating-container {
            display: flex;
            flex-direction: column;
            padding: 0.5em;

            .game-rating-stars-container {
              display: flex;
              align-items: center;
            }

            .game-rating {
              vertical-align: unset;
              margin-top: unset;
              text-align: unset;
              line-height: 0.6em;
            }

            .game-rating-number {
              display: flex;
              font-family: 'AldotheApache';
              line-height: 0.8em;

              .game-rating-scale {
                font-size: 0.45em;
              }
            }
          }
        }

        .game-details-container {
          .game-name {
            font-family: 'AldotheApache';
          }
        }
      }

      .download-cta-container {
        height: 100%;
        position: relative;
        overflow: hidden;

        .download-cta-button {
          transform: skewY(-15deg) translateY(40%);
          background: $tilted-layout-blue;
          font-family: 'AldotheApache';
          width: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 100%;

          .download-cta-text {
            font-size: 1.5em;
            line-height: 1.5em;
            display: flex;
            justify-content: center;
            transform: skewY(15deg) rotate(-15deg);
          }
        }
      }
    }
  }
}
