@import 'vars.styl';
@import 'iphone-x-series.styl';

body.tilted-layout #end-screen {
  .campaign-container {
    background: $black;

    .game-background-container {
      .game-background-portrait {
        transform: rotate(-15deg) scale(1.25);
      }
    }
  }
}
