@keyframes tada
  0%
    -webkit-transform: scale(1)

  30%
    -webkit-transform: scaleX(1.25) scaleY(0.75) rotate(10deg)

  40%
    -webkit-transform: scaleX(0.75) scaleY(1.25) rotate(-10deg)

  60%
    -webkit-transform: scaleX(1.15) scaleY(0.85) rotate(5deg)

  100%
    -webkit-transform: scale(1)


@keyframes zoomIn
  0%
    -webkit-transform: translateY(1000px) scaleX(5) scaleY(5) translateX(250px)

  100%
    -webkit-transform: translateY(0) scaleX(1) scaleY(1) translateX(0px)