/************************
* UGLIFIED TEST
*************************/

body.iphone
  &.uglified

    .game-info
      margin-bottom: 5px
      margin-top: 10px
      margin-left: 0
      text-align: center

    .game-icon
      display: none

    .game-background
      width: 85%
      margin: auto
      left: 0
      right: 0
      margin-left: 25px
      margin-right: 25px
      box-shadow: 1px 1px 3px 1px gray
      border-radius: 0 0 10px 10px

    .end-screen-info-background
      border-top: none
      box-shadow: none
      background-image: none
      background: none

    .btn-close
      box-shadow: 1px 1px 2px -1px gray

    .btn-watch-again
      box-shadow: 1px -1px 2px -1px gray

    .game-store-info
      display: none

    .icon-download
      display: none

    .download-text
      display: none

    .download-text-alt
      display: inline
      font-size: 16pt
      line-height: 16pt

    .btn-download
      width: 150px
      height: 30px
      margin: auto
      margin-bottom: 10px
      border-radius: 4px
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76e13c), color-stop(100%, #107c01))
      background: -webkit-linear-gradient(top, #76e13c, #107c01)
      text-shadow: none

    .store-badge-container
      display: block
      background-image: url('../img/appstorebadge.png')
      background-position: center
      background-size: cover
      margin: auto
      position: absolute
      left: 0px
      right: 0px
      width: 175px // 510px
      height: 48px // 155px

    &.landscape
      .game-info
        margin-top: 20px

      .game-icon
        display: block

      .game-background
        width: 54%
        margin-top: 25px
        margin-bottom: 25px
        border-radius: 0 10px 10px 0
        box-shadow: 1px 3px 5px 0px gray
        left: auto
        right: auto
        margin-left: 0
        margin-right: 0

      .end-screen-info-background
        border-left: none
        box-shadow: none
        width: 45%

      .btn-download
        width: 150px
        height: 38px

      .download-text-alt
        line-height: 30pt

      .everyplay-gameads-logo
        bottom: 10px

  // 320 x 568 - iPhone 5
  @media screen and (min-height: 568px) and (min-width: 320px),
          screen and (min-height: 320px) and (min-width: 568px)
    &.uglified

      .game-background
        bottom: 44%

      .end-screen-info-background
        height: 43%

      .everyplay-gameads-logo
        bottom: 10px

      &.landscape
        
        .game-info
          margin-top: 15px

        .game-background
          width: 59%
          bottom: 0

        .end-screen-info-background
          width: 40%
          height: 100%
