/* Store vars that you are using across the project */

$black = #000;
$white = #fff;
$dark-gdpr-banner = #161616;

$gray = #7c7c7c;
$dark-gray = #696969;
$light-gray = #e2e2e2;
$white-smoke = #f5f5f5;
$blue = #167dfb;

/* new default download button color */
$green = #33cc00;

$privacy-text-color = #333333;
$privacy-green = #7ed321;

$unityads-logo-color = #696969;

/* Admob Privacy */
$admob-privacy-blue = #0198b3;

/* End Screen */

$end-screen-background-color = #fafafa;

$end-screen-info-gray = #e6e6e6;
$end-screen-info-white = #fafafa;
$end-screen-game-name-color = #404040;
$end-screen-gray-border =  #CECECE;

$dark-blue-gradient-light = #00e3c8;
$dark-blue-gradient-dark = #00cbd6;

$rating-orange = #ff8e00;

/* overlay */
$overlay-gray = #777777;

$default-transition-ts = .25s;

/* Sizes  1rem = 16px if html {font-size: 100%} */

$default-font-size = 1rem;
$default-px-size = 16px;
$default-size = unit($default-px-size/ 16, "rem");

$default-scale-size = 1;

$privacy-text-font-size = $default-font-size * .55;
$privacy-heading-font-size = $default-font-size * .65;
$privacy-text-font-weight = 300;
$privacy-title-font-weight = 500;
$privacy-main-title-font-weight = 600;
$privacy-red = #dc1a39;
$privacy-light-gray = #e2e2e2;
$privacy-close-button = #333333;
$privacy-close-button-text = #b4b4b4;

$consent-text-font-size = $default-font-size * .75;
$consent-button-font-size = $default-font-size * .85;
$consent-title-font-size = $default-font-size * .95;
$consent-main-title-font-size = $default-font-size;

$consent-text-font-weight = 400;
$consent-text-font-color = #181818;
$consent-blue = $blue;
$consent-border-gray = #D8D8D8;
$consent-divider-color = #E5E5E5;
$consent-disagree-button-color = #878787;

$close-button-shadow = .03em .05em .18em $gray;

// todo: above privacy-related definitions should be cleaned/combined
$privacy-settings-font-size = .75 * $default-size;
$privacy-settings-font-weight = 300;
$privacy-settings-h2-font-size = .8 * $default-size;
$privacy-settings-h2-font-weight = 600;
$privacy-settings-background-color = #121317;
$privacy-settings-header-background-color = #0b0b0b;
$privacy-settings-link-color = #2196F3;
$privacy-settings-input-placeholder-color = #c4c4c4;
$privacy-settings-msg-background-color = #28282F;

