/* Store vars that you are using across the project */

$black = #000;
$white = #fff;

$gray = #7c7c7c;
$dark-gray = #696969;

$privacy-text-color = #333333;
$privacy-green = #7ed321;

$blue = #167dfb;

/* End Screen */

$end-screen-background-color = #fafafa;

$end-screen-info-gray = #e6e6e6;
$end-screen-info-white = #fafafa;

$dark-blue-gradient-light = #00e3c8;
$dark-blue-gradient-dark = #00cbd6;

$rating-orange = #ff8e00;

/* overlay */
$overlay-gray = #777777;

$default-transition-ts = .25s;

/* Sizes  1rem = 16px if html {font-size: 100%} */

$default-font-size = 1rem;
$default-px-size = 16px;
$default-size = unit($default-px-size/ 16, "rem");

$default-scale-size = 1;
