body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.ad-container {
    position: relative;
    width: 100%;
    height: 100%;

    video {
        width: 100%;
        height: 100%;
    }

    .video-player-slot {
        position: absolute;
        bottom: 0;
        margin: 0;
    }
}
