#vpaid {
  width: 100vw;
  height: 100vh;

  #vpaid-iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .companion-container {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100vw;
    text-align: center;
  }
}
