body.iphone
body.ipad
body.android
  .campaign-container.whitespace
    .btn-download
      color: #ffffff
      background-image: #167dfb
      background: #167dfb
      padding: 15% 5% 15% 5%

    .end-screen-info-background
      position: absolute
      bottom: 0
      width: 100%
      height: 100%
      opacity: 0.96
      border-radius: 30px
    
    .end-screen-info
      margin-top: 80%
      
    .game-background
      top: 0
      bottom: 0
      width: 100%
      height: 100%
      
    .unityads-logo
      right: 10
      
  a.btn-close
    color: #7c7c7c

  &.landscape
    .campaign-container.whitespace
      .end-screen-info-background
        width: 100%
        height: 100%
        right: 0 
        
      .end-screen-info
        margin-top: 0%
      
      .btn-download
        padding: 4% 5% 4% 5%