body.iphone
body.ipad
body.android
  .campaign-container.xmas
    .btn-download
      background-image: #fc8b12
      background: #fc8b12
      
    .name-container
      color: #e6e6e6
      text-shadow: 1px 1px 5px #000000

    .end-screen-info-background
      background-color: #1f0920
      background-image: url("../img/xmaswall.jpg")
      background-position: center top
      background-repeat: no-repeat
      background-size: 100%
      border-top: 4px solid #7c3237
      
    .unityads-logo
      background-image: url("../img/unityads-xmas.jpg")
      
  &.landscape
    .btn-close-region.xmas
      a.btn-close
        color: #e6e6e6

    .campaign-container.xmas
      .end-screen-info-background
        border-left: 4px solid #7c3237