<div class="safe-area">
    <div id="consent-homescreen">
        <div class="homescreen-container">
            <div class="top-container">
                <div class="privacy-logo item">
                    <span class="icon-gdpr"></span>
                </div>
                <div class="title item">
                    <span class="centered-title"><%= data.t("homepage-title") %></span>
                </div>
                <div class="description item">
                    <p>
                        <%= data.t("homepage-main-text") %>
                    </p>
                </div>
            </div>
            <div class="stripe"></div>
            <div class="bottom-container">
                <div class="button-container item">
                    <div class="accept-all consent-button"><span>Accept</span></div>
                    <div class="show-choices consent-button">
                        <% if(data.useAltMyChoicesButtonText) { %>
                        <span>Learn more</span>
                        <% } else { %>
                        <span>Show my choices</span>
                        <% } %>
                    </div>
                </div>
                <div class="logo-container">
                    <div class="unityads-logo"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="consent-introduction" class="consent-introduction">
        <div class="privacy-logo">
            <span class="icon-gdpr"></span>
        </div>
        <span class="intro-title">Gameplay & Ad Personalization</span>
        <div class="intro-text">
            <p>
                Personalization gives you a better in-game experience by tailoring to your preferences. By
                continuing, you may choose the extent in which your data is used to personalize gameplay
                and ads in this game.
            </p>
        </div>
        <div class="continue-button bold">
            <span>Continue</span>
        </div>
        <div class="unity-logo">
            <span>Powered by Unity</span>
        </div>
    </div>

    <div id="consent-my-choices" class="consent-container">
        <div class="back-button">
            <span>Back</span>
        </div>

        <div class="consent-settings">
            <span class="consent-title">
                Can the Unity cookie collect and use your data to tailor your ads and experience?
            </span>
            <div class="switch-group-container">

            </div>
            <p>
                Unity and our third-parties will collect data, including demographic information, and use mobile identifiers
                for ads & gameplay personalization and measurement. You can access these options at any time by tapping the
                Unity Data Privacy icon when or after an ad appears.
            </p>
            <div class="privacy-container">

            </div>
            <div class="empty-block">
            </div>
        </div>
        <div class="consent-button-container">
            <div class="save-my-choices consent-button"><span>Save my choices</span></div>
            <div class="agree consent-button"><span>Agree to all</span></div>
            <div class="disagree consent-button"><span>No thanks</span></div>
        </div>
    </div>
</div>
