<div class="safe-area">
    <div id="consent-homescreen">
        <div class="homescreen-container">
            <div class="top-container">
                <div class="privacy-logo item">
                    <span class="icon-gdpr"></span>
                </div>
                <div class="title item">
                    <span class="centered-title"><%= data.t("homepage-title") %></span>
                </div>
                <div class="description item">
                    <p>
                        <%= data.t("homepage-main-text") %>
                    </p>
                </div>
            </div>
            <div class="stripe"></div>
            <div class="bottom-container">
                <div class="button-container item">
                    <div class="accept-all consent-button">
                        <span><%= data.t("homepage-accept-all") %></span>
                    </div>
                    <div class="show-choices consent-button">
                        <span><%= data.t("homepage-show-my-choices") %></span>
                    </div>
                </div>
                <div class="logo-container">
                    <div class="unityads-logo"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="consent-homepage">
        <div class="text-container">
            <div class="privacy-logo">
                <span class="icon-gdpr"></span>
            </div>
            <span class="title"><%= data.t("homepage-title") %></span>
            <div class="main-text">
                <p>
                    <%= data.t("homepage-main-text") %>
                </p>
            </div>
            <div class="empty-block">
            </div>
        </div>

        <div class="homepage-button-container">
            <div class="homepage-accept-all consent-button"><span><%= data.t("homepage-accept-all") %></span></div>
            <div class="show-choices consent-button"><span><%= data.t("homepage-show-my-choices") %></span></div>
        </div>
    </div>

    <div id="consent-my-choices" class="consent-container">
        <div class="back-button">
            <span><%= data.t("my-choices-back") %></span>
        </div>

        <div class="consent-settings">
            <span class="consent-title">
                <%= data.t("my-choices-title") %>
            </span>
            <div class="switch-group-container">

            </div>
            <p>
                <%= data.t("my-choices-text") %>
            </p>
            <div class="privacy-container">

            </div>
            <div class="empty-block">
            </div>
        </div>
        <div class="consent-button-container">
            <div class="save-my-choices consent-button"><span><%= data.t("save-my-choices") %></span></div>
            <div class="agree consent-button"><span><%= data.t("agree-to-all") %></span></div>
            <div class="disagree consent-button"><span><%= data.t("no-thanks") %></span></div>
        </div>
    </div>
</div>
