<div ontouchstart="void(0)" class="switch-container">
    <div class="switch-label">
        <span><%= data.t("my-choices-switch-game-experience") %></span>
    </div>
    <div class="switch">
        <input id="personalized-experience-switch" type="checkbox"  />
        <label for="personalized-experience-switch"></label>
    </div>
</div>
<div ontouchstart="void(0)" class="switch-container">
    <div class="switch-label">
        <span><%= data.t("my-choices-switch-personalized-ads") %></span>
    </div>
    <div class="switch">
        <input id="personalized-ads-switch" type="checkbox" />
        <label for="personalized-ads-switch" class="personalized-ads-label"></label>
    </div>
</div>
<div ontouchstart="void(0)" id="third-party-switch" class="switch-container">
    <div class="switch-label">
        <span><%= data.t("my-choices-switch-personalized-third-party") %></span>
    </div>
    <div class="switch">
        <input id="personalized-ads-3rd-party-switch" type="checkbox" />
        <label for="personalized-ads-3rd-party-switch"></label>
    </div>
</div>

