<h2><%= data.t("privacy-data-request-header") %></h2>
<p>
    <%= data.t("privacy-data-request-text") %>
</p>
<input id="privacy-data-request-email-input" type="email" name="email">
<div class="privacy-data-request-submit-button ripple-square"><span><%= data.t("privacy-data-request-submit") %></span></div>
<div class="privacy-data-request-confirm-msg privacy-data-request-msg"><span><%= data.t("privacy-data-request-confirmation-message") %></span></div>
<div class="privacy-data-request-error-msg privacy-data-request-msg"><span class="error-msg"><%= data.t("privacy-data-request-fail-message") %></span></div>
