<span class="header"><%= data.t("privacy-data-request-header") %></span>
<%= data.t("privacy-data-request-text") %>
<input id="privacy-data-request-email-input" type="email" name="email">
<div class="privacy-data-request-submit-button"><span><%= data.t("privacy-data-request-submit") %></span></div>
<div class="privacy-data-request-confirm-msg"><span><%= data.t("privacy-data-request-confirmation-message") %></span></div>
<div class="privacy-data-request-error-msg"><span><%= data.t("privacy-data-request-fail-message") %></span></div>


